<img class="banner" src="../../../assets/images/banner/manager-man-checking-finance-working 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div style="width:70%; margin: 0px auto;">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button [class]="selectedTab== 'Specialized_knowledge'? 'active': ''" (click)="selectedTab='Specialized_knowledge'" style="background-color: #FFFFFF; color: #186398;">
                    {{ language_name == 'vi' ? ('Kiến thức chuyên ngành') : ('Specialized knowledge') }}
                </button>
                <button [class]="selectedTab== 'Work_experience'? 'active': ''" (click)="selectedTab='Work_experience'">
                    {{ language_name == 'vi' ? ('Kinh nghiệm làm việc') : ('Work experience') }}
                </button>
                <button [class]="selectedTab== 'download'? 'active': ''" (click)="selectedTab='download'">
                    Download
                </button>
            </div>
        </div>
        <div class="tabPanel" >
            <div class="main-content">
                <h2>
                    {{ language_name == 'vi' ? ('HỆ THỐNG CHUẨN MỰC KẾ TOÁN VIỆT NAM') : ('VIETNAM ACCOUNTING STANDARDS SYSTEM') }}
                </h2>
                <div *ngFor="let item of system_vn">
                    <p>{{item.content_1[language_name] }}</p>
                    <ol>
                        <li>
                            {{ language_name == 'vi' ? ('Làm cơ sở xây dựng và hoàn thiện Chế độ kế toán cụ thể theo khuôn mẫu thống nhất;') : ('To serve as a basis for building and perfecting a specific accounting regime according to a unified template;') }}
                        </li>
                        <li>
                            {{item.content_2[language_name] }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Giúp cho kiểm toán viên đưa ra ý kiến về sự phù hợp của báo cáo tài chính với chuẩn mực kế toán và chế độ kế toán;') : ('Helping the auditor to express an opinion on the conformity of the financial statements with accounting standards and accounting regime;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Giúp cho người sử dụng báo cáo tài chính hiểu và đánh giá thông tin tài chính được lập phù hợp với các chuẩn mực kế toán và chế độ kế toán.') : ('Helping users of financial statements understand and evaluate financial information prepared in accordance with accounting standards and accounting regimes.') }}
                        </li>
                    </ol>
                    <p style="font-weight: bold; color: red;">
                        {{ language_name == 'vi' ? ('(*) Click vào icon để có thể xem chi tiết và download') : ('(*) Click on the icon to see details and download') }}
                    </p>
                    <table class="table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">
                                    {{ language_name == 'vi' ? ('Chuẩn mực') : ('Standard') }}
                                </th>
                                <th scope="col">
                                    {{ language_name == 'vi' ? ('Tên chuẩn mực') : ('Standard name') }}
                                </th>
                                <th scope="col">
                                    {{ language_name == 'vi' ? ('Tra cứu') : ('Search') }}
                                </th >
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 01') : ('STANDARD 01') }}</td>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC CHUNG') : ('GENERAL STANDARD') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 02') : ('STANDARD 02') }}</td>
                                <td>{{ language_name == 'vi' ? ('HÀNG TỒN KHO') : ('INVENTORY') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 03') : ('STANDARD 03') }}</td>
                                <td>{{ language_name == 'vi' ? ('TÀI SẢN CỐ ĐỊNH HỮU HÌNH') : ('TARGET FIXED ASSETS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 04') : ('STANDARD 04') }}</td>
                                <td>{{ language_name == 'vi' ? ('TÀI SẢN CỐ ĐỊNH VÔ HÌNH') : ('INTANGIBLE FIXED ASSETS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 05') : ('STANDARD 05') }}</td>
                                <td>{{ language_name == 'vi' ? ('BẤT ĐỘNG SẢN ĐẦU TƯ') : ('INVESTMENT REAL ESTATE') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 06') : ('STANDARD 06') }}</td>
                                <td>{{ language_name == 'vi' ? ('THUÊ TÀI SẢN') : ('LEASE ASSETS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 07') : ('STANDARD 07') }}</td>
                                <td>{{ language_name == 'vi' ? ('KẾ TOÁN CÁC KHOẢN ĐẦU TƯ VÀO CÔNG TY LIÊN KẾT') : ('ACCOUNTING OF INVESTMENTS IN AFFILIATES') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 08') : ('STANDARD 08') }}</td>
                                <td>{{ language_name == 'vi' ? ('THÔNG TIN TÀI CHÍNH VỀ NHỮNG KHOẢN VỐN GÓP LIÊN DOANH') : ('FINANCIAL INFORMATION ON CAPITAL CONTRIBUTIONS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 09') : ('STANDARD 09') }}</td>
                                <td>{{ language_name == 'vi' ? ('ẢNH HƯỞNG CỦA VIỆC THAY ĐỔI TỶ GIÁ HỐI ĐOÁI') : ('EFFECTS OF CHANGES IN EXCHANGE RATE') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 10') : ('STANDARD 10') }}</td>
                                <td>{{ language_name == 'vi' ? ('HỢP NHẤT KINH DOANH') : ('BUSINESS COMBINATION') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 11') : ('STANDARD 11') }}</td>
                                <td>{{ language_name == 'vi' ? ('DOANH THU VÀ THU NHẬP KHÁC') : ('REVENUE AND OTHER INCOME') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 12') : ('STANDARD 12') }}</td>
                                <td>{{ language_name == 'vi' ? ('HỢP ĐỒNG XÂY DỰNG') : ('CONSTRUCTION CONTRACT') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 13') : ('STANDARD 13') }}</td>
                                <td>{{ language_name == 'vi' ? ('CHI PHÍ ĐI VAY') : ('BORROWING COSTS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 14') : ('STANDARD 14') }}</td>
                                <td>{{ language_name == 'vi' ? ('THUẾ THU NHẬP DOANH NGHIỆP') : ('CORPORATE INCOME TAX') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 15') : ('STANDARD 15') }}</td>
                                <td>{{ language_name == 'vi' ? ('CÁC KHOẢN DỰ PHÒNG, TÀI SẢN VÀ NỢ TIỀM TÀNG') : ('PROVISIONS, ASSETS AND POTENTIAL LIABILITIES') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 16') : ('STANDARD 16') }}</td>
                                <td>{{ language_name == 'vi' ? ('HỢP ĐỒNG BẢO HIỂM') : ('AN INSURANCE CONTRACT') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 17') : ('STANDARD 17') }}</td>
                                <td>{{ language_name == 'vi' ? ('TRÌNH BÀY BÁO CÁO TÀI CHÍNH') : ('PRESENTATION OF SMALL FINANCIAL STATEMENTS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 18') : ('STANDARD 18') }}</td>
                                <td>{{ language_name == 'vi' ? ('TRÌNH BÀY BỔ SUNG BÁO CÁO TÀI CHÍNH CỦA CÁC NGÂN HÀNG VÀ TỔ CHỨC TÀI CHÍNH TƯƠNG TỰ') : ('SUPPLEMENTARY PRESENTATION OF FINANCIAL STATEMENTS OF BANKS AND SAME FINANCIAL INSTITUTIONS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 19') : ('STANDARD 19') }}</td>
                                <td>{{ language_name == 'vi' ? ('CÁC SỰ KIỆN PHÁT SINH SAU NGÀY KẾT THÚC KỲ KẾ TOÁN NĂM') : ('EVENTS AFTER THE END OF THE ACCOUNTING DATE') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 20') : ('STANDARD 20') }}</td>
                                <td>{{ language_name == 'vi' ? ('BÁO CÁO LƯU CHUYỂN TIỀN TỆ') : ('STATEMENTS OF CASH FLOWS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 21') : ('STANDARD 21') }}</td>
                                <td>{{ language_name == 'vi' ? ('BÁO CÁO TÀI CHÍNH HỢP NHẤT VÀ KẾ TOÁN KHOẢN ĐẦU TƯ VÀO CÔNG TY CON') : ('CONSOLIDATED FINANCIAL STATEMENTS AND ACCOUNTING OF INVESTMENTS IN SUBSIDIARIES') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 22') : ('STANDARD 22') }}</td>
                                <td>{{ language_name == 'vi' ? ('THÔNG TIN VỀ CÁC BÊN LIÊN QUAN') : ('INFORMATION ABOUT RELATED PARTIES') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 23') : ('STANDARD 23') }}</td>
                                <td>{{ language_name == 'vi' ? ('BÁO CÁO TÀI CHÍNH GIỮA NIÊN ĐỘ') : ('INTERIM FINANCIAL STATEMENTS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 24') : ('STANDARD 24') }}</td>
                                <td>{{ language_name == 'vi' ? ('BÁO CÁO BỘ PHẬN') : ('SECTION REPORT') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 25') : ('STANDARD 25') }}</td>
                                <td>{{ language_name == 'vi' ? ('THAY ĐỔI CHÍNH SÁCH KẾ TOÁN, ƯỚC TÍNH KẾ TOÁN VÀ CÁC SAI SÓT') : ('ACCOUNTING POLICY CHANGES, ACCOUNTING ESTIMATIONS AND ERRORS') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                            <tr>
                                <td>{{ language_name == 'vi' ? ('CHUẨN MỰC 26') : ('STANDARD 26') }}</td>
                                <td>{{ language_name == 'vi' ? ('LÃI TRÊN CỔ PHIẾU') : ('EARNINGS PER SHARE') }}</td>
                                <td style="text-align:center"><i class="fa fa-file"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        {{ language_name == 'vi' ? ('Bạn có thể tải bản đầy đủ:') : ('You can download the full version:') }}
                        <a href="#" >{{ language_name == 'vi' ? ('Taị đây') : ('Here') }}</a>
                    </p>
                    <h2 style="color: #000000;">
                        {{ language_name == 'vi' ? ('Kế toán Việt Nam – Nơi đào tạo tư duy kế toán chuyên nghiệp!') : ('Accounting Vietnam - A place to train professional accounting thinking!') }}
                    </h2>
                    <h4 class="text-center" style="color: #000000;">
                        {{ language_name == 'vi' ? ('Mọi chi tiết xin liên hệ:') : ('For more details please contact:') }}
                    </h4>
                    <h2>
                        {{ language_name == 'vi' ? ('CÔNG TY TNHH TƯ VẤN GIẢI PHÁP KẾ TOÁN VIỆT NAM') : ('VIETNAM ACCOUNTING SOLUTIONS CONSULTING COMPANY LIMITED') }} 
                    </h2>
                    <div class="phu" style="margin-bottom: 50px">
                        <p class="text-center" style="color: #186398; font-size: 24px;">
                            {{ language_name == 'vi' ? ('Cơ sở Cầu Giấy : P 910 Tòa nhà Sunrise Building số 90 Trần Thái Tông – Quận Cầu Giấy – TP Hà Nội.') : ('Cau Giay Campus : P 910 Sunrise Building No. 90 Tran Thai Tong - Cau Giay District - Hanoi City.') }}
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">{{ 
                            language_name == 'vi' ? ('Điện thoại: 04.32008354/04.32008364') : 
                            ('Phone: 04.32008354/04.32008364') }}
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">{{ 
                            language_name == 'vi' ? ('Hotline:') : 
                            ('Hotline:') }}
                            <span style="color: red">0967 66 1212</span>
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">
                            Website : ketoanvina.com.vn
                        </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
