<app-slide [is_right]="true"></app-slide>
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('TÌNH HUỐNG HỎI ĐÁP LIÊN QUAN KÊ KHAI THUẾ GIÁ TRỊ GIA TĂNG THEO TT80/2021/TT-BTC') : ('RELATED Q&A Scenarios VALUE-ADDED TAX DECLARATION BY TT80/2021/TT-BTC') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of ThueGTGT_TT80">
                    <img class="image-container" src="../../../../assets/images/home/3.png">
                    <p><strong>{{ item.content_1[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ language_name == 'vi' ? ('Căn cứ quy định tại khoản 1 Điều 13 Thông tư số 80/2021/TT-BTC ngày 29/9/2021 của Bộ Tài chính quy định về các trường hợp được phân bổ bao gồm:') : ('Pursuant to the provisions of Clause 1, Article 13 of Circular No. 80/2021/TT-BTC dated September 29, 2021 of the Ministry of Finance, stipulating the cases to be allocated include:') }}
                        </span>
                    </p>
                    <ol style="list-style-type: lower-latin;">
                        <li>
                            {{ language_name == 'vi' ? ('Hoạt động kinh doanh xổ số điện toán') : ('Electronic lottery business') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Hoạt động chuyển nhượng bất động sản, trừ trường hợp quy định tại điểm b khoản 1 Điều 11 Nghị định số 126/2020/NĐ-CP') : ('Real estate transfer, except for the case specified at Point b, Clause 1, Article 11 of Decree No. 126/2020/ND-CP') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Hoạt động xây dựng theo quy định của pháp luật về Hệ thống ngành kinh tế quốc dân và quy định của pháp luật chuyên ngành') : ('Construction activities in accordance with the law on the system of national economic branches and regulations of specialized law.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Đơn vị phụ thuộc, địa điểm kinh doanh là cơ sở sản xuất (bao gồm cơ sở gia công, lắp ráp), trừ trường hợp quy định tại điểm c khoản 1 Điều 11 Nghị định số 126/2020/NĐ-CP') : ('The dependent unit, the business location is a production establishment (including processing and assembly establishments), except for the case specified at point c, clause 1, Article 11 of Decree No. 126/2020/ND-CP') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Nhà máy thủy điện nằm trên nhiều tỉnh') : ('Hydropower plants located in many provinces') }}
                        </li>
                    </ol>
                    <p>{{ item.content_2[language_name] }}</p>
                    <p><strong>{{ item.content_3[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_4[language_name] }}
                        </span>
                    </p>
                    <p><strong>{{ item.content_5[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <ol style="list-style-type: decimal;">
                        <li>{{ item.content_6[language_name] }}</li>
                        <li>{{ item.content_7[language_name] }}</li>
                        <li>{{ item.content_8[language_name] }}</li>
                    </ol>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: DN có trụ sở tại Buôn Ma Thuột, có dự án điện mặt trời tại Đắk Nông thì khai thuế GTGT như thế nào?') : ('Question: Enterprises based in Buon Ma Thuot, have a solar power project in Dak Nong, how to declare VAT?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <ol style="list-style-type: decimal;">
                        <li>{{ item.content_9[language_name] }}</li>
                        <li>{{ item.content_10[language_name] }}</li>
                        <li>{{ item.content_11[language_name] }}</li>
                    </ol>
                    <p><strong>{{ item.content_12[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('- Tại điểm b khoản 1 Điều 11 Nghị định số 126/2020/NĐ-CP quy định:') : ('- At Point b, Clause 1, Article 11 of Decree No. 126/2020/ND-CP stipulates:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('"Điều 11. Địa điểm nộp hồ sơ khai thuế: Người nộp thuế thực hiện các quy định về địa điểm nộp hồ sơ khai thuế theo quy định tại khoản 1, khoản 2 và khoản 3 Điều 45 Luật Quản lý thuế và các quy định sau đây:') : ('"Article 11. Location for submitting tax declaration dossiers: Taxpayers shall comply with regulations on places to submit tax declaration dossiers as prescribed in Clauses 1, 2 and 3, Article 45 of the Law on Tax Administration and other regulations as the following:') }}
                    </p>
                    <ol style="list-style-type: decimal;">
                        <li>{{ item.content_13[language_name] }}</li>
                        <p>
                            {{ language_name == 'vi' ? ('b) Khai thuế giá trị gia tăng đối với hoạt động chuyển nhượng bất động sản của dự án đầu tư cơ sở hạ tầng, nhà để chuyển nhượng (bao gồm cả trường hợp có thu tiền ứng trước của khách hàng theo tiến độ) tại nơi có hoạt động chuyển nhượng bất động sản.') : ('b) Declare value-added tax for real estate transfer of infrastructure investment projects, houses for transfer (including the case where advance payment is collected from customers according to the schedule) at where the real estate transaction takes place.') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('- Tại điểm b khoản 1, điểm b khoản 2 và điểm b khoản 3 Điều 13 Thông tư số 80/2020/TT-BTC quy định:') : ('- At Point b, Clause 1, Point b, Clause 2 and Point b, Clause 3, Article 13 of Circular No. 80/2020/TT-BTC stipulates:') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('"Điều 13. Khai thuế, tính thuế và phân bổ thuế GTGT:') : ('"Article 13. Tax declaration, tax calculation and distribution of VAT:') }}
                        </p>
                        <li>
                            {{ language_name == 'vi' ? ('Các trường hợp được phân bổ:') : ('Allotted cases:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('b) Hoạt động chuyển nhượng bất động sản, trừ trường hợp quy định tại điểm b khoản 1 Điều 11 Nghị định số 126/2020/NĐ-CP.') : ('b) Real estate transfer activities, except for the case specified at Point b, Clause 1, Article 11 of Decree No. 126/2020/ND-CP.') }}
                        </p>
                        <li>
                            {{ language_name == 'vi' ? ('Phương pháp phân bổ:') : ('Allocation method:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('b) Phân bổ thuế giá trị gia tăng phải nộp đối với hoạt động chuyển nhượng bất động sản: Số thuế giá trị gia tăng phải nộp cho từng tỉnh của hoạt động chuyển nhượng bất động sản bằng (=) doanh thu chưa có thuế giá trị gia tăng đối với hoạt động chuyển nhượng bất động sản tại từng tỉnh nhân (x) với 1%.') : ('b) Allocation of payable value-added tax for real estate transfer: The amount of value-added tax payable to each province of real estate transfer is equal to (=) revenue exclusive of value-added tax have value added for real estate transfer in each province (x) with 1%.') }}
                        </p>
                        <li>
                            {{ language_name == 'vi' ? ('Khai thuế, nộp thuế:') : ('Tax declaration and payment:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('b) Đối với hoạt động chuyển nhượng bất động sản:') : ('b) For real estate transfer:') }}
                        </p>
                        <p>{{ item.content_14[language_name] }}</p>
                        <p>{{ item.content_15[language_name] }}</p>
                        <p>{{ item.content_16[language_name] }}</p>
                    </ol>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Tờ khai 01/GTGT ban hành kèm theo Thông tư 80 có thêm chỉ tiêu 23a và 24a. Xin hỏi chỉ tiêu này được khai như thế nào?') : ('Question: The declaration 01/GTGT issued together with Circular 80 has additional targets 23a and 24a. How is this indicator declared?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <p>{{ item.content_17[language_name] }}</p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Công ty có hoạt động xây dựng trên địa bàn trong tỉnh, khi thanh toán, kho bạc thực hiện khấu từ 2% thuế GTGT. Theo Thông tư 156, biểu mẫu 01GTKT có bảng kê 01-5/GTKT để khai số thuế GTGT vãng lai đã nộp. Công ty phải thực hiện kê khai thế nào đối với số thuế vãng lai đã tạm nộp cho hoạt động xây dựng?') : ('Question: The company has construction activities in the province. When making payment, the treasury will deduct from 2% VAT. According to Circular 156, the form 01GTKT has the list 01-5/GTKT to declare the amount of current VAT already paid. How should the company declare the temporary payment of current tax for construction activities?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <p>{{ item.content_18[language_name] }}</p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi:  Xin hỏi nội dung chỉ tiêu [39a] trong tờ khai 01/GTGT "thuế giá trị gia tăng nhận bàn giao được khấu trừ trong kỳ" được hiểu như thế nào?') : ('Question: How is the content of target [39a] in declaration 01/GTGT ​​"value added tax received and handed over deductible in the period" to be understood?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <p>{{ item.content_19[language_name] }}</p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Công ty có hoạt động xây dựng khác tỉnh, TP với trụ sở chính. Tờ khai thuế GTGT theo Thông tư 80, đã nộp thuế vãng lai 2% thì kê khai vào chỉ tiêu nào trên tờ khai và phụ lục?') : ('Question: Does the company have construction activities in a different province or city with its headquarters. VAT declaration according to Circular 80, having paid the current 2% tax, which item should be declared on the declaration and the appendix?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <p>{{ item.content_20[language_name] }}</p>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
