<img class="banner" src="../../../assets/images/banner/manager-man-checking-finance-working 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div style="width:70%; margin: 0px auto;">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button [class]="selectedTab== 'Specialized_knowledge'? 'active': ''" (click)="selectedTab='Specialized_knowledge'" style="background-color: #FFFFFF; color: #186398;">
                    {{ language_name == 'vi' ? ('Kiến thức chuyên ngành') : ('Specialized knowledge') }}
                </button>
                <button [class]="selectedTab== 'Work_experience'? 'active': ''" (click)="selectedTab='Work_experience'">
                    {{ language_name == 'vi' ? ('Kinh nghiệm làm việc') : ('Work experience') }}
                </button>
                <button [class]="selectedTab== 'download'? 'active': ''" (click)="selectedTab='download'">
                    Download
                </button>
            </div>
        </div>
        <div class="tabPanel" >
            <div class="main-content">
                <h2>
                    {{ language_name == 'vi' ? ('Những điểm mới của TT200/2014/TT-BTC') : ('New features of TT200/2014/TT-BTC') }}
                </h2>
                <div *ngFor="let item of system_vn">

                    <ol>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('ĐƯỢC DÙNG NGOẠI TỆ LÀM ĐƠN VỊ TIỀN TỆ ĐỂ GHI SỔ KẾ TOÁN') : ('FOREIGN CURRENCY USED AS UNIT OF ACCOUNTING CURRENCY') }}
                        </li>
                        <p>{{item.content_1[language_name]}}</p>
                        <p>{{item.content_2[language_name]}}</p>
                        <p>{{item.content_3[language_name]}}</p>
                        <p>{{item.content_4[language_name]}}</p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('TÀI KHOẢN KẾ TOÁN') : ('ACCOUNTING ACCOUNTS') }}
                        </li>
                        <ol style="list-style-type: decimal;">
                            <li>
                                {{ language_name == 'vi' ? ('Các tài khoản Tài Sản không phân biệt ngắn hạn và dài hạn.') : ('Asset accounts do not distinguish short-term and long-term.') }}
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Bỏ tài khoản: 129, 139, 142, 144, 159, 311, 315, 342, 351, 415, 431, 512, 531, 532 và toàn bộ tài khoản ngoài bảng') : ('Drop accounts: 129, 139, 142, 144, 159, 311, 315, 342, 351, 415, 431, 512, 531, 532 and all off-balance sheet accounts') }}
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Thêm tài khoản:') : ('Add more account:') }}
                            </li>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 171 – Giao dịch mua, bán lại trái phiếu Chính phủ') : ('Account 171 – Purchase and resale of government bonds') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 353 – Quỹ khen thưởng, phúc lợi') : ('Account 353 – Bonus and welfare fund') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 356 – Quỹ phát triển khoa học và công nghệ') : ('Account 356 – Science and Technology Development Fund') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 357 – Quỹ bình ổn giá') : ('Account 357 – Price stabilization fund') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 417 – Quỹ hỗ trợ sắp xếp doanh nghiệp') : ('Account 417 – Business arrangement support fund') }}</p>
                            <li>
                                {{ language_name == 'vi' ? ('Thay đổi các tài khoản sau:') : ('Change the following accounts:') }}
                            </li>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 121 – Chứng khoán kinh doanh (trước đây gọi là Đầu tư chứng khoán ngắn hạn)') : ('Account 121 – Trading securities (formerly known as Short-term securities investment)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 128 – Đầu tư nắm giữ đến ngày đáo hạn (trước đây là Đầu tư ngắn hạn khác)') : ('Account 128 – Held-to-Maturity Investments (formerly Other Short-Term Investments)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 222 – Đầu tư vào công ty liên doanh, liên kết (trước đây là Góp vốn liên doanh)') : ('Account 222 – Investments in joint ventures and associates (formerly Joint venture capital contribution)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 228 – Đầu tư khác (trước đây là Đầu tư dài hạn khác)') : ('Account 228 – Other Investments (formerly Other Long-Term Investments)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 229 – Dự phòng tổn thất tài sản (trước đây là Dự phòng giảm giá đầu tư dài hạn)') : ('Account 229 – Provision for loss of assets (formerly Provision for devaluation of long-term investments)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 242 – Chi phí trả trước (trước đây là Chi phí trả trước dài hạn)') : ('Account 242 – Prepaid expenses (formerly Long-term prepaid expenses)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 244 – Cầm cố, thế chấp, ký quỹ, ký cược (trước đây là Ký quỹ, ký cược dài hạn)') : ('Account 244 – Mortgage, mortgage, escrow, escrow (formerly Margin, long-term deposit)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 341 – Vay và nợ thuê tài chính (trước đây là Vay dài hạn)') : ('Account 341 – Loans and financial lease liabilities (formerly long-term loans)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 343 – Nhận ký quỹ, ký cược (trước đây là Nhận ký quỹ, ký cược dài hạn)') : ('Account 343 – Get a deposit, make a deposit (formerly Get a deposit, make a long-term deposit)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 411 – Vốn đầu tư của chủ sở hữu (trước đây là Nguồn vốn kinh doanh)') : ('Account 411 – Owner`s investment capital (formerly Business capital)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 421 – Lợi nhuận sau thuế chưa phân phối (trước là Lợi nhuận chưa phân phối)') : ('Account 421 – Undistributed profit after tax (previously Undistributed profit)') }}</p>
                            <p>{{ language_name == 'vi' ? ('Tài khoản 521 – Các khoản giảm trừ doanh thu (gộp 3 tài khoản 521, 531, 532 trước đây)') : ('Account 521 – Sales deductions (previous 3 accounts 521, 531, 532)') }}</p>
                        </ol>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('BÁO CÁO TÀI CHÍNH') : ('FINANCIAL REPORT') }}
                        </li>
                        <ol style="list-style-type: decimal;">
                            <li>
                                {{ language_name == 'vi' ? ('Thông tin bắt buộc trong BCTC không còn “Thuế và các khoản nộp Nhà nước”.') : ('The required information in the financial statements is no longer “Taxes and payments to the State”.') }} 
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Kỳ lập BCTC giữa niên độ sẽ gồm BCTC quý (cả quý IV) và BCTC bán niên (trước chỉ yêu cầu BCTC quý và không cần quý IV).') : ('The interim financial statement preparation period will include quarterly financial statements (both fourth quarter) and semi-annual financial statements (previously only quarterly financial statements are required and not fourth quarters).') }} 
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Thêm các quy định mới về Xây dựng nguyên tắc kế toán và BCTC khi doanh nghiệp không đáp ứng giả định hoạt động liên tục (Điều 106).') : ('Add new regulations on Developing accounting principles and financial statements when enterprises do not meet the going concern assumption (Article 106).') }} 
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Sử đổi, bổ sung nhiều chỉ tiêu của Bảng Cân đối kế toán, cụ thể:') : ('Amending and supplementing many items of the Balance Sheet, specifically:') }} 
                            </li>
                            <p>
                                {{ language_name == 'vi' ? ('Mã số 120 = Mã số 121 + 122 +123 (trước đây là 121 + 129)') : ('Code 120 = Code 121 + 122 +123 (formerly 121 + 129)') }}
                            </p>
                            <p>
                                {{ language_name == 'vi' ? ('Mã số 130 = 131 + 132 + 133 + 134 + 135 +136 +137 +139 (trước đây không có 136, 137)') : ('Code 130 = 131 + 132 + 133 + 134 + 135 +136 +137 +139 (previously did not have 136, 137)') }}
                            </p>
                            <p>
                                {{ language_name == 'vi' ? ('Mã số 150 = 151 + 152 +153 +154 + 155 (trước đây không có 153, 154 nhưng có 158)') : ('Code 150 = 151 + 152 +153 +154 + 155 (previously no 153, 154 but got 158)') }}
                            </p>
                            <p>
                                {{ language_name == 'vi' ? ('Mã số 200 = 210 + 220 + 230 + 240 +250 +260 (trước đây không có 230)') : ('Code 200 = 210 + 220 + 230 + 240 +250 +260 (previously no 230)') }}
                            </p>
                            <li>
                                {{ language_name == 'vi' ? ('Phần Thuyết minh báo cáo tài chính cũng có nhiều sự thay đổi, bổ sung các chỉ tiêu như:') : ('The Notes to the financial statements also have many changes and additions to indicators such as:') }} 
                            </li>
                            <ul>
                                <li>
                                    {{item.content_5[language_name]}}
                                </li>
                                <li>
                                    {{item.content_6[language_name]}}
                                </li>
                                <li>
                                    {{item.content_7[language_name]}}
                                </li>
                            </ul>
                        </ol>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('CHỨNG TỪ KẾ TOÁN') : ('FINANCIAL PAPER') }}
                        </li>
                        <p>{{item.content_8[language_name]}}</p>
                        <p>{{item.content_9[language_name]}}</p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('SỔ KẾ TOÁN') : ('ACCOUNTING BOOK') }}
                        </li>
                        <p>{{item.content_10[language_name]}}</p>
                        <p>
                            {{ language_name == 'vi' ? ('Ngoài ra, Thông tư còn có quy định mới hướng dẫn chuyển đổi số dư trên sổ kế toán.') : ('In addition, the Circular also contains new regulations guiding the conversion of balances in accounting books.') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('Thông tư này có hiệu lực từ ngày 05/02/2015 và áp dụng cho năm tài chính bắt đầu hoặc sau ngày 01/01/2015') : ('This Circular takes effect from February 5, 2015 and applies to the financial year starting or after January 1, 2015.') }}
                        </p>
                    </ol>
                    <h2 style="color: #000000;">
                        {{ language_name == 'vi' ? ('Kế toán Việt Nam – Nơi đào tạo tư duy kế toán chuyên nghiệp!') : ('Accounting Vietnam - A place to train professional accounting thinking!') }}
                    </h2>
                    <h4 class="text-center" style="color: #000000;">
                        {{ language_name == 'vi' ? ('Mọi chi tiết xin liên hệ:') : ('For more details please contact:') }}
                    </h4>
                    <h2>
                        {{ language_name == 'vi' ? ('CÔNG TY TNHH TƯ VẤN GIẢI PHÁP KẾ TOÁN VIỆT NAM') : ('VIETNAM ACCOUNTING SOLUTIONS CONSULTING COMPANY LIMITED') }} 
                    </h2>
                    <div class="phu" style="margin-bottom: 50px">
                        <p class="text-center" style="color: #186398; font-size: 24px;">
                            {{ language_name == 'vi' ? ('Cơ sở Cầu Giấy : P 910 Tòa nhà Sunrise Building số 90 Trần Thái Tông – Quận Cầu Giấy – TP Hà Nội.') : ('Cau Giay Campus : P 910 Sunrise Building No. 90 Tran Thai Tong - Cau Giay District - Hanoi City.') }}
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">{{ 
                            language_name == 'vi' ? ('Điện thoại: 04.32008354/04.32008364') : 
                            ('Phone: 04.32008354/04.32008364') }}
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">{{ 
                            language_name == 'vi' ? ('Hotline:') : 
                            ('Hotline:') }}
                            <span style="color: red">0967 66 1212</span>
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">
                            Website : ketoanvina.com.vn
                        </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
</div>
