
@media screen and (min-width: 1100px) {
    h3{
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        color: rgba(1, 51, 139, 1);
    }
    .infor{
        display: flex;
        padding: 10px;
        span{
            background-color:rgba(238, 238, 238, 1) ;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            font-size: 24px;
            font-weight: 400;
            color: #111;
            padding: 15px;
        }
        input{
            background-color:rgba(238, 238, 238, 1) ;
            outline: none;
            border: none;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 24px;
            font-weight: 400;
            color: #111;
            flex: 1;
            padding: 15px;
        }
    }
    button{
        color: #ffffff;
        border-radius: 30px;
        padding: 10px 30px;
        background-color: rgba(52, 156, 217, 1);
        font-size: 24px ;
        font-weight: 700px;
        border: none;
        outline: none;
    }
    .send{
        background-color: #349CD9;
        font-size: 22px;
        width: 200px;
        height: 70px;
        border-radius: 40px;
        color: #FFFFFF;
        border: 1px solid #349CD9;
        position: relative;
        left: 38%;
      }
}

@media screen and (max-width: 700px) {
    .send{
        background-color: #349CD9;
        font-size: 22px;
        width: 100%;
        height: 50px;
        border-radius: 30px;
        color: #FFFFFF;
        border: 1px solid #349CD9;
        text-align: center;
        align-items: center;
    }

    h3{
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        color: rgba(1, 51, 139, 1);
    }
    .infor{
        padding: 10px;
        span{
            background-color:rgba(238, 238, 238, 1) ;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            font-size: 24px;
            font-weight: 400;
            color: #111;
            padding: 15px;
        }
        input{
            background-color:rgba(238, 238, 238, 1) ;
            outline: none;
            border: none;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            font-size: 24px;
            font-weight: 400;
            color: #111;
            flex: 1;
            padding: 15px;
        }
    }
    button{
        color: #ffffff;
        border-radius: 30px;
        padding: 10px 30px;
        background-color: rgba(52, 156, 217, 1);
        font-size: 24px ;
        font-weight: 700px;
        border: none;
        outline: none;
    }
} 

h3 {
    font-size: 36px;
    font-weight: 500;
    color: #1C417A; 
    font-weight: bold; 
    text-align: center;
}

.input-style {
    height: 55px;
    border-radius: 20px;
    background: rgba(28, 65, 122, 0.1);
    background-color: #EEEEEE;
    padding-left: 40px;
}

