
<!-- <div>
    <h3>{{ language_name == 'vi' ? ('THÔNG TIN ỨNG VIÊN') : ('CANDIDATE INFORMATION') }}</h3>
    <div class style="display: flex;" class="infor">
        <span>{{data_translate.name[language_name]}}</span>
        <input type="text" name="" id="">
    </div>
    <div  style="display: flex;" class="infor">
        <span>Email:</span>
        <input type="text" name="" id="">
    </div>
    <div style="display: flex;" class="infor">
        <span>{{data_translate.phone[language_name]}}</span>
        <input type="text" name="" id="">
    </div>
    <div style="display: flex;" class="infor">
        <span>{{data_translate.nominee[language_name]}}</span>
        <input type="text" name="" id="">
    </div>
    <div style="display: flex;" class="infor">
        <span>{{data_translate.upload[language_name]}}</span>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
        </form>
    </div>
    <div style="display: flex; justify-content: center;">
        <button>{{ language_name == 'vi' ? ('Gửi') : ('Send') }}</button>
    </div>
</div> -->
<div class="section-empty">
    <div class="content">
        <h3>{{ language_name == 'vi' ? ('THÔNG TIN ỨNG VIÊN') : ('CANDIDATE INFORMATION') }}</h3>
        <hr class="space s" />
        <div class="register-main">
            <div class="register-content">
                <form action="#" class="form-box form-ajax" method="post">
                    <div class="row">
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="name" name="name" placeholder="{{data_translate.name[language_name]}}" type="text" class="form-control form-value input-style" required />
                        </div>
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="email" name="email" placeholder="{{data_translate.email[language_name]}}" type="email" class="form-control form-value input-style" required />
                        </div>
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="phone" name="phone" placeholder="{{data_translate.phone[language_name]}}" type="text" class="form-control form-value input-style" required />
                        </div>
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="phone" name="phone" placeholder="{{data_translate.nominee[language_name]}}" type="text" class="form-control form-value input-style" required />
                        </div>
                        <div class="col-md-12" style="padding-bottom: 20px;">
                            <span>{{data_translate.upload[language_name]}}</span>
                            <input id="phone" name="phone" placeholder="{{data_translate.upload[language_name]}}" type="file" class="form-control form-value input-style" required />
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <hr class="space" />
    <div>
        <button class="send">{{ language_name == 'vi' ? ('Gửi') : ('Send') }}</button>
    </div>
</div>


