<div class="container-fluid page">
    <div class="page_box">
        <br>
        <p>Chi tiết tin tức</p>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <br>
        <div class = "table" style="width: 95%;" *ngIf="news_list | async as New_list">
            <div class="new-item" style="position: relative;" *ngFor="let New of New_list">
                <h3 style="width: 98%;">{{ New.mo_ta }}</h3>
                <p [innerHTML]="New.noi_dung"></p>
            </div>
        </div>
    </div>
</div>

