@media screen and (min-width: 1100px) {
  .border-left {
    border-right: none;
    padding-left: 10px;
    padding-right: 0;
  }
  .border-right {
    border-left: none;
    padding-right: 10px;
    padding-left: 0;
  }
  .row-reserve {
    flex-direction: row-reverse;
  }
  .image-right {
    justify-content: right;
  }
  #research-head{
    display: flex;
    width: 60%;
    margin: 0px auto;
    // margin-right: 250px;
    // margin-left: 250px;
    .research-title{
      flex-basis: 63%;
      max-width: 100%;
      width: 100%;
      font-size: 30px;
      font-weight: bold; 
      color: #054C82; 
      margin: auto;
      .research-title-caption{
        margin-left: 40px;
        margin-top: 50px;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        ul, li{
          list-style: none; 
          color: #054C82;
          font-weight: 700;
        }
        p{
          max-width: 100%;
          width: 90%;
          font-size: 30px;
          font-weight: bold; 
          color: #054C82; 
          margin-bottom: 30px;
          margin-left: 30px;
        }
      }
    }
    #image-title{
      width: 700px;
      height: 360px;
      flex-basis: 62%; 
      max-width: 100%; 
      width: 100%; 
      display: inline-flex;
    }
  }
  #research-body{
    display: flex; 
    justify-content: space-between; 
    margin: 10px 0;
    .research-body-section{
      flex-basis: 30%; 
      max-width: 30%; 
      width: 30%;
    }
    .research-body-section-content{
      flex-basis: 60%; 
      max-width: 60%; 
      width: 60%;
    }
  }
}


@media screen and (max-width: 700px){
  #research-head{
    width: 100%;
    // margin-right: 250px;
    // margin-left: 250px;
    .research-title{
      max-width: 100%;
      width: 100%;
      font-size: 30px;
      font-weight: bold; 
      color: #054C82; 
      .research-title-caption{
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        padding-bottom: 10px;
        padding-top: 10px;
        ul, li{
          list-style: none; 
          color: #054C82;
          font-weight: 700;
        }
        p{
          max-width: 100%;
          width: 100%;
          font-size: 30px;
          font-weight: bold; 
          color: #054C82; 
          margin-bottom: 10px;
          margin-left: 30px;
        }
      }
    }
    #image-title{
      width: 100%;
      height: auto;
      img{
        width: 100%;
        margin: 0px auto;
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  #research-content{
    margin-top: 300px;
  }
  #research-head{
    display: flex;
    .research-title{
      flex-basis: 40%;
      max-width: 100%;
      width: 100%;
      font-size: 34px;
      font-weight: bold;
      color: #1C417A; 
      line-height: 50px; 
      margin: auto;
    }
    #image-title{
      flex-basis: 50%; 
      max-width: 100%; 
      width: 100%;
      position: relative;
      top: -300px;
    }
  }
}