<div style="margin: 40px 0;" >
    <div id="research-content" [class]="index % 2 == 0 ? 'border-left': 'border-right'">
        <div id="research-head" [class.row-reserve]="index % 2 != 0">
            
            
            <div id="image-title">
                <img [src]="'../../../assets/images/research/' + data.img" />
            </div>
            <div class="research-title">
                
                <div class="research-title-caption">
                    <p>{{ data.title[language_name] }}</p>
                    <ul>
                        <a [routerLink]="data.content.content_1.link">
                            <li>{{ data.content.content_1[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_2.link">
                            <li>{{ data.content.content_2[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_3.link">
                            <li>{{ data.content.content_3[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_4.link">
                            <li>{{ data.content.content_4[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_5.link">
                            <li>{{ data.content.content_5[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_6.link">
                            <li>{{ data.content.content_6[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_7.link">
                            <li>{{ data.content.content_7[language_name] }}</li>
                        </a>
                        <a [routerLink]="data.content.content_8.link">
                            <li>{{ data.content.content_8[language_name] }}</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

