<app-slide [is_right]="true"></app-slide>
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('TÌNH HUỐNG HỎI ĐÁP LIÊN QUAN KÊ KHAI THUẾ THU NHẬP DOANH NGHIỆP THEO TT80/2021/TT-BTC') : ('RELATED QUESTIONS AND ANSWERS OF CORPORATE INCOME TAX DECLARATION BY TT80/2021/TT-BTC') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of ThueGTGT_TNDN">
                    <img class="image-container" src="../../../../assets/images/home/3.png">
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Doanh nghiệp của tôi có phát sinh thu nhập từ hoạt động chuyển nhượng bất động sản thực hiện khai thuế, nộp thuế thu nhập doanh nghiệp như thế nào?') : ('Question: Does my business generate income from real estate transfer, how to declare and pay corporate income tax?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ language_name == 'vi' ? ('Căn cứ quy định tại điểm e khoản 4 ,điểm b khoản 6 Điều 8, điểm a khoản 6 Điều 11 Nghị định số 126/2020/NĐ-CP và điểm b khoản 1,2,3 Điều 17 Thông tư số 80/2021/TT-BTC:') : ('Pursuant to the provisions of Point e, Clause 4, Point b, Clause 6, Article 8, Point a, Clause 6, Article 11 of Decree No. 126/2020/ND-CP and Point b Clauses 1,2,3 Article 17 of Circular No. 80/2021/TT-BTC:') }}
                        </span>
                    </p>
                    <p>{{ item.content_1[language_name] }}</p>
                    <p>{{ item.content_2[language_name] }}</p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Công ty của tôi có đơn vị phụ thuộc, địa điểm kinh doanh khác tỉnh, thành phố nơi có trụ sở chính có thu nhập được hưởng ưu đãi thuế thu nhập doanh nghiệp thì thực hiện khai thuế, nộp thuế thu nhập doanh nghiệp như thế nào?') : ('Question: My company has a dependent unit, a business location other than the province or city where it is headquartered, and has income that is eligible for corporate income tax incentives career like?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_3[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Doanh nghiệp có phát sinh doanh thu của dịch vụ thực hiện ngoài Việt Nam thì thực hiện kê khai thuế, nộp thuế TNDN như thế nào?') : ('Question: Businesses that generate revenue from services performed outside of Vietnam, how do they declare and pay CIT?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_4[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_5[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_6[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_7[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_8[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_9[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_10[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_11[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_12[language_name] }}
                        </span>
                    </p>
                    <ul>
                        <li>{{ item.content_13[language_name] }}</li>
                        <li>{{ item.content_14[language_name] }}</li>
                    </ul>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Công ty có nhiều chi nhánh sản xuất thức ăn chăn nuôi hạch toán phụ thuộc tại nhiều tỉnh thành khác nhau, các chi nhánh được hưởng mức ưu đãi thuế TNDN khác nhau. Xin hỏi Công ty thực hiện khai thuế TNDN như thế nào, Tờ khai thuế TNDN là mẫu nào? ') : ('Question: The company has many branches producing animal feed with dependent accounting in many different provinces, branches enjoy different CIT incentives. How does the company make CIT declaration, which form is the CIT return?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_15[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_16[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_17[language_name] }}
                        </span>
                    </p>
                    <ul>
                        <li>{{ item.content_18[language_name] }}</li>
                        <li>{{ item.content_19[language_name] }}</li>
                    </ul>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi : Công ty muốn điều chỉnh báo cáo các năm trước: Báo cáo tài chính và quyết toán thì áp dụng theo thông tư cũ hay Thông tư 80?') : ('Question : The company wants to adjust the reports of previous years: Should the financial statements and final settlements be according to the old circular or the 80th circular?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_20[language_name] }}
                        </span>
                    </p>
                    <p>{{ item.content_21[language_name] }}</p>
                    <p>{{ item.content_22[language_name] }}</p>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
