@media screen and (min-width: 1100px) {
  .banner{
      display: flex;
      width: 100%;
      height: 600px;
  }

  .tabContainer{
      width: 100%;
      button{
          font-size: 24px;
          color: #FFFFFF;
          width: 32%;
          height: 100%;
          border: none;
          outline:none;
          cursor: pointer;
          padding: 25px;
          font-family: Roboto;
          font-size: 18px;
          background-color: #186398;
          &:hover{
              background-color: #FFFFFF;
              color: #186398;
          }
      }

  }
  .tabPanel{
      width: 96%;
      background-color: #ffffff;
      margin-right: 60px;
      height: 1048px;
  }
  .content-infor{
    background-color: rgba(24, 99, 152, 0.1);
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 15px;
    .infor-menu{
      font-family: Roboto;
      font-size: 20px;
      color: #186398;
      margin-left: 20px;
      margin-right: 20px;
      font-weight: 700;
      display: flex;
      flex-direction: row;
    }
    button{
      font-size: 24px;
      border-radius: 15px;
      padding: 15px;
      color: #01338C;
      background-color: #ffffff;
      border: 1px solid #00368A;
      box-sizing: border-box;
      font-weight: 500;
    }
    span, button{
       margin: 20px 0;
    }
    span{
      align-items: center;
    }
  }
}

@media screen and (max-width: 700px) {
  .banner{
    display: flex;
    width: 100%;
    height: 600px;
  }
  .tabContainer{
    width: 100%;
    button{
      font-size: 24px;
      color: #FFFFFF;
      width: 100%;
      height: 100%;
      border: none;
      outline:none;
      cursor: pointer;
      padding: 25px;
      font-family: Roboto;
      font-size: 18px;
      background-color: #186398;
      &:hover{
        background-color: #FFFFFF;
        color: #186398;
      }
    }
  }
  .tabPanel{
    width: 100%;
    background-color: #ffffff;
    margin-right: 60px;
    height: 1048px;
  }
  .content-infor{
    background-color: rgba(24, 99, 152, 0.1);
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    height: auto;

    .infor-menu{
      font-family: Roboto;
      font-size: 15px;
      color: #186398;
      margin-left: 20px;
      font-weight: 700;
      margin-right: 50px;
      justify-content: space-between;
      display: flex;
    }
    button{
      margin: 5px 0;
      font-size: 15px ;
      font-weight: 700;
      border-radius: 15px;
      padding: 20px;
      color: #01338C;
      background-color: #ffffff;
      border: 1px solid #00368A;
      box-sizing: border-box;
      margin-left: 20px;
    }
  }
}
