<img class="banner" src="../../../assets/images/banner/manager-man-checking-finance-working 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div style="width:70%; margin: 0px auto;">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button [class]="selectedTab== 'Specialized_knowledge'? 'active': ''" (click)="selectedTab='Specialized_knowledge'">
                    {{ language_name == 'vi' ? ('Kiến thức chuyên ngành') : ('Specialized knowledge') }}
                </button>
                <button [class]="selectedTab== 'Work_experience'? 'active': ''" (click)="selectedTab='Work_experience'">
                    {{ language_name == 'vi' ? ('Kinh nghiệm làm việc') : ('Work experience') }}
                </button>
                <button [class]="selectedTab== 'download'? 'active': ''" (click)="selectedTab='download'">
                    Download
                </button>
            </div>
        </div>
        <div class="tabPanel">
            <div *ngFor="let item of listContent[selectedTab];" style="display: flex; flex-direction: column;">
              <br>
              <div class="content-infor">
                  <div class="infor-menu">
                    <span class="name">{{item.content[language_name]}}</span>
                    <hr>
                    <button>
                      <a [routerLink]="item.link">{{ language_name == 'vi' ? ('Xem Thêm') : ('View more') }}</a>
                    </button>
                  </div>
              </div>
              <ng-template
               *ngIf="listContent[selectedTab] == 'download'">
                  <ul>
                      <li>ssss</li>
                      <li>ss</li>
                      <li>ss</li>
                      <li>ssss</li>
                  </ul>
              </ng-template>
            </div>
        </div>
    </div>

</div>
