<div class="wrapper">
    <div class="text-center" style="font-size: 18px; font-weight: bold">{{action}} Việc Làm</div>
    <br>
    <form class="form" [formGroup]="fg">
        <mat-form-field class="full-width">
            <mat-label>Tên công ty</mat-label>
            <input required matInput formControlName="ten_viec_lam">
        </mat-form-field>
        <mat-label>Ảnh đại diện</mat-label>
        <input required type="file" (change)="uploadFile($event)">
        <img [src]="jobformdata.anh">
        <mat-form-field class="full-width">
            <mat-label>Địa chỉ</mat-label>
            <input required matInput formControlName="dia_chi">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Tuyển dụng vị trí</mat-label>
            <textarea required matInput formControlName="mo_ta"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Mức lương</mat-label>
            <input required matInput type="number" formControlName="muc_luong" placeholder="Chỉ được nhập dữ liệu dạng số">
        </mat-form-field>
    </form>
</div>
<div class="text-center">
    <button mat-button (click)="Action()" mat-flat-button color="primary" [disabled]="!fg.valid">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Hủy Bỏ</button>
</div>
