<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Dịch vụ làm Báo cáo tài chính tại Hà Nôị') : 
            ('Financial reporting services in Hanoi') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <p>{{ item.content_2[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 7.png">
                    <p style="font-weight: bold; color: red; font-size: 20px;">
                        {{ 
                            language_name == 'vi' ? ('Kế toán Việt Nam là một lựa chọn tốt nhất để làm dịch vụ báo cáo tài chính cho quý doanh nghiệp, đó là bởi:') : 
                            ('Accounting Vietnam is the best choice to provide financial reporting services for your business, that`s because:') }}
                    </p>
                    <ul>
                        <li>{{ item.content_3[language_name] }}</li>
                        <li>{{ item.content_4[language_name] }}</li>
                        <li>{{ 
                            language_name == 'vi' ? ('Chúng tôi hoàn toàn chịu trách nhiệm với những gì đã làm, cam kết nộp phạt toàn bộ nếu làm sai.') : 
                            ('We are fully responsible for what we have done, committed to paying a full fine if we do it wrong.') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Dịch vụ Báo cáo tài chính luôn cung cấp cho quý khách hàng các báo cáo thuế, số liệu, con số lãi, lỗ chính xác và kịp thời, nhanh chóng nhất.') : 
                            ('Financial Reporting Services always provide customers with accurate and timely tax reports, figures, profit and loss figures.') }}
                        </li>
                    </ul>
                    <p>{{ item.content_5[language_name] }}</p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Thu thập hồ sơ tài chính, chứng từ kế toán để sắp xếp, phân loại, kiểm tra chứng từ kế toán về tính hợp lý, hợp lệ, hợp pháp của chứng từ theo pháp luật thuế hiện hành. ') : 
                            ('Collect financial records and accounting vouchers to arrange, classify and check accounting vouchers for the reasonableness, validity and legality of vouchers according to current tax laws.') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Kiểm tra việc lập và kê khai báo cáo thuế VAT hàng tháng, quý; Báo cáo thuế thu nhập doanh nghiệp, Báo cáo thuế thu nhập cá nhân tạm tính quý…') : 
                            ('Check the preparation and declaration of monthly and quarterly VAT reports; Corporate income tax report, Quarterly personal income tax report…') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Trên cơ sở kết quả kiểm tra, thông báo cho doanh nghiệp kịp thời các vấn đề về quỹ tiền mặt, ngân hàng, hàng tồn kho, công nợ, chi phí các loại…. Tư vấn tổng thể về thuế, kế toán và các vấn đề xử phạt khi làm sai để doanh nghiệp nắm bắt được;') : 
                            ('On the basis of inspection results, promptly notify enterprises of cash, banking, inventory, liabilities, expenses of all kinds.... General advice on tax, accounting and sanctioning issues when doing wrong for businesses to grasp;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Sau khi thống nhất với Quý Công ty về phương án xử lý các vấn đề tồn đọng (nếu có) tiến hành thiết lập lại hệ thống sổ sách kế toán, báo cáo thuế theo đúng quy định của các luật thuế;') : 
                            ('After agreeing with your company on the plan to handle the backlog issues (if any), proceed to re-establish the system of accounting books and tax reports in accordance with the provisions of tax laws;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Đóng gói chứng từ, sổ sách kế toán bàn giao cho khách hàng và nộp lại các báo cáo thuế (nếu phát sinh việc điều chỉnh, sửa chữa, bổ sung).') : 
                            ('Packing accounting documents and books, handing them over to customers and returning tax reports (if any adjustments, corrections or additions are made).') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Hoàn thiện và nộp Báo cáo tài chính, báo cáo quyết toán thuế cuối năm cho khách hàng.') : 
                            ('Finalize and submit financial statements and year-end tax finalization reports to customers.') }}
                        </li>
                    </ul>
                    <h2>{{ item.content_6[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
