@media screen and (min-width: 1100px){
  .banner{
    display: flex;
    width: 100%;
    height: 600px;
  }
}


@media screen and (max-width: 700px) {
.tab-container {
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  .tab-card { 
    flex-basis: 48%;
    max-width: 100%;
    width: 100%; 
    margin: 20px 0;
    & > label{
      padding: 0;
    }
    & > img {
      padding: 30px;
    }
  }
}
}

@media screen and (min-width: 700px) and (max-width: 900px) {
.tab-container {
  display: flex;
  padding: 0 20px;
  .tab-card {
    flex-basis: 48%;
    max-width: 100%;
    width: 100%; 
    margin: 20px 0;
    & > label{
      padding: 0;
    }
    & > img {
      width: auto;
      padding: 30px;
    }
  }
}
}