<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png" >
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
  <div class="service" style="display: flex; flex-direction: column;">
    <app-research-content *ngFor="let item of data_translate.field_list; index as i" [data]="item.content" [index]="i">
    </app-research-content>
  </div>
</div>
<!-- <div class="section-empty">
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-5">
        <h2>{{this.data_translate.cv.title[this.language_name] | uppercase}}</h2>
        <hr class="space m" />
        <span [innerHTML]='this.data_translate.cv.content[this.language_name]'></span>
      </div>
      <div class="col-md-7">
        <img src="assets/images/computer-vision.png" alt="" />
      </div>
    </div>
  </div>
</div>
<div
  class="section-bg-image bg-bottom"
  style="background-image: url(../../../assets/images/bg-24.png)"
>
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-7">
        <div class="tab-box left" data-tab-anima="fade-left">
          <ul class="nav nav-tabs col-md-4">

            <li *ngFor="let item of this.data_translate.ds.tree[this.language_name]"><a href="#">{{item}}</a></li>
          </ul>
          <div class="panel-box col-md-8">
            <ng-container *ngFor="let item of this.data_translate.ds.content_list[this.language_name]">
                <span [innerHTML]='item'></span>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h2>
            {{this.data_translate.ds.title[this.language_name]|uppercase}}
        </h2>
        <hr class="space m" />
        <p>
         {{this.data_translate.ds.content[this.language_name]}}
        </p>
      </div>
    </div>
  </div>
  <hr class="space" />
</div>
<div
  class="section-bg-image bg-bottom"
  style="background-image: url(../images/bg-24.png)"
>
  <div class="container content">
    <div class="row vertical-row">
      <div class="col-md-6">
        <img src="assets/images/machine-leaning.png" alt="" />
      </div>
      <div class="col-md-6">
        <h2>{{this.data_translate.ml.title[this.language_name]}}</h2>
        <span [innerHTML]='this.data_translate.ml.content[this.language_name]'></span>
      </div>
    </div>
  </div>
  <hr class="space" />
</div> -->
<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
