<app-slide [is_right]="false"></app-slide>
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
  <div class="content">
    <hr class="space" />
    <h2>{{translate_data.contact_now[language_name]}}</h2>
    <hr class="space s" />
    <div class="contact-main">
      <div class="contact-content">
        <form action="#" class="form-box form-ajax" method="post">
          <div class="row">
            <div class="col-md-6" style="padding: 5px;">
              <p style="color: #1C417A; padding-left: 6px; font-size: 16px;">{{translate_data.name[language_name]}}</p>
              <input id="name" name="name" placeholder="" type="text" class="form-control form-value input-style"
                required />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding: 5px;">
              <p style="color: #1C417A; padding-left: 6px; font-size: 16px;">Email</p>
              <input id="email" name="email" placeholder="" type="email" class="form-control form-value input-style"
                required />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" style="padding: 5px;">
              <p style="color: #1C417A; padding-left: 6px; font-size: 16px;">
                {{translate_data.phone_number[language_name]}}</p>
              <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value input-style" />
            </div>
          </div>
          <hr class="space xs" />
          <div class="row">
            <div class="col-md-12" style="padding: 5px;">
              <p style="color: #1C417A; padding-left: 6px; font-size: 16px;">{{translate_data.message[language_name]}}
              </p>
              <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value input-style"
                rows="6" required style="color: #1C417A; height: auto;"></textarea>
              <hr class="space s" />
              <a class="circle-button btn-sm btn" style="color: #fff;
              background: #155C94;
              font-size: 16px;
              border-radius: 12px;"><i class="fa fa-send-o" style="font-size: 16px;"></i>{{translate_data.send[language_name]}}</a>
            </div>
          </div>
          <div class="success-box">
            <div class="alert alert-success">
              Congratulations. Your message has been sent successfully
            </div>
          </div>
          <div class="error-box">
            <div class="alert alert-warning">
              Error, please retry. Your message has not been sent
            </div>
          </div>
        </form>
      </div>
      <div class="contact-box">
        <div class="row">
          <div class="col-md-12">
            <ul class="fa-ul">
              <li style="color: #1C417A; padding: 0; font-size: 20px; ">
                <i class="fa-li fa fa-home" style="color: #1C417A; margin-left: 20px;margin-top: 20px;"></i> 
                <p style="text-align: justify; white-space: pre-line;">{{translate_data.address[language_name]}}</p>
              </li>
              <li style="color: #1C417A; padding: 10px 0; font-size: 20px;">
                <i class="fa-li fa fa-fax" style="color: #1C417A; margin-left: 20px;"></i> 
                <p style="text-align: justify;">{{translate_data.phone}}</p></li>
              <li style="color: #1C417A; padding: 10px 0; font-size: 20px;">
                <i class="fa-li fa fa-phone" style="color: #1C417A; margin-left: 20px;"></i> 
                <p style="text-align: justify;">{{translate_data.emergency_call}}</p></li>
              <li style="color: #1C417A; padding: 10px 0; font-size: 20px;">
                <i class="fa-li fas fa-globe" style="color: #1C417A; margin-left: 20px;"></i> 
                <p style="text-align: justify;">{{translate_data.website}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>