@media screen and (min-width: 1100px) {
  .fa-ul{
    padding: 30px 0 48px 48px; 
  }

  .fa-ul, li, p{
    padding: 0px 20px;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
    color: #1C417A; 
    font-weight: bold; 
    padding-left: 6px;
    width: 70%;
    margin: 0px auto;
  }
  .contact-main{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px auto;
    .contact-content{
      flex-basis: 45%;
      max-width: 45%;
      width: 45%;
      margin-bottom: 55px;
    }
    .contact-box{
      flex-basis: 45%;
      max-width: 45%;
      width: 45%;
      box-shadow: 0 0 15px 2px #0000004d;
      padding: 60px 40px;
      background-color: #FFFFFF;
      margin-bottom: 55px;
    }
  }
  .input-style {
    height: 34px;
    line-height: 34px;
    border-radius: 12px;
    background: rgba(28, 65, 122, 0.1);
    border: 1px solid #1c417a;
    background-color: #FFFFFF;
  }
}

@media screen and (max-width: 700px) {
  h2{
    font-size: 36px;
    font-weight: 500;
    color: #1C417A; 
    font-weight: bold; 
    padding-left: 6px;
  }
  .contact-main{
    justify-content: space-between;
    .contact-content{
      max-width: 100%;
      width: 100%;
      .col-md-6{
        align-items: center;
        width: 100%;
      }
    }
    .contact-box{
      flex-basis: 45%;
      max-width: 100%;
      width: 100%;
      box-shadow: 0 0 15px 2px #0000004d;
      padding: 60px 40px;
      margin-top: 5%;
      background-color: #FFFFFF;
    }
  }
  .input-style{
    height: auto;
    line-height: 34px;
    border-radius: 12px;
    background: rgba(28, 65, 122, 0.1);
    border: 1px solid #1c417a;
    background-color: #FFFFFF;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  h2{
    font-size: 36px;
    font-weight: bold;
    color: #1c417a;
    padding-left: 6px;
  }
  .input-style{
    height: auto;
    line-height: 34px;
    border-radius: 12px;
    background: rgba(28, 65, 122, 0.1);
    border: 1px solid #1c417a;
  }
  .contact-main{
    justify-content: space-between;
    .contact-content{
      flex-basis: 45%;
      max-width: 100%;
      width: 100%;
      .col-md-6{
        width: 50%;
      }
    }
    .contact-box{
      flex-basis: 45%;
      max-width: 100%;
      width: 100%;
      box-shadow: 0 0 15px 2px #0000004d;
      padding: 60px 40px;
      margin-top: 5%;
    }
  }
}