
.btn-submit{
    display: flex;
    justify-content: center;
    .btn-submit-login,.loading{
      padding: 14px 20px;
      margin: 8px 0;
      cursor: pointer;
      width: 100%;
      border-radius: 5px;
      outline: none;
      margin: 10px 0;
    }
    .loading {
      cursor: progress;
    }
    .error-login{
        color: red;
    }
}

@media screen and (min-width: 1100px) {
    .wrapper{
        overflow:hidden;
        .account{
            width: 35%;
            margin: 0 auto;
            margin-top: 160px;
            display: flex;
            flex-flow: column nowrap;
            .form{
                padding: 30px 10px;
                box-shadow: 0 2px 42px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
                border-radius: 10px;
                background-color: rgba($color: #fff, $alpha: 0.3);
            }
            .Logo{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        mat-form-field{
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }
    
        mat-icon{
            color: black;
        }
    }
    .img-background{
        img{
            width: 100%;
            height: 100%;
            position: fixed;
            vertical-align: middle;
            top: 0;
            left: 0;
            z-index: -9;
        }
    }
    .Username, .Password{
        position: relative;
        input{
            width: 100%;
            padding: 12px 10px;
            margin: 8px 0;
            border-radius: 10px;
            border: none;
        }
        .show-password{
            position: absolute;
            bottom: 22px;
            right: 20px;
            color: black;
            cursor: pointer;
            font-size: 20px;
        }
        .hidden-password{
            position: absolute;
            bottom: 22px;
            right: 20px;
            color: black;
            cursor: pointer;
            font-size: 20px;
        }
    }
} 

@media screen and (max-width: 768px){
    .wrapper{
        overflow:hidden;
        .account{
            width: 85%;
            margin: 0 auto;
            display: flex;
            margin-top: 220px;
            flex-flow: column nowrap;
            .form{
                padding: 30px 10px;
                box-shadow: 0 4px 12px rgb(0 0 0 / 15%), 0 4px 12px rgb(0 0 0 / 15%);
                border-radius: 10px;
                background-color: rgba($color: #fff, $alpha: 0.3);
                backdrop-filter: blur(10px);
            }
            .Logo{
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        mat-form-field{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
        }
    
        mat-icon{
            color: black;
            border: none;
        }
        .img-background{
            img{
                width: 100%;
                height: 100%;
                position: fixed;
                vertical-align: middle;
                top: 0;
                left: 0;
                z-index: -9;
            }
        }
        .Username, .Password{
            position: relative;
            input{
                width: 100%;
                padding: 12px 10px;
                margin: 8px 0;
                border-radius: 10px;
                border: none;
            }
            .show-password{
                position: absolute;
                bottom: 22px;
                right: 20px;
                color: black;
                cursor: pointer;
                font-size: 20px;
            }
            .hidden-password{
                position: absolute;
                bottom: 22px;
                right: 20px;
                color: black;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}