<div class="wrapper">
    <div class="account">
        <div></div>
        <div class="form">
            <div class="Logo" style="background-image: url(../../../../../assets/images/logo\ white-01-01\ 1.png); height: 120px;"></div>
            <form [formGroup]="formg"  (ngSubmit)="login()" style="margin-top: 20px">
                <div class="Username">
                    <div>
                      <input type="text" placeholder="Tên đăng nhập" required formControlName="username" />
                    </div>
                  </div>
                  <div class="Password">
                    <input id="password_input" type="password" placeholder="Mật Khẩu" required formControlName="password" />
        
                    <span style="display: none;" id="view_password" (click)='ViewPassword(false)'>
                        <i class="fa fa-eye show-password" aria-hidden="true"></i>
                    </span>
                    <span id="hide_password" (click)='ViewPassword(true)'>
                        <i class="fa fa-eye-slash hidden-password" aria-hidden="true"></i>
                    </span>
                  </div>
                <div class="btn-submit">
                    <button *ngIf="!this.submited" type="submit" [disabled]="this.formg.invalid" class="btn-submit-login btn-success">
                      Đăng Nhập
                    </button>
                    <!-- <button type="submit" [disabled]="this.fg.invalid" class="btn-submit-login btn-success">
                        Đăng Nhập
                    </button> -->
                    <button *ngIf="this.submited" class="loading">Vui lòng chờ...</button>
                </div>
                <div *ngIf="this.is_error" class="text-center">
                    <p>Tên đăng nhập hoặc mật khẩu không hợp lệ</p>
                </div>
            </form>
        </div>
        <div></div>
    </div>
    <div class="img-background">
        <img src="../../../../../assets/images/banner/banner.jpg">
    </div>
</div>
