<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Đào tạo nhân sự kế toán tại doanh nghiệp') : 
            ('Training accounting personnel at the enterprise') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <p>{{ item.content_2[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 12.png">
                    <p>
                        {{ 
                        language_name == 'vi' ? ('Nội dung khoá đào tạo nhân sự kế toán tại đơn vị') : 
                        ('Contents of the training course for accounting personnel at the unit') }}
                    </p>
                    <ul>
                        <li>{{ item.content_3[language_name] }}</li>
                        <li>{{ item.content_4[language_name] }}</li>
                        <li>{{ item.content_5[language_name] }}</li>
                        <li>{{ item.content_6[language_name] }}</li>
                        <li>{{ item.content_7[language_name] }}</li>
                    </ul>
                    <h2>{{ item.content_8[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
