.navbar {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.img-languge {
  max-width: 30px;
  max-height: 19.34px;
  margin: 0px;
  margin-bottom: 3px;
}
.active {
  border-bottom: 2px solid #5584ff; 
}
.item:hover {
  border-bottom: 2px solid #5584ff; 
}

button, .btn-log-in:hover {
  opacity: 0.7;
}
button {
  width: 105px;
  height: 40px;
  border-radius: 5px;
}

.navbar-brand, .logo-default{
  width: 80px;
  height: auto;
  padding: 10px 0px;
}
// ::ng-deep.dropdown-toggle {
//   color: #1d427a !important;
// }
// ::ng-deep header .navbar-default .navbar-nav > li:hover > a, header.scroll-css .navbar-default .navbar-nav>.active>a {
//   color: #1d427a !important;
// }
// @media screen and (min-width: 993px) {
//   .navbar-brand img {
//     max-height: 100px;
//     height: 100px;
//   }
//   .language-container {
//     padding: 10px;
//     text-align: right;
//   }
//   header {
//     height: 113px;
//   }
// }
// @media screen and (max-width: 992px) {
//   .language-container {
//     padding: 5px;
//     text-align: center;
//   }
// }

@media screen and (max-width: 700px){
  .logo-default{
    margin-left: 10px;
  }
}

@media screen and (min-width: 1100px) {
  .container-fluid{
    width: 70%;
  }
  .user {
    display: flex;
    cursor: pointer;
    // div {
    //   margin: 1px;
    //   font-size: 16px;
    //   padding-top: 3px;
    // }
    color: #106ba3;
    background-color: transparent;
    border-radius: 30px;
    height: 40px;
    width: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;


    span {
      position: relative;
      top: 4px;
      margin-left: 5px;
    }
  }

  .user:hover {
    background-color: rgba(187, 184, 184, 0.3);
    transition: 0.1s;
  }

  .dropdown-menu {

    min-height: 100px;
    min-width: 300px;
    background-color: #ffffff;
    margin-right: 70px;
    box-shadow: 0px 0px 0px 1px rgba(155, 89, 89, 0.3);
    border-radius: 10px;
    height: auto;
    width: auto;
    align-items: center;

    a {
      color: #000;
      text-decoration: none;
    }

    .dropdown-menu-item-wrapper {
      height: 40px;
      width: 40px;
      background-color: #f9ebeb;
      border-radius: 50%;
      .dropdown-menu-item {
        background-position: 0px -26px;
        background-size: 26px 224px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }
  .notification,
  .infor {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    color: #106ba3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(187, 184, 184, 0.1);
    margin-left: 20px;
  }

  .infor {
    .dropdown-menu-header {
      top: 12px !important;
      border: none !important;
    }
  }

  .notification:hover,
  .infor:hover {
    background-color: rgba(187, 184, 184, 0.3);
    cursor: pointer;
  }
}
