<div id="preloader"></div>
<header>
  <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
    <div id="navbar-container" class="navbar navbar-main">
      <div class="container-fluid">
        <div id="navbar-header-container" class="navbar-header">
          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">
            <img class="logo-default" src="../../../assets/images/logo color-01 1.png" alt="logo" />
            <!-- <img class="logo-retina" src="../../../assets/images/logo-retina-black.png" alt="logo" /> -->
          </a>
        </div>
        <div class="collapse navbar-collapse" >

          <div class="nav navbar-nav navbar-right" 
          style="width: auto; display: flex; 
          justify-content: center; align-items: center; 
          padding: 5px 0px;" >
            <ul class="nav navbar-nav" id="menu" >
              <li class="item" id="home" [routerLink]="['/trang-chu']" routerLinkActive="active" >
                <a class="dropdown-toggle" role="button">{{
                  this.data_translate.home[this.language_name]
                  }}</a>
              </li>
              <li class="item" id="training" [routerLink]="['/dao-tao']" routerLinkActive="active">
                <a class="dropdown-toggle" role="button" >{{
                  this.data_translate.training[this.language_name] }}</a>
              </li>
              <li class="item" id="business-services" [routerLink]="['/dich-vu-doanh-nghiep']" routerLinkActive="active">
                <a class="dropdown-toggle" role="button">{{
                  this.data_translate.research[this.language_name] }}</a>
              </li>
              <li class="item" id="accounting-jobs" [routerLink]="['/viec-lam-ke-toan']" routerLinkActive="active">
                <a class="dropdown-toggle" role="button">{{
                  this.data_translate.product[this.language_name] }}</a>
              </li>
              <li class="item" id="knowledge" [routerLink]="['/kien-thuc']" routerLinkActive="active">
                <a class="dropdown-toggle" role="button">{{
                  this.data_translate.partner[this.language_name]
                  }}</a>
              </li>
              <li class="item" id="media">
                <a routerLink="/truyen-thong" class="dropdown-toggle" role="button">{{
                  this.data_translate.media[this.language_name] }}</a>
              </li>
              <li class="item" id="contacts" [routerLink]="['/lien-he']" routerLinkActive="active">
                <a class="dropdown-toggle" role="button">{{
                  this.data_translate.contact[this.language_name] }}</a>
              </li>
            </ul>
            <div class="language-container" style="padding: 0 5px;" [style.opacity]="language_name == 'vi'? '1':'0.25'">
              <a (click)="ChangeLanguage('vi')">
                <img src="../../../assets/images/flags/vietnamflag.png" width="30" />
              </a>
            </div>
            <div class="language-container" style="padding: 0 5px;" [style.opacity]="language_name == 'us'? '1':'0.25'">
              <a (click)="ChangeLanguage('us')">
                <img src="../../../assets/images/flags/americanflag.jpg" width="30" />
              </a>
            </div>
            <!-- <ng-template #login>
              <div>
                <button type="btn btn-log-in" style="color: #fff; background-color: #0d4579" (click)="loginToPage()">Đăng Nhập</button>
              </div>
            </ng-template>

            <ng-template [ngIf]="this.user" [ngIfElse]="login">
                
            </ng-template>
             -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
