<app-slide [is_right]="true"></app-slide>
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('KHÓA HỌC KẾ TOÁN THỰC CHIẾN CHO MỌI ĐỐI TƯỢNG') : ('PRACTICAL ACCOUNTING COURSE FOR EVERYONE') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of slide_1">
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('Khóa học kế toán thực hành thực tế tốt nhất tại Hà Nội ?') : ('Best practical accounting course in Hanoi ?') }}
                    </p>
                    <p>{{ item.content_1[language_name] }}</p>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Khóa học có 2 giai đoạn:') : ('The course has 2 phases:') }}</p>
                    <ul>
                        <li>
                           {{ item.content_3[language_name] }}
                        </li>
                        <li>
                            {{ item.content_4[language_name] }}
                        </li>
                    </ul>
                    <p>{{ item.content_5[language_name] }}</p>
                    <p>{{ item.content_6[language_name] }}</p>
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('Đối tượng học kế toán thuế ?') : ('Tax accounting objects?') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Sinh viên khoa kế toán - kiểm toán') : ('Student at Faculty of Accounting - Auditing') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Người muốn làm kế toán - kiểm toán') : ('People who want to be an accountant - audit') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Người đang làm kế toán cần bổ sung cập nhật kiến thức') : ('Those who are working as accountants need to update their knowledge') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Nhà quản trị muốn biết kế toán để quản lý nhân sự kế toán của mình') : ('Administrators want to know accounting to manage their accounting personnel') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('LỢI ÍCH VÀ ƯU ĐÃI KHI CÁC BẠN THAM GIA KHÓA HỌC TẠI KẾ TOÁN VIỆT NAM:') : ('BENEFITS AND PRIVILEGES WHEN YOU JOIN THE COURSE AT VIETNAM ACCOUNTANT:') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Được') : ('Practiced') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('thực hành trên phần mềm kế toán') : ('on accounting software') }}
                            </span>
                            {{ language_name == 'vi' ? ('Misa hiện nay.') : ('Misa today.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được') : ('Be') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('hướng dẫn tin học văn phòng') : ('guided in office computing') }}
                            </span>
                            {{ language_name == 'vi' ? ('( Word, Excel,…)') : ('( Word, Excel,…)') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được') : ('Be') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('cấp chứng chỉ') : ('certificated of') }}
                            </span>
                            {{ language_name == 'vi' ? ('“ Thực hành kế toán thực tế “ cuối khóa học.') : ('“Practical accounting practice” at the end of the course.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được') : ('Get') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('đóng dấu xác nhận') : ('stamped certification') }}
                            </span>
                            {{ language_name == 'vi' ? ('tương đương với 2 năm đi làm thực tế') : ('to 2 years of actual working') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được') : ('Being') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('giới thiệu việc làm ') : ('introduced to jobs') }}
                            </span>
                            {{ language_name == 'vi' ? ('cho các Doanh nghiệp công ty sau khi học') : ('for Enterprise companies after studying') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được sử dụng dịch vụ tư vấn kế toán miễn phí : Nếu trong quá trình đi làm bạn gặp bất kể khó khăn hay vướng mắc gì, hãy gọi cho chúng tôi, công ty sẽ') : ('Free accounting consulting service: If you encounter any difficulties or problems during your work, give us a call, the company will') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('hỗ trợ tư vấn') : ('will support and advise') }}
                            </span>
                            {{ language_name == 'vi' ? ('cho bạn.') : ('you.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được') : ('Be') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('tham gia Khoá tin học văn phòng') : ('participated in the Office Informatics Course') }}
                            </span>
                            {{ language_name == 'vi' ? ('mà công ty tổ chức.') : ('organized by the company.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Được hướng dẫn') : ('Be guided') }}
                            <span style="color:red">
                                {{ language_name == 'vi' ? ('kỹ năng, cách viết CV') : ('skills, how to write the most impressive CV') }}
                            </span>
                            {{ language_name == 'vi' ? ('ấn tượng nhất với nhà tuyển dụng.') : ('for employers.') }}
                        </li>
                    </ul>
                    <span style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('Thời gian học:') : ('Study time:') }}
                        <span style="font-weight: normal;">
                            {{ language_name == 'vi' ? ('bạn có thể lựa chọn 1 trong 3 ca trong ngày') : ('You can choose 1 out of 3 shifts in a day') }}
                        </span>
                        <ul style="font-weight: normal;">
                            <li>
                                {{ language_name == 'vi' ? ('Sáng , chiều, tối 246 hoặc 357') : ('Morning, afternoon, evening 246 or 357') }}
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Sáng: 8h30 – 11h ; chiều : 14h00 – 16h30 ; tối : 18h00 – 20h30') : ('Morning: 8:30 - 11 am ; afternoon : 14h00 - 16h30 ; Evening : 18h00 - 20h30') }}
                            </li>
                        </ul>
                    </span>
                    <p>{{ language_name == 'vi' ? ('Tổng thời gian: 16  buổi') : ('Total time: 16 sessions') }}</p>
                    <p style="font-weight: bold">
                        {{ language_name == 'vi' ? ('Học phí:') : ('Tuition:') }}
                        <span style="font-weight: normal">
                            {{ language_name == 'vi' ? ('4.000.000 VNĐ/người') : ('4,000,000 VND/person') }}
                        </span>
                    </p>
                    <h2>
                        {{ language_name == 'vi' ? ('Kế toán Việt Nam – Nơi đào tạo tư duy kế toán chuyên nghiệp!') : ('Accounting Vietnam - A place to train professional accounting thinking!') }}
                    </h2>
                    <h4 style="text-align:center">{{ language_name == 'vi' ? ('Mọi chi tiết xin liên hệ:') : ('For more details please contact:') }}</h4>
                    <h2>
                        {{ language_name == 'vi' ? ('CÔNG TY TNHH TƯ VẤN GIẢI PHÁP KẾ TOÁN VIỆT NAM') : ('VIETNAM ACCOUNTING SOLUTIONS CONSULTING COMPANY LIMITED') }}
                    </h2>
                    <p style="font-size: 20px; text-align: center">{{ language_name == 'vi' ? ('Cơ sở Cầu Giấy : P 601 Tòa nhà Sunrise Building số 90 Trần Thái Tông – Quận Cầu Giấy – TP Hà Nội.') : ('Cau Giay Campus : P 601 Sunrise Building No. 90 Tran Thai Tong - Cau Giay District - Hanoi City.') }}</p>
                    <p style="font-size: 20px; text-align: center">{{ language_name == 'vi' ? ('Điện thoại: 04.32008354/04.32008364') : ('Phone: 04.32008354/04.32008364') }}</p>
                    <p style="font-size: 20px; text-align: center">Hotline: <span style="color: red">0967 66 1212</span></p>
                    <p style="font-size: 20px; text-align: center">Website : ketoanvina.com.vn</p>
                </div>
            </div>
        </mat-card>
        <hr>
    </div>
</div>

