<app-slide [is_right]="true"></app-slide>
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('HƯỚNG DẪN LẬP GIAO DỊCH LIÊN KẾT') : ('GUIDELINES FOR ESTABLISHING LINK TRANSACTIONS') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of work_ex">
                    <p>{{ item.content_1[language_name] }}</p>
                    <p>{{ language_name == 'vi' ? ('Căn cứ Điều 13 Nghị định 125/2020/NĐ-CP quy định xử phạt về việc không nộp tờ khai giao dịch liên kết sẽ bị phạt từ 8 – 15 triệu đồng.') : ('Pursuant to Article 13 of Decree 125/2020/ND-CP stipulating the sanction for not submitting the declaration of related-party transactions will be fined from 8 to 15 million VND.') }}</p>
                    <img class="image-container" src="../../../../assets/images/home/ex-1.png">
                    <p class="text-center">
                        {{ language_name == 'vi' ? ('Lập phụ lục giao dịch liên kết') : ('Make an appendix of related-party transactions') }}
                    </p>
                    <p style="font-size: 18px"><strong>
                        {{ language_name == 'vi' ? ('Bước 1 : Bạn cần xác định doanh nghiệp mình có mối quan hệ liên kết nào ở dưới đây không:') : ('Step 1: You need to determine if your business has any affiliate relationship below:') }}
                    </strong></p>
                    <ol style="list-style-type: lower-alpha;">
                        <li>
                            {{ language_name == 'vi' ? ('Một doanh nghiệp nắm giữ trực tiếp hoặc gián tiếp ít nhất 25% vốn góp của chủ sở hữu của doanh nghiệp kia;') : ('One enterprise holds directly or indirectly at least 25% of the contributed capital of the owner of the other enterprise;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Cả hai doanh nghiệp đều có ít nhất 25% vốn góp của chủ sở hữu do một bên thứ ba nắm giữ trực tiếp hoặc gián tiếp;') : ('Both enterprises have at least 25% of the owner`s contributed capital held directly or indirectly by a third party;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Một doanh nghiệp là cổ đông lớn nhất về vốn góp của chủ sở hữu và nắm giữ trực tiếp hoặc gián tiếp ít nhất 10% tổng số cổ phần của doanh nghiệp kia;') : ('One enterprise is the largest shareholder in terms of capital contributed by the owner and holds directly or indirectly at least 10% of the total shares of the other enterprise;') }}
                        </li>
                        <li>{{ item.content_2[language_name] }}</li>
                        <li>{{ item.content_3[language_name] }}</li>
                        <li>
                            {{ language_name == 'vi' ? ('Hai doanh nghiệp cùng có trên 50% thành viên ban lãnh đạo hoặc cùng có một thành viên ban lãnh đạo có quyền quyết định các chính sách tài chính hoặc hoạt động kinh doanh được chỉ định bởi một bên thứ ba;') : ('Two enterprises with more than 50% members of the management board or the same member of the management board with the right to decide on financial policies or business activities are appointed by a third party;') }}
                        </li>
                        <li>{{ item.content_4[language_name] }}</li>
                        <li>
                            {{ language_name == 'vi' ? ('Hai cơ sở kinh doanh có mối quan hệ trụ sở chính và cơ sở thường trú hoặc cùng là cơ sở thường trú của tổ chức, cá nhân nước ngoài;') : ('Two business establishments have the relationship between head office and permanent establishment, or both are permanent establishments of foreign organizations and individuals;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Các doanh nghiệp chịu sự kiểm soát của một cá nhân thông qua vốn góp của cá nhân này vào doanh nghiệp đó hoặc trực tiếp tham gia điều hành doanh nghiệp;') : ('Enterprises that are controlled by an individual through the individual`s capital contribution to that enterprise or directly participating in the management of the enterprise;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Các trường hợp khác trong đó doanh nghiệp chịu sự điều hành, kiểm soát, quyết định trên thực tế đối với hoạt động sản xuất kinh doanh của doanh nghiệp kia;') : ('Other cases in which the enterprise is under the actual management, control and decision regarding the production and business activities of the other enterprise;') }}
                        </li>
                        <li>{{ item.content_5[language_name] }}</li>
                    </ol>
                    <p style="font-size: 18px"><strong>
                        {{ language_name == 'vi' ? ('Bước 2 : Nhận biết giao dịch') : ('Step 2: Identify the transaction') }}
                    </strong></p>
                    <p>
                        {{ language_name == 'vi' ? ('Khi đã xác định DN của mình với những đối tượng khác có quan hệ liên kết với nhau nhưng không phát sinh các hoạt động mua bán, trao đổi, mượn, cho mượn, thuê, cho thuê.. thì đơn vị bạn') : ('When you have identified your business with other entities that have an association relationship, but there are no activities of buying, selling, exchanging, borrowing, lending, renting, leasing.., then your unit') }}
                        <span>
                            {{ language_name == 'vi' ? ('KHÔNG CÓ GIAO DỊCH LIÊN KẾT') : ('NO LINK TRANSACTION') }}
                        </span>
                        <span>
                            {{ language_name == 'vi' ? ('còn nếu có bất cứ hoạt động nào thì doanh nghiệp') : ('and if there is any activity, the business has') }}
                        </span>
                        <span>
                            {{ language_name == 'vi' ? ('CÓ GIAO DỊCH LIÊN KẾT.') : ('LINK TRANSACTION.') }}
                        </span>
                    </p>
                    <p style="font-size: 18px"><strong>
                        {{ language_name == 'vi' ? ('Bước 3 : Lập phụ lục giao dịch liên kết') : ('Step 3: Make an appendix of related-party transactions') }}
                    </strong></p>
                    <p>
                        {{ language_name == 'vi' ? ('Vào HTKK/chọn 03/TNDN (TT80/2021) sau đó tích chọn PL132 – 01') : ('Go to HTKK/select 03/TNDN (TT80/2021) then tick PL132 – 01') }}
                    </p>
                    <ul>
                        <li>{{ language_name == 'vi' ? ('Mục I.') : ('Section I.') }}</li>
                        <img src="../../../../assets/images/home/ex-2.png">
                        <p>
                            {{ language_name == 'vi' ? ('- Tên bên liên kết : ghi tên của các bên có quan hệ và phát sinh giao dịch liên kết') : ('- Name of the associated party: write the names of the parties that have a relationship and generate an associated transaction') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('- Quốc gia : lựa chọn tên quốc gia') : ('- Country : select the name of the country') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('- Mã số thuế : điền MST của đối tượng liên kết') : ('- Tax code: enter the MST of the associated object') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('- Hình thức quan hệ liên kết từ mục A->L : xem lại mối quan hệ ở bước 1 để điền') : ('- The form of the association relationship from item A->L: review the relationship in step 1 to fill in') }}
                        </p>
                        <li>{{ language_name == 'vi' ? ('Mục II Kê khai các trường hợp được miễn') : ('Section II Declaration of exempted cases') }}</li>
                        <img style="width: 100%" src="../../../../assets/images/home/ex-3.png">
                        <p>
                            {{ language_name == 'vi' ? ('Tích vào 1 trong 2 trường hợp :') : ('Tick in 1 of 2 cases:') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('- Mục 1 – Miễn kê khai và miễn lập hồ sơ  : nếu hai doanh nghiệp cùng ở Việt Nam, cùng mức thuế suất thuế TNDN') : ('- Section 1 – Exemption from declaration and preparation of dossiers: if two enterprises are in Vietnam, the same CIT rate') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('- Mục 2 – Miễn lập hồ sơ  tích vào trường hợp phù hợp với đơn vị') : ('- Section 2 – Exemption from making cumulative records in cases suitable for the unit') }}
                        </p>
                        <li>{{ language_name == 'vi' ? ('Mục III Điền thông tin doanh thu chi phí để xác định giá giao dịch liên kết') : ('Section III Fill in the cost revenue information to determine the associated transaction price') }}</li>
                        <img style="width: 100%" src="../../../../assets/images/home/ex-4.png">
                        <p>
                            {{ language_name == 'vi' ? ('Điền giá trị giao dịch liên kết giữa các bên có quan hệ liên kết') : ('Enter the value of the related party transaction') }}
                        </p>
                        <li>{{ language_name == 'vi' ? ('Mục IV – Kết quả sản xuất kinh doanh sau khi xác định giá giao dịch liên kết') : ('Section IV – Production and business results after determining associated transaction prices') }}</li>
                        <img style="width: 100%" src="../../../../assets/images/home/ex-5.png">
                        <p>
                            {{ language_name == 'vi' ? ('Điền thông tin vào các mục từ 1-17, cột 6. Từ mục 1 -> 9.1 lấy từ báo cáo kết quả kinh doanh để điền') : ('Fill in the information in items 1-17, column 6. From items 1 -> 9.1 taken from the income statement to fill in') }}
                        </p>
                    </ul>
                    <p><strong>
                        {{ language_name == 'vi' ? ('- Mục 9.1.a. Chi phí lãi vay được trừ : TỐI ĐA BẰNG 30% EBITDA*') : ('- Section 9.1.a. Deductible interest expense: MAXIMUM 30% EBITDA*') }}
                    </strong></p>
                    <p>
                        {{ language_name == 'vi' ? ('=>	Cách tính Ebitda* :') : ('=> How to calculate Ebitda* :') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('EBITDA* = LỢI NHUẬN THUẦN TRƯỚC THUẾ + CP LÃI VAY – LÃI TIỀN GỬI NHẬN ĐƯỢC + CP KHẤU HAO-LN KHÁC') : ('EBITDA* = NET PROFIT BEFORE TAX + share of LOANS – PROFIT OF DEPOSIT RECEIVED + share of DEPRECIATION - OTHER') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('VÍ DỤ 1') : ('EXAMPLE 1') }}
                    </strong></p>
                    <p>{{ item.content_6[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('=> Lãi vay được trừ trong năm:') : ('=> Interest deducted in the year:') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('30%Ebitda* = 30% * (1.200+200+100-100)= 420 triệu') : ('30%Ebitda* = 30% * (1,200+200+100-100)= 420 million') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('=> Như vậy lãi vay được trừ trong năm là̉ 100 tr') : ('=> Thus, the deductible loan interest in the year is 100 million') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('VÍ DỤ 2') : ('EXAMPLE 2') }}
                    </strong></p>
                    <p>{{ item.content_7[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('=> Lãi vay được trừ trong năm:') : ('=> Interest deducted in the year:') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('30%Ebitda* =30% * (-300+200+150-100) = -50 triệu < 0') : ('30%Ebitda* =30% * (-300+200+150-100) = -50 million < 0') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('=> Như vậy lãi vay trong năm là 150 triệu bị loại hết không được tính vào cp') : ('Thus, the loan interest in the year is 150 million, which is eliminated and not included in the share') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('VÍ DỤ 3') : ('EXAMPLE 3') }}
                    </strong></p>
                    <p>{{ item.content_8[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('=> Lãi vay được trừ trong năm:') : ('=> Interest deducted in the year:') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('30%Ebitda* =30% * (1.200+200+800-100)= 630 triệu') : ('30%Ebitda* =30%* (1,200+200+800-100)= 630 million') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('=> Như vậy lãi vay được trừ trong năm là 630 triệu, số còn lại là 170tr được chuyển vào năm sau, thời gian chuyển không quá 5 năm') : ('Thus, the deductible loan interest in the year is 630 million, the remaining amount is 170 million, which will be transferred to the next year, the transfer period shall not exceed 5 years.') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('- Mục 9.1.b. Chi phí lãi vay không được trừ chuyển kỳ sau') : ('- Section 9.1.b. Interest expense is not deductible for the next period') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Các mục khác : tính theo công thức') : ('Other sections : calculated by the formula') }}
                    </strong></p>
                    <h2>
                        {{ language_name == 'vi' ? ('Kế toán Vina chúc các bạn thành công!') : ('Vina Accountant wishes you success!') }}
                    </h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>