<app-slide [is_right]="true"></app-slide>
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('GIẢM THUẾ GTGT 2% TỪ NGÀY 1.2.2022') : ('DISCOUNT 2% VAT FROM 1.02.2022') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of ThueGTGT">
                    <p><strong>{{ item.content_1[language_name] }}</strong></p>
                    <img class="image-container" src="../../../../assets/images/home/1.png">
                    <p style="text-align: center; font-style: italic;">
                        {{ language_name == 'vi' ? ('Cách xác định hàng hoá dịch vụ giảm thuế GTGT') : ('How to determine VAT reduction goods and services?') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Nguyên tắc xác định') : ('Determination principle') }}
                    </strong></p>
                    <p>
                        {{ language_name == 'vi' ? ('Chỉ những hàng hoá, dịch vụ chịu thuế 10% mới được giảm thuế suất 2% còn thuế suất 8%.') : ('Only goods and services subject to 10% tax will be entitled to a 2% tax reduction and 8% tax rate.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Những hàng hoá dịch vụ không chịu thuế, chịu thuế 0%,5% thì không được giảm thuế ') : ('Goods and services that are not subject to tax, subject to 0%,5% tax are not eligible for tax reduction') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Nhóm mặt hàng không được giảm thuế bao gồm: ') : ('Groups of items not eligible for tax reduction include:') }}
                    </p>
                    <p style="font-style: italic;">
                        {{ language_name == 'vi' ? ('(1) Công nghệ thông tin') : ('(1) Information technology') }}
                    </p>
                    <p style="font-style: italic;">
                        {{ language_name == 'vi' ? ('(2) Viễn thông, hoạt động tài chính, ngân hàng, chứng khoán, bảo hiểm, kinh doanh bất động sản, kim loại, sản phẩm từ kim loại đúc sẵn, sản phẩm khai khoáng (không kể khai thác than), than cốc, dầu mỏ tinh chế, sản phẩm hoá chất') : ('(2) Telecommunications, financial activities, banking, securities, insurance, real estate trading, metals, prefabricated metal products, mining products (excluding coal mining), coal coke, refined petroleum, chemical products') }}
                    </p>
                    <p style="font-style: italic;">
                        {{ language_name == 'vi' ? ('(3) Sản phẩm hàng hóa và dịch vụ chịu thuế tiêu thụ đặc biệt;') : ('(3) Products, goods and services subject to excise tax;') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('CÁC BƯỚC XÁC ĐỊNH HÀNG HOÁ, DỊCH VỤ ĐƯỢC GIẢM THUẾ') : ('STEPS TO DETERMINATE TAX REDUCED GOODS AND SERVICES') }}
                    </strong></p>
                    <p>{{item.content_2[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Ví dụ 1 : công ty Kế toán Việt Nam có ngành nghề kinh doanh dịch vụ kế toán có mã số 6920') : ('Example 1: a Vietnamese accounting company with a business of accounting services with code 6920') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Mã ngành này không nằm trong danh mục không được giảm thuế') : ('This industry code is not on the list of not eligible for tax reduction') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('=> nên doanh nghiệp được giảm thuế GTGT2%') : ('=> so the enterprise is entitled to a 2% VAT reduction') }}
                        </p>
                    </ul>
                    <p>
                        {{ language_name == 'vi' ? ('Ví dụ 2 : Công ty TNHH Minh Lê có ngành nghề cho thuê nhà ở văn phòng mã số 681.041.') : ('Example 2: Minh Le Co., Ltd. has a business of leasing houses and offices with code 681.041.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Ngành nghề kinh doanh này thuộc nhóm danh mục không được giảm ở mục “ bất động sản” vì thế ta cần tra cứu tiếp ở bước 2') : ('This business line belongs to the category that cannot be reduced in the "real estate" section, so we need to look it up in step 2.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Bước 2. Tra cứu mã ngành ở bước 1 xem có xuất hiện tại các phụ lục I, II, III ban hành kèm theo NĐ 15/2020/NĐ-CP không. Nếu có xuất hiện thì không được giảm, còn nếu không xuất hiện thì được giảm ') : ('Step 2. Look up the industry code in step 1 to see if it appears in Appendices I, II, III issued together with Decree 15/2020/ND-CP. If it appears, it will not be reduced, but if it does not appear, it will be reduced') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Danh mục hàng hoá dịch vụ phần (2) mục nguyên tắc ở trên thì tra tại Phụ lục I (hàng hoá dịch vụ không được giảm)') : ('The list of goods and services in part (2) of the above principles can be found in Appendix I (goods and services cannot be reduced).') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Danh mục hàng hoá dịch vụ phần (3) mục nguyên tắc ở trên thì tra tại Phụ lục II (hàng hoá dịch vụ chịu thuế tiêu thụ đặc biệt)') : ('The list of goods and services in part (3) of the above principle can be found in Appendix II (goods and services subject to excise tax).') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Danh mục hàng hoá dịch vụ phần (1) mục nguyên tắc ở trên thì tra tại Phụ lục III (hàng hoá dịch vụ công nghệ thông tin)') : ('The list of goods and services in part (1) of the above principles can be found in Appendix III (information technology services and goods).') }}
                        </li>
                    </ul>
                    <p>
                        {{ language_name == 'vi' ? ('Ví dụ : Với mã ngành của công ty Minh Lê phần cho thuê nhà khi đối chiếu với phụ lục 1, ta thấy có mã ngành này xuất hiện') : ('For example: With the industry code of Minh Le company, the house rental section, when compared with Appendix 1, we see that this industry code appears.') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Mẹo tra cứu nhanh:') : ('Quick lookup tips:') }}
                    </strong></p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Tải file excel phụ lục tại đây') : ('Download the appendix excel file here') }}
                        </li>
                        <a href="https://docs.google.com/spreadsheets/d/1mEy5nyy2XwYQsdMmkLG_-Sh_C2Rhv9K0/htmlview">
                            (https://docs.google.com/spreadsheets/d/1mEy5nyy2XwYQsdMmkLG_-Sh_C2Rhv9K0/htmlview)
                        </a>
                        <li>
                            {{ language_name == 'vi' ? ('Lọc tài khoản cấp 5 hoặc 6 hoặc 7 tuỳ thuộc vào mã ngành ở đăng ký kinh doanh (cấp 5 : gồm 5 số, cấp 6 : 6 số…). Vào Data/fillter/ gõ mã') : ('Filter accounts at level 5 or 6 or 7 depending on the industry code in business registration (level 5: including 5 numbers, level 6: 6 numbers...). Go to Data/filler/ type the code') }}
                        </li>
                    </ul>
                    <p>
                        {{ language_name == 'vi' ? ('Lưu ý khi xuất hoá đơn giảm thuế GTGT (điều 3 NĐ 15/2022)') : ('Note when issuing VAT reduction invoices (Article 3 of Decree 15/2022)') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Phải lập riêng hoá đơn cho hàng hoá dịch vụ được giảm thuế GTGT, nếu không lập riêng thì không được giảm thuế.') : ('A separate invoice must be made for goods and services eligible for VAT reduction, otherwise, tax reduction is not allowed.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Doanh nghiệp xuất hoá đơn khấu trừ khi xuất hoá đơn, dòng thuế suất ghi 8%.') : ('Enterprises that issue invoices shall deduct when issuing invoices, the tax rate is 8%.') }}
                        </li>
                        <li>{{item.content_3[language_name] }}</li>
                    </ul>
                    <img class="image-container" src="../../../../assets/images/home/2.png">
                    <h2>
                        {{ language_name == 'vi' ? ('Cần một doanh nghiệp tư vấn dịch vụ kế toán tận tâm, hãy liên hệ với chúng tôi ! Hotline : 0967661212/0906298089') : ('Need a dedicated accounting service consulting business, contact us! Hotline: 0967661212/0906298089') }}
                    </h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
