@media screen and (min-width: 1100px) {
  .banner{
    display: flex;
    width: 100%;
    height: 600px;
  }
  .custom-container{
    .viewmore-title{
      .viewmore-body-title{
        flex-basis: 20%;
        width: 100%;
        max-width: 100%;
        font-size: 34px;
        font-weight: bold;
        line-height: 50px;
        color: #1C417A;
        padding-top: 30px;
        width: 70%;
        padding-bottom: 30px;
      }
    }
    
    .viewmore-body-image{
      width: 70%;
      margin: auto;
  
      .viewmore-image{
        width: 100%;
      }
    }
    .border-left {
      border-right: none;
      padding-left: 10px;
      padding-right: 0;
    }
    .border-right {
      border-left: none;
      padding-right: 10px;
      padding-left: 0;
    }
    .row-reserve {
      flex-direction: row-reverse;
    }
    .image-right {
      justify-content: right;
    }
  }
  mat-card{
    border-radius: 40px;
  }
  #viewmore-head{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 30px auto;
    .viewmore-card{
      flex-basis: 48%;
      max-width: 100%;
      width: 100%;
      font-size: 34px;
      font-weight: bold; 
      color: #054C82;
    }
    .viewmore-right{
      flex-basis: 48%; 
      max-width: 100%; 
      width: 100%; 
      font-size: 34px;
      font-weight: bold; 
      color: #054C82; 
    }
  }
  .viewmore-icon{
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 25px;
    p{
      display: inline-flex;
      margin-left: 35px;
      font-size: 25px;
      font-weight: bold; 
    }
  }
  i{
    margin-left: 20px;
    color: #00368A;
    box-shadow: 6px 5px 0 0 #00368A;
  }
  .viewmore-subcontent{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 55px;
    padding-bottom: 60px;
  }
  .register{
    margin: 30px auto;
    font-size: 28px;
    color: #01338C;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    padding: 30px;
  }
  .register:hover{
    color: #ffffff;
    background-color: #01338C ; 
  }
  ::ng-deep.slick-slider{
    margin: 0px auto;
    width: 100%;
  }
  ::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    font-size: 40px;
   }
   ::ng-deep.slick-prev:before {
    margin: -7px !important;
    
   }
   ::ng-deep.slick-next::before{
    margin: -7px !important;
   }
   .viewmore-title{
    width: 70%;
    margin: auto;
    .viewmore-body-title-2{
      font-size: 30px;
      font-weight: 700;
      color: #00368A;
      line-height: 50px;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    .text {
      color: #fff;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

.slide{
  &:hover{
    .overlay{
      opacity: 1;
    }
  }
}

 @media screen and (max-width: 700px){
  mat-card{
    border-radius: 40px;
    margin-top: 30px;
  }
  #viewmore-head{
    justify-content: space-between;
    width: 90%;
    margin: 30px;
    .viewmore-card{
      flex-basis: 48%;
      max-width: 100%;
      width: 100%;
      font-size: 18px;
      font-weight: bold; 
      color: #054C82;
    }
    .viewmore-right{
      flex-basis: 48%; 
      max-width: 100%; 
      width: 100%; 
      font-size: 18px;
      font-weight: bold; 
      color: #054C82; 
    }
  }
  .viewmore-icon{
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 25px;
    p{
      display: inline-flex;
      margin-left: 35px;
      font-size: 20px;
      font-weight: bold; 
    }
  }
  i{
    margin-left: 20px;
    color: #00368A;
    box-shadow: 6px 5px 0 0 #00368A;
  }
  .viewmore-subcontent{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left: 55px;
    padding-bottom: 60px;
  }
  .custom-container{
    .viewmore-title{
      .viewmore-body-title{
        flex-basis: 50%;
        width: 90%;
        font-size: 28px;
        font-weight: bold;
        color: #1C417A;
        padding-top: 30px;
        margin: auto;
        padding-bottom: 30px;
      }
    }
    
    .viewmore-body-image{
      width: 100%;
      margin: auto;
  
      .viewmore-image{
        width: 100%;
      }
    }
  }
  .register{
    margin: 30px auto;
    font-size: 28px;
    color: #01338C;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    padding: 30px;
  }
  .register:hover{
    color: #ffffff;
    background-color: #01338C ; 
  }
  .viewmore-title{
    width: 90%;
    margin: auto;
    .viewmore-body-title-2{
      font-size: 28px;
      font-weight: 700;
      color: #00368A;
      line-height: 50px;
    }
  }
  ::ng-deep.slick-slider{
    margin: 0px auto;
    width: 80%;
  }
  ::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    font-size: 30px;
  }
  ::ng-deep.slick-prev:before {
    margin: -7px !important;
    
  }
  ::ng-deep.slick-next::before{
    margin: -7px !important;
  }
}
