<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png" >
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('Thành lập công ty') : ('Open the company') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 2.png">
                    <p style="font-weight: bold;">{{ item.content_2[language_name] }}</p>
                    <p>{{ item.content_2_1[language_name] }}</p>
                    <ul>
                        <li>
                            <span style="font-weight: bold;">
                                {{ language_name == 'vi' ? ('Về trụ sở công ty:') : ('About the company headquarters:') }}
                            </span>{{ item.content_3[language_name] }}
                        </li>
                        <li>
                            <span style="font-weight: bold;">
                                {{ language_name == 'vi' ? ('Về điều kiện thành lập công ty:') : ('Regarding the conditions for establishing a company:') }}
                            </span>{{ item.content_4[language_name] }}
                        </li>
                        <li>
                            <span style="font-weight: bold;">
                                {{ language_name == 'vi' ? ('Về lựa chọn loại hình doanh nghiệp:') : ('About choosing the type of business:') }}
                            </span>{{ item.content_5[language_name] }}
                        </li>
                        <li>
                            <span style="font-weight: bold;">
                                {{ language_name == 'vi' ? ('Về đặt tên công ty:') : ('About naming the company:') }}
                            </span>{{ item.content_6[language_name] }}
                        </li>
                        <li>
                            <span style="font-weight: bold;">
                                {{ language_name == 'vi' ? ('Về đăng ký, kê khai vốn điều lệ khi thành lập công ty:') : ('Regarding registration and declaration of charter capital when establishing a company:') }}
                            </span>{{ item.content_7[language_name] }}
                        </li>
                    </ul>
                    <span style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('Thời hạn góp vốn là 90 ngày, kể từ ngày được cấp Giấy chứng nhận đăng ký doanh nghiệp.') : ('The time limit for capital contribution is 90 days from the date of issuance of the Business Registration Certificate.') }}
                    </span>
                    <p>{{ item.content_8[language_name] }}</p>
                    <ul>
                        <li>
                            <span style="font-weight: bold;">
                                {{ language_name == 'vi' ? ('Về ngành nghề kinh doanh:') : ('About business lines:') }}
                            </span>{{ item.content_9[language_name] }}
                        </li>
                    </ul>
                    <h2>{{ language_name == 'vi' ? ('Cần tư vấn thêm về việc thành lập công ty, hãy liên hệ ngay với chúng tôi!') : ('Need more advice on setting up a company, contact us now!') }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
