<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Dịch vụ kê toán thuế trọn gói uy tín, chất lượng') : 
            ('Prestigious and quality tax accounting service') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 6.png">
                    <p style="font-weight: bold; color: red;">{{ item.content_2[language_name] }}</p>
                    <ul>
                        <li>
                            <p style="font-weight: bold;">{{ 
                                language_name == 'vi' ? ('Tính kinh tế:') : 
                                ('Economical:') }}
                                <span style="font-weight: normal;">{{ item.content_3[language_name] }}</span>
                            </p>
                        </li>
                        <li>
                            <p style="font-weight: bold;">{{ 
                                language_name == 'vi' ? ('Không phát sinh các khoản chi phí nhân sự khác:') : 
                                ('No other personnel costs:') }}
                                <span style="font-weight: normal;">{{ item.content_4[language_name] }}</span>
                            </p>
                            <ol style="list-style-type: square;">
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('BHXH, BHYT, khen thưởng và trợ cấp cho người lao động do chi phí nêu trên là trọn gói.') : 
                                        ('Social insurance, health insurance, rewards and allowances for employees due to the above costs are all-inclusive.') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Các khoản chi phí ban đầu như: phần mềm kế toán, bàn ghế cho kế toán viên, máy in, máy vi tính, văn phòng phẩm, điện, nước, chi phí đi lại… có liên quan như sử dụng kế toán viên.') : 
                                        ('Initial expenses such as accounting software, desks and chairs for accountants, printers, computers, stationery, electricity, water, travel expenses, etc. are related like using accountants.') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Chi phí tuyển dụng và đào tạo đối với kế toán viên.') : 
                                        ('Recruitment and training costs for accountants.') 
                                    }}
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p style="font-weight: bold;">{{ 
                                language_name == 'vi' ? ('Tính chuyên nghiệp:') : 
                                ('Professionalism:') }}
                                <span style="font-weight: normal;">{{ item.content_5[language_name] }}</span>
                            </p>
                        </li>
                        <li>
                            <p style="font-weight: bold;">{{ 
                                language_name == 'vi' ? ('Tính kịp thời:') : 
                                ('Timeliness:') }}
                                <span style="font-weight: normal;">{{ item.content_6[language_name] }}</span>
                            </p>
                        </li>
                        <li>
                            <p style="font-weight: bold;">{{ 
                                language_name == 'vi' ? ('Chịu trách nhiệm trước pháp luật:') : 
                                ('Responsible before the law:') }}
                                <span style="font-weight: normal;">{{ item.content_7[language_name] }}</span>
                            </p>
                        </li>
                    </ul>
                    <p style="font-weight: bold; color: red;">
                        {{ language_name == 'vi' ? ('Công việc kế toán thuế mà Kế toán Việt Nam đang thực hiện:') : 
                        ('Tax accounting work that Vietnamese accountants are doing:') }}
                    </p>
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('1. Tiếp nhận, quản lý và bảo quản chứng từ, tài liệu') : 
                        ('1. Receiving, managing and preserving vouchers and documents') }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tiếp nhận chứng từ, tài liệu của Bên A từ 1-3 lần/quý;') : 
                                ('Receiving documents and documents of Party A 1-3 times/quarter;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Bên B chịu trách nhiệm bảo quản chứng từ, tài liệu cho Bên A và chịu trách nhiệm trước Pháp luật nếu để lộ thông tin hoặc làm thất thoát;') : 
                                ('Party B is responsible for preserving documents and documents for Party A and is responsible before the law if information is disclosed or lost;') 
                            }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('2. Xử lý chứng từ kế toán theo đúng quy định của pháp luật thuế') : 
                        ('2. Handling accounting vouchers in accordance with tax laws') }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tư vấn giúp khách hàng hoàn thiện hệ thống chứng từ kế toán đảm bảo tính hợp lý, hợp lệ, hợp pháp theo quy định chế độ, chuẩn mực kế toán và các quy định pháp lý hiện hành có liên quan;') : 
                                ('Consulting to help customers perfect the system of accounting documents to ensure the rationality, validity and legality in accordance with regulations on accounting regimes, standards and relevant current legal regulations;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tư vấn cho Khách hàng cách xử lý các tồn đọng trong quá trình nhận và xuất hóa đơn, chứng từ và phương thức lưu giữ bộ chứng từ hoàn chỉnh đảm bảo quyết toán thuế.') : 
                                ('Advising customers on how to handle backlogs in the process of receiving and issuing invoices and documents and how to keep a complete set of documents to ensure tax finalization.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Trên cơ sở hệ thống chứng từ kế toán hoàn thiện, thực hiện nhập số liệu vào phần mềm kế toán.') : 
                                ('On the basis of the completed accounting voucher system, data entry into accounting software is performed.') 
                            }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('3. Tư vấn cho Khách hàng kiểm soát rủi ro về chi phí, đảm bảo tối ưu thuế') : 
                        ('3. Consulting for customers to control cost risks, ensure tax optimization') }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Khảo sát các quy trình sản xuất kinh doanh chính của khách hàng, tư vấn cho Bên A hoàn thiện hệ thống kiểm soát nội bộ.') : 
                                ('Surveying the main production and business processes of the customer, advising Party A to perfect the internal control system.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tư vấn cho Khách hàng các phương án kiểm soát chi phí đầu vào, cân đối hàng tồn kho… đảm bảo tối ưu thuế cho khách hàng;') : 
                                ('Advising customers on options to control input costs, balance inventory... to ensure optimal tax for customers;') 
                            }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">
                        {{ language_name == 'vi' ? ('4. Lập các báo cáo thuế, quyết toán thuế, BCTC theo tiến độ quy định của Cơ quan thuế') : 
                        ('4. Prepare tax reports, tax finalization, financial statements according to the schedule prescribed by the tax authorities') }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập hồ sơ khai thuế GTGT: Tờ khai thuế, báo cáo tình hình sử dụng hóa đơn, quyết toán báo cáo tình hình sử dụng hóa đơn;') : 
                                ('Making VAT declaration dossiers: Tax declarations, reports on the use of invoices, finalization of reports on the use of invoices;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập hồ sơ khai thuế TNCN: Tờ khai thuế TNCN theo tháng, quý; tờ khai quyết toán thuế TNCN năm;') : 
                                ('Making PIT declaration dossiers: Monthly and quarterly PIT declarations; annual PIT finalization declaration;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập quyết toán thuế TNDN: Tờ khai tạm tính quý, quyết toán thuế năm;') : 
                                ('Making CIT finalization: Quarterly provisional declaration, annual tax finalization;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập Báo cáo tài chính năm và các báo cáo năm khác nếu có;') : 
                                ('Prepare annual financial statements and other annual reports, if any;') 
                            }}
                        </li>
                    </ul>
                    <h2>{{ item.content_8[language_name] }}</h2>
                    <p style="font-size: 20px; color: #2224d3; font-weight: bold;">{{ 
                        language_name == 'vi' ? ('CÔNG TY TNHH TƯ VẤN GIẢI PHÁP KẾ TOÁN VIỆT NAM') : 
                        ('VIETNAM ACCOUNTING SOLUTIONS CONSULTING COMPANY LIMITED') }}
                    </p>
                    <p>{{ 
                        language_name == 'vi' ? ('Cơ sở Hà Nội : P 601 Tòa nhà Sunrise Building số 90 Trần Thái Tông – Quận Cầu Giấy – TP Hà Nội.') : 
                        ('Hanoi campus: P 601 Sunrise Building at 90 Tran Thai Tong - Cau Giay District - Hanoi City.') }}
                    </p>
                    <p>{{ 
                        language_name == 'vi' ? ('Cơ sở Hồ Chí Minh: Số 95 đường số 5, Phường An Phú, Quận 2, TP. Hồ Chí Minh ') : 
                        ('Ho Chi Minh campus: No. 95, No. 5, An Phu Ward, District 2, City. Ho Chi Minh') }}
                    </p>
                    <p>{{ 
                        language_name == 'vi' ? ('Cơ sở Hải Phòng: 4/23 phố Phạm Huy Thông, P. Lam Sơn, Q. Lê Chân, Hải Phòng') : 
                        ('Hai Phong campus: 4/23 Pham Huy Thong Street, Lam Son Ward, Le Chan District, Hai Phong') }}
                    </p>
                    <p>{{ 
                        language_name == 'vi' ? ('Cơ sở Thái Bình: Số nhà 17/1, Ngõ 515 Lý Thường Kiệt, Trần Lãm, Thái Bình') : 
                        ('Thai Binh campus: House number 17/1, Alley 515 Ly Thuong Kiet, Tran Lam, Thai Binh') }}
                    </p>
                    <p style="text-align: center;">{{ 
                        language_name == 'vi' ? ('Điện thoại: 04.32008354/04.32008364') : 
                        ('Phone: 04.32008354/04.32008364') }}
                    </p>
                    <p style="text-align: center;">{{ 
                        language_name == 'vi' ? ('Hotline:') : 
                        ('Hotline:') }}
                        <span style="color: red">0967 66 1212</span>
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
