@media screen and (min-width: 1100px) {
  .footer-container {
    padding: 34px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    .footer-content {
      width: 100%;
      & > img {
        margin-bottom: 20px;
        margin-left: 300px;
        margin-top: 40px;
      }
      & > p {
        margin: 0;
        font-size: 16px;
      }
      & > div {
        font-size: 16px;
      }
    }
    .footer-content-container {
      flex-direction: column;
      flex-basis: 80%;
      width: 100%;
      max-width: 100%;
      display: flex;
      justify-content: right;
      margin-right: 200px;
      white-space: pre-wrap;
    }
  }
}


// Imports
// --------------------------------------


@media screen and (max-width: 700px) {
  .footer-content {
    width: 100%;
    max-width: 100%;
    text-align: center;
    & > img {
      align-items: center;
    }
    & > div {
      font-size: 16px;
    }
  }
  .footer-content-container {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: left;
    white-space: pre-line;
    margin-left: 12px;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .footer-container {
    padding: 40px;
  }
  .footer-content {
    flex-basis: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .footer-icon-container {
    flex-basis: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: left !important;
    padding-top: 20px;
  }
}
