<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
<div class="footer-base" style="background: linear-gradient(180deg, #1F3664 0%, #146099 100%);
;">
  <div class="content">
    <div class="footer-container">
      <div class="footer-content">
        <img width="300" src="../../../assets/images/logo white-01-01 1.png" />
      </div>
      <div class="footer-content-container" *ngFor="let ct of this.footer_content.Content[this.language_name]">
        {{ct.content}}
      </div>
    </div>
  </div>
</div>

