<img class="banner" src="../../../assets/images/banner/manager-man-checking-finance-working 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div style="width:70%; margin: 0px auto;">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button [class]="selectedTab== 'Specialized_knowledge'? 'active': ''" (click)="selectedTab='Specialized_knowledge'" style="background-color: #FFFFFF; color: #186398;">
                    {{ language_name == 'vi' ? ('Kiến thức chuyên ngành') : ('Specialized knowledge') }}
                </button>
                <button [class]="selectedTab== 'Work_experience'? 'active': ''" (click)="selectedTab='Work_experience'">
                    {{ language_name == 'vi' ? ('Kinh nghiệm làm việc') : ('Work experience') }}
                </button>
                <button [class]="selectedTab== 'download'? 'active': ''" (click)="selectedTab='download'">
                    Download
                </button>
            </div>
        </div>
        <div class="tabPanel" >
            <div class="main-content">
                <h2>
                    {{ language_name == 'vi' ? ('Những nội dung mới trong thông tư 200 so với quyết định 15') : ('New contents in Circular 200 compared to Decision 15') }}
                </h2>
                <div *ngFor="let item of system_vn">

                    <ul style="font-weight: bold;">
                        <li>
                            {{ language_name == 'vi' ? ('Thông tư 200/2014/TT-BTC thay thế toàn bộ Quyết định 15, có hiệu lực thi hành từ 1/1/2015 và áp dụng cho việc lập và trình bày BCTC từ năm 2015 trở đi;') : ('Circular 200/2014/TT-BTC replaces all Decision 15, takes effect from January 1, 2015 and applies to the preparation and presentation of financial statements from 2015 onwards;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Thông tư số 200/2014/TT-BTC cởi mở hơn so với Quyết định 15, mang tính chất hướng dẫn nhiều, coi trọng BẢN CHẤT HƠN HÌNH THỨC.') : ('Circular No. 200/2014/TT-BTC is more open than Decision 15, more guiding in nature, attaching more importance to nature than form.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Thay đổi về bản chất một số điểm chính sau đây:') : ('Change in nature some of the following key points:') }}
                        </li>
                    </ul>
                    
                    <p>
                        {{ language_name == 'vi' ? ('+ Bỏ 3 hình thức ghi sổ kế toán (nhật ký chứng từ, chứng từ ghi sổ, nhật ký chung)') : ('+ Eliminate 3 forms of bookkeeping (vouchers, bookkeeping vouchers, general journal)') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('+ Nhiều giao dịch/nghiệp vụ thay đổi quan điểm ghi nhận. Theo đó (i) có một số TK bỏ đi, một số TK thêm vào, (ii) trình bày một số chỉ tiêu trên BCTC có thay đổi, (iii) việc hạch toán vào một số TK sẽ khác với việc trình bày trên BCTC, ….') : ('+ Many transactions/transactions changed the record. Accordingly (i) some accounts are deleted, some accounts are added, (ii) some items in the financial statements are presented with changes, (iii) the accounting in some accounts will be different from those presented above. BCTC, ….') }}
                    </p>

                    <ol style="list-style-type: lower-latin">
                        <li>{{item.content_1[language_name]}}</li>
                        <li>
                            {{ language_name == 'vi' ? ('Khi lập báo cáo tài chính thì sự giảm giá tài sản (impairment asset) được xem xét đến cho một số nghiệp vụ: Ví dụ: Một số khoản đầu tư tài chính và bất động sản đầu tư .') : ('When preparing financial statements, impairment of assets is considered for a number of transactions: For example, some financial investments and investment properties.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Việc ghi nhận giao dịch/nghiệp vụ theo hướng sẽ được tuân thủ cao nhất chuẩn mực báo cáo tài chính quốc tế (IFRS).') : ('Transactions/transactions will be recorded in the direction that they will comply with the highest international financial reporting standards (IFRS).') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Việc hạch toán cho mục đích kế toán sẽ có sự phân biệt rõ với mục đích thuế.') : ('Accounting for accounting purposes will be clearly distinguished from tax purposes.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Thuyết minh BCTC bao gồm cả nội dung và đối tượng.') : ('The notes to the financial statements include both content and subjects.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Các chỉ tiêu không phát sinh trên BCTC doanh nghiệp được phép bỏ đi.') : ('Items that do not arise in the financial statements of the enterprise are allowed to be omitted.') }}
                        </li>
                        <li>{{item.content_2[language_name]}}</li>
                        <li>
                            {{ language_name == 'vi' ? ('Trong chế độ mới có nội dung hướng dẫn về chuyển số dư và điều chỉnh hồi tố.') : ('In the new mode there are instructions on balance transfers and retroactive adjustments.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('BCTC hợp nhất là một phần của chế độ kế toán doanh nghiệp.') : ('Consolidated financial statements are part of the corporate accounting regime.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Chia cổ tức dựa trên BCTC hợp nhất, không dựa trên BCTC công ty mẹ.') : ('Dividend distribution is based on the consolidated financial statements, not the parent company`s financial statements.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Một số tình huống hợp nhất BCTC được hướng dẫn cụ thể, đặc biệt là hợp nhất BC lưu chuyển tiền tệ.') : ('Some financial statement consolidation situations are specifically guided, especially cash flow BC consolidation.') }}
                        </li>
                    </ol>
                    <ol>
                        <li style="font-weight: bold; font-size: 18px;">
                            {{ language_name == 'vi' ? ('Chi tiết những nội dung đổi mới trong Chế độ kế toán doanh nghiệp thay thế QĐ 15 ') : ('Details of innovations in the corporate accounting regime replacing Decision 15') }}
                        </li>
                    </ol>
                    <p style="font-weight: bold; font-size: 18px;">
                        {{ language_name == 'vi' ? ('PHẦN 1: CÁC ĐIỂM CHUNG') : ('PART 1: GENERAL POINTS') }}
                    </p>
                    <ol style="list-style-type: decimal">
                        <li>
                            {{ language_name == 'vi' ? ('Bỏ tất cả hình thức sổ kế toán, DN tự quyết định hình thức sổ phù hợp với DN (Phụ lục hình thức sổ QĐ15 chỉ mang tính tham khảo).') : ('Abandon all forms of accounting books, enterprises themselves decide the form of books suitable for enterprises (Appendix on form of book QĐ15 is for reference only).') }}
                        </li>
                        <li>{{item.content_3[language_name]}}</li>
                        <li>
                            {{ language_name == 'vi' ? ('DN tự quyết định việc ghi nhận vốn kinh doanh cấp cho đơn vị hạch toán phụ thuộc là Nợ phải trả (336) hoặc Vốn chủ sở hữu (411).') : ('Enterprises decide for themselves whether to recognize the business capital granted to the dependent accounting unit as Liabilities (336) or Equity (411).') }}
                        </li>
                        <li>{{item.content_4[language_name]}}</li>
                    </ol>
                    <p style="font-weight: bold; font-size: 18px;">
                        {{ language_name == 'vi' ? ('PHẦN 2: HỆ THỐNG TÀI KHOẢN: các tài khoản TÀI SẢN không còn phân biệt ngắn hạn, dài hạn.') : ('PART 2: ACCOUNT SYSTEM: ASSET accounts no longer distinguish short-term and long-term.') }}
                    </p>
                    <ol style="list-style-type: decimal;">
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Bỏ các tài khoản') : ('Remove accounts') }}
                        </li>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('Bỏ các tài khoản: 142, 144, 223, 311, 315, 342, 415.') : ('Remove accounts: 142, 144, 223, 311, 315, 342, 415.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Bỏ các tài khoản: 129, 139, 159') : ('Remove accounts: 129, 139, 159') }}</li>
                            <li>{{ language_name == 'vi' ? ('Bỏ các tài khoản: 512, 531, 532') : ('Remove accounts: 512, 531, 532') }}</li>
                            <li>{{ language_name == 'vi' ? ('Thêm tài khoản 357-Quỹ bình ổn giá') : ('Add account 357-Price stabilization fund') }}</li>
                            <li>{{ language_name == 'vi' ? ('BỎ TOÀN BỘ TÀI SẢN NGOÀI BẢNG CĐKT') : ('REMOVE ALL ASSETS OFF THE BALANCE SHEET') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán tiền') : ('Cash accounting') }}
                        </li>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('1113: Vàng tiền tệ (trước đây là Vàng bạc, kim khí quý, đá quý)') : ('1113: Monetary gold (formerly Gold, precious metals, gems)') }}</li>
                            <li>{{ language_name == 'vi' ? ('Khoản thấu chi ngân hàng không được ghi âm 112 mà được phản ánh tương tự vay ngân hàng (341-Vay và nợ tài chính, TT 200 đã bỏ 311 và 315)') : ('Bank overdraft is not recorded 112 but is reflected similarly to a bank loan (341-Loan and financial debt, TT 200 omitted 311 and 315)') }}</li>
                            <li>{{ language_name == 'vi' ? ('Thay đổi cách xác định tỷ giá giao dịch thực tế trong các giao dịch ngoại tệ') : ('Change the way the actual exchange rate is determined in foreign currency transactions') }}</li>
                            <li>{{ language_name == 'vi' ? ('Đánh giá lại các khoản mục tiền tệ có gốc ngoại tệ: tại tất cả các thời điểm phải lập BCTC (không bao gồm các khoản nhận trước của người mua hoặc trả trước cho người bán bằng ngoại tệ, Doanh thu nhận trước hoặc chi phí trả trước bằng ngoại tệ ).') : ('Re-evaluate monetary items denominated in foreign currencies: at all times, financial statements must be prepared (excluding advances received from buyers or prepaid to sellers in foreign currencies, revenue received in advance or expenses prepayment in foreign currency).') }}</li>
                            <li>{{ language_name == 'vi' ? ('Bổ sung thêm: phải đánh giá lại Các khoản cho vay, đặt cọc, ký cược, ký quỹ được quyền nhận lại hoặc nhận đặt cọc, ký cược, ký quỹ bằng ngoại tệ phải hoàn trả.') : ('Additional: must re-evaluate Loans, deposits, deposits, and deposits entitled to receive back or receive deposits, deposits, and deposits in foreign currencies to be returned.') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán đầu tư tài chính') : ('Financial investment accounting') }}
                        </li>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('Tài khoản 121-Chứng khoán kinh doanh (trước đây là Đầu tư chứng khoán ngắn hạn)') : ('Account 121-Trading securities (formerly Short-term securities investment)') }}</li>
                            <li>{{ language_name == 'vi' ? ('Theo quyết định 15/2006 thì TK 121 gồm Chứng khoáng kinh doanh và Chứng khoán nắm giữ chờ đáo hạn dưới 12 tháng. Nay Thông tư 200 thì tài khoản 121 chỉ là Chứng khoáng kinh doanh ;)') : ('According to Decision 15/2006, Account 121 includes securities for trading and securities for holding pending maturity under 12 months. Now in Circular 200, account 121 is only trading securities;') }}</li>
                            <li>{{ language_name == 'vi' ? ('Chứng khoán nắm giữ chờ đáo hạn dưới 12 tháng chuyển sang TK 128') : ('Securities held for less than 12 months to maturity will be transferred to Account 128') }}</li>
                            <li>{{ language_name == 'vi' ? ('Cổ tức bằng cổ phiếu, nhà đầu tư chỉ theo dõi số lượng trên thuyết minh BCTC.') : ('Stock dividends, investors only track the amount on the notes to the financial statements.') }}</li>
                            <li>{{item.content_5[language_name]}}</li>
                            <li>{{ language_name == 'vi' ? ('Việc phân phối lợi nhuận cho chủ sở hữu tại công ty mẹ được căn cứ vào mức LNST chưa phân phối thuộc sở hữu của công ty mẹ trên BCTC hợp nhất.') : ('The distribution of profits to owners at the parent company is based on the undistributed NPAT owned by the parent company in the consolidated financial statements.') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán hợp đồng hợp tác kinh doanh (BCC)') : ('Accounting for business cooperation contracts (BCC)') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('Thông tư 200 nêu rất rõ về các trường hợp của hợp đồng hợp tác kinh doanh so với Quyết định 15/2006') : ('Circular 200 clearly states the cases of business cooperation contracts compared to Decision 15/2006') }}
                        </p>
                        <p>{{item.content_6[language_name]}}</p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Dự phòng tổn thất tài sản (TK 229, trước đây là "Dự phòng giảm giá đầu tư dài hạn):') : ('Provision for loss of assets (Account 229, formerly "Provision for devaluation of long-term investments):') }}
                        </li>
                        <p>{{item.content_7[language_name]}}</p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Nguyên tắc kế toán các khoản phải thu: ') : ('Principles of accounting for receivables:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? (' Nêu rõ ràng nguyên tắc hạch toán giữa tài khoản 131 và 138; 136.') : ('Clearly state the accounting principles between accounts 131 and 138; 136.') }}
                        </p>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('Phải thu của khách hàng (TK 131) gồm các khoản phải thu mang tính chất thương mại phát sinh từ giao dịch có tính chất mua-bán.') : ('Receivables from customers (Account 131) include trade receivables arising from purchase and sale transactions.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Phải thu nội bộ (TK 136) gồm các khoản phải thu giữa đơn vị cấp trên và đơn vị cấp dưới trực thuộc không có tư cách pháp nhân hạch toán phụ thuộc.') : ('Internal receivables (Account 136) include receivables between superior units and subordinate units without legal entity status for dependent accounting.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Phải thu khác (TK 138-) gồm các khoản phải thu không có tính thương mại, không liên quan đến giao dịch mua bán.') : ('Other receivables (Account 138-) include non-commercial receivables unrelated to sales transactions.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Khi lập BCTC, CĂN CỨ KỲ HẠN CÒN LẠI của các khoản phải thu để phân loại LÀ DÀI HẠN HOẶC NGẮN HẠN. Các chỉ tiêu phải thu của Bảng CĐKT có thể bao gồm cả các khoản được phản ánh ở các TK khác.') : ('When preparing financial statements, basing on the remaining term of receivables to classify as LONG-TERM OR SHORT-TERM. Receivables items of the Balance Sheet may include amounts reflected in other accounts.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Bên giao uỷ thác xuất khẩu sử dụng TK 131, bên nhận uỷ thác sử dụng TK 138, ngoại trừ phải thu về phí uỷ thác.') : ('The entrusting party uses account 131, the entrusting party uses account 138, except for the consignment fee.') }}</li>
                            <li>{{ language_name == 'vi' ? ('TK 138 phản ánh các khoản cho bên khác mượn bằng TÀI SẢN PHI TIỀN TỆ (nếu cho mượn bằng tiền thì phải kế toán là cho vay trên TK 1283-Cho vay)') : ('Account 138 reflects loans to other parties by NON-CURRENCY ASSETS (if the loan is in cash, it must be recorded as a loan in Account 1283-Lending)') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Hàng tồn kho') : ('Inventory') }}
                        </li>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('KHÔNG ÁP DỤNG PHƯƠNG PHÁP LIFO') : ('DO NOT APPLY LIFO METHOD') }}</li>
                            <li>{{ language_name == 'vi' ? ('Bổ sung kỹ thuật tính giá theo PHƯƠNG PHÁP GIÁ BÁN LẺ') : ('Add pricing technique by RETAIL PRICE METHOD') }}</li>
                            <li>{{ language_name == 'vi' ? ('NÊU CHI TIẾT CÁCH HẠCH TOÁN CÁC TRƯỜNG HỢP XUẤT KHO KHUYẾN MẠI, QUẢNG CÁO') : ('DETAILS HOW TO ACCOUNT THE CASE OF PROMOTIONS AND ADVERTISING') }}</li>
                            <li>{{ language_name == 'vi' ? ('Không vốn hoá lãi vay đối với nhà thầu xây lắp') : ('Do not capitalize loan interest for construction contractors') }}</li>
                            <li>{{ language_name == 'vi' ? ('Không áp dụng TK 157 khi chuyển hàng tồn kho cho các đơn vị phụ thuộc (mà sử dụng TK 136)') : ('Account 157 does not apply when transferring inventory to dependent units (which uses Account 136)') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Thuế GTGT được khấu trừ (TK 133):') : ('Deductible VAT (Account 133):') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('Nêu chi tiết kỹ thuật chia thuế GTGT trong hợp đồng hợp tác kinh doanh (BCC)') : ('Technical details of VAT division in business cooperation contract (BCC)') }}
                        </p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Nguyên tác kế toán TSCĐ, BĐSĐT và XDCB:') : ('Principles of accounting for fixed assets, investment real estate and capital construction:') }}
                        </li>
                        <ul>
                            <li>{{item.content_8[language_name]}}</li>
                            <li>{{ language_name == 'vi' ? ('Các chi phí bảo dưỡng, sửa chữ, duy trì cho TSCĐ hoạt động bình thường định kỳ được trích trước dự phòng phải trả-TK 352 (không sử dụng TK 335).') : ('The expenses for maintenance, repair, and maintenance of fixed assets in normal operation are periodically deducted in advance as provision for payables - Account 352 (Account 335 is not used).') }}</li>
                            <li>{{ language_name == 'vi' ? ('BĐS đầu tư cho thuê hoạt động phải trích khấu hao; BĐSĐT nắm giữ chờ tăng giá, doanh nghiệp không trích khấu hao mà xác định tổn thất do giảm giá trị.') : ('Investment property for operating lease must be depreciated; Investment real estate is held for an increase in price, the enterprise does not depreciate it, but determines the loss due to a decrease in value.') }}</li>
                            <li>{{item.content_9[language_name]}}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Chi phí trả trước:') : ('Prepaid expenses:') }}
                        </li>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('Phải theo dõi chi tiết thời gian trả trước để phân loại trên bảng CĐKT.') : ('Must track details of prepayment for classification on the balance sheet.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Chi phí phát hành trái phiếu không ghi nhận là chi phí trả trước.') : ('Bond issuance costs are not recognized as prepaid expenses.') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Thuế TN hoãn lại:') : ('Deferred income tax:') }}
                        </li>
                        <ul>
                            <li>{{ language_name == 'vi' ? ('Không sử dụng khái niệm chênh lệch vĩnh viễn.') : ('Do not use the concept of permanent difference.') }}</li>
                            <li>{{ language_name == 'vi' ? ('Được phép Bù trừ trên BCTC khi của cùng DN và cùng cơ quan thuế quản lý.') : ('Allowed to offset on financial statements when owned by the same enterprise and managed by the same tax authority.') }}</li>
                        </ul>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán các khoản nợ phải trả: tương tự khoản phải thu') : ('Accounting for payables: similar to accounts receivable') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('Các khoản thuế gián thu như thuế GTGT (trực tiếp và gián tiếp), thuế TTĐB, XK, BVMT và các loại thuế gián thu khác phải loại trừ ra khỏi số liệu về doanh thu gộp trên BCTC hoặc báo cáo khác.') : ('Indirect taxes such as VAT (direct and indirect), excise, export, environmental protection and other indirect taxes must be excluded from gross revenue figures on financial statements or other reports.') }}
                        </p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Chi phí phải trả:') : ('Accounting for payables: similar to accounts receivable') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('Phân biệt TK 335-Chi phí phải trả và 352-Dự phòng phải trả') : ('Differentiate account 335-Expenses payable and 352- Provision payable') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('TK 352: không chắc chắn về mặt thời gian và giá trị; hàng hoá, dịch vụ chưa nhận.') : ('Account 352: uncertain time and value; goods or services not yet received.') }}
                        </p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Vay và nợ thuê tài chính (TK 341, bỏ TK 311, 315 và gộp vào 341): ') : ('Accounting for payables: similar to accounts receivable') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('không bao gồm vay dưới hình thức phát hành trái phiếu.') : ('excluding loans in the form of bond issuance.') }}
                        </p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán vốn chủ sở hữu:') : ('Equity accounting:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('Ghi nhận theo VỐN THỰC GÓP, không ghi nhận vốn góp theo vốn điều lệ trên giấy phép đăng ký kinh doanh.') : ('Recorded according to ACTUAL CAPITAL CONTRIBUTION, not recorded capital contribution according to charter capital on business registration license.') }}
                        </p>
                        <p>
                            {{item.content_10[language_name]}}
                        </p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán các khoản Doanh thu:') : ('Accounting for Revenue:') }}
                        </li>
                        <p>
                            {{item.content_11[language_name]}}
                        </p>
                        <p>
                            {{item.content_12[language_name]}}
                        </p>
                        <p>
                            {{item.content_13[language_name]}}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('Doanh thu bán BĐS của DN là chủ đầu tư: nêu rất kỹ các trường hợp ghi nhận doanh thu.') : ('Recorded according to ACTUAL CAPITAL CONTRIBUTION, not recorded capital contribution according to charter capital on business registration license.') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('Chìa khoá trao tay: ghi nhận Doanh thu khi trao chìa khoán nhà, không ghi nhận doanh thu khi Khách hàng ứng trước tiền.') : ('Turnkey: Revenue is recognized when handing over house keys, not revenue when customers advance money.') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('T.Hợp khách hàng có quyền chọn nhà thầu hoàn thiện nội thất: chủ đầu tư được ghi nhận Doanh thu khi bàn giao phần thô.') : ('In case the customer has the right to choose an interior finishing contractor: the investor is recognized as Revenue when handing over the raw part.') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('Đối với tiền lãi phải thu từ các khoản cho vay, bán hàng trả chậm, trả góp: Doanh thu chỉ được ghi nhận khi chắc chắn thu được và khoản gốc cho vay, nợ gốc phải thu không bị phân loại là quá hạn cần phải lập dự phòng.') : ('For interest receivable from loans, deferred payment and installment sales: Revenue is recognized only when it is certain to collect and the loan principal and receivable principal are not classified as overdue. must make a backup.') }}
                        </p>
                        <li style="font-weight: bold;">
                            {{ language_name == 'vi' ? ('Kế toán các khoản chi phí:') : ('Accounting of expenses:') }}
                        </li>
                        <p>{{item.content_14[language_name]}}</p>
                    </ol>
                    <p style="font-weight: bold; font-size: 18px;">
                        {{ language_name == 'vi' ? ('PHẦN 3: BÁO CÁO TÀI CHÍNH') : ('PART 3: SMALL FINANCIAL STATEMENTS') }}
                    </p>
                    <p style="font-weight: bold; font-size: 18px;">
                        {{ language_name == 'vi' ? ('BẢNG CÂN ĐỐI KẾ TOÁN') : ('ACCOUNTING BALANCE SHEET') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Bổ sung thêm Bảng CĐKT áp dụng cho DN KHÔNG ĐÁP ỨNG GIẢ ĐỊNH HOẠT ĐỘNG LIÊN TỤC (DN tạm ngưng hoạt động, giải thể...)') : ('Supplementing the financial balance sheet applicable to enterprises that do not meet the assumption of CONTINUOUS OPERATION (enterprise suspends operations, dissolves...)') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Bổ sung thêm chỉ tiêu:') : ('Add more targets:') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('IV. Tài sản dở dang dài hạn:') : ('IV. Long-term unfinished assets:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('1.Chi phí sản xuất, kinh doanh dở dang dài hạn: các dự án treo, mọc cỏ xanh lâu nay sẽ phải liệt kê vào mục này.---> chỉ tiêu mới') : ('1.Long-term unfinished business and production costs: projects that have been suspended or grown green for a long time will have to be listed in this section.---> new target') }}
                        </p>
                        <li>
                            {{ language_name == 'vi' ? ('Vốn chủ sở hữu:') : ('Equity:') }}
                        </li>
                        <p>
                            {{ language_name == 'vi' ? ('11. LNST chưa phân phối: tách chi tiết thành 2 chỉ tiêu') : ('11. Undistributed NPAT: separate details into 2 targets') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('LNST chưa phân phối luỹ kế đến cuối kỳ trước.---> chỉ tiêu mới') : ('Accumulated undistributed NPAT to the end of the previous period.---> New target') }}
                        </p>
                        <p>
                            {{ language_name == 'vi' ? ('LNST chưa phân phối kỳ này.---> chỉ tiêu mới') : ('Undistributed NPAT this period.---> New target') }}
                        </p>
                        
                    </ul>
                    <p style="font-weight: bold; font-size: 18px;">
                        {{ language_name == 'vi' ? ('BÁO CÁO LƯU CHUYỂN TIỀN TỆ GIÁN TIẾP: ') : ('INDIRECT CASH FLOWS REPORT:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('bổ sung thêm/chỉnh sửa 1 số chỉ tiêu:') : ('add/edit some indicators:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('I.Lưu chuyển từ hoạt động kinh doanh') : ('I. Cash flow from business activities') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Lãi, lỗ chênh lệch TGHĐ do đánh giá lại các khoản mục tiền tệ có gốc ngoại tệ (trước đây là Lãi, lỗ chênh lệch TGHĐ chưa thực hiện)') : ('Gain and loss on exchange rate difference due to revaluation of monetary items of foreign currency origin (formerly unrealized exchange rate difference gain and loss)') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Các điều chỉnh khác---> chỉ tiêu mới') : ('Other adjustments---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Tăng, giảm chứng khoán kinh doanh---> chỉ tiêu mới') : ('Increase and decrease in trading securities---> new target') }}
                    </p>
                    <p style="font-weight: bold; font-size: 18px;">
                        {{ language_name == 'vi' ? ('THUYẾT MINH BCTC:') : ('NOTES to the financial statements:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('I. Đặc điểm hoạt động của DN:') : ('I. Operational characteristics of enterprises:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('4. Chu kỳ sản xuất, kinh doanh thông thường---> chỉ tiêu mới') : ('4. Normal production and business cycle---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('7. Tuyên bố về khả năng so sánh thông tin trên BCTC---> chỉ tiêu mới') : ('7. Statement on comparability of information on financial statements---> new targets') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('VI.Thông tin bổ sung cho các khoản mục trình bày trong bảng CĐKT') : ('VI.Additional information for items presented in the balance sheet') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('3. Phải thu của khách hàng:') : ('3. Receivables from customers:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('c) Phải thu của khách hàng là các bên liên quan (chi tiết từng đối tượng)---> chỉ tiêu mới') : ('c) Receivables from customers who are related parties (details of each object)---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('5. Tài sản thiếu chờ xử lý (Chi tiết từng loại tài sản thiếu)---> chỉ tiêu mới') : ('5. Pending shortage of assets (Details of each type of missing asset)---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('6. Nợ xấu---> chỉ tiêu mới') : ('6. Bad debt---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('8. Tài sản dở dang dài hạn: dự án treo, công trình chậm tiến độ cỏ mọc hoang phải thuyết minh vào đây---> chỉ tiêu mới') : ('8. Long-term unfinished assets: suspended projects, works behind schedule, wild grass must be explained here---> new targets') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('15. Vay và nợ thuê tài chính---> chỉ tiêu mới') : ('15. Loans and finance lease debt---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Số có khả năng trả nợ:;') : ('Number of debt repayment capacity:;') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Thuyết minh chi tiết về các khoản vay và nợ thuê TC đối với các bên liên quan.') : ('Explain in detail about loans and finance lease debt to related parties.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('16. Phải trả người bán:') : ('16. Payables to the seller:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Số có khả năng trả nợ---> chỉ tiêu mới') : ('Number able to repay---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Phải trả người bán là các bên liên quan (chi tiết từng đối tượng)---> chỉ tiêu mới') : ('Payables to related parties (details of each object)---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('17. Thuế và các khoản phải nộp nhà nước:') : ('17. Taxes and other payables to the State:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Số đã thực nộp trong năm---> chỉ tiêu mới') : ('Amount actually paid in the year---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('20. Doanh thu chưa thực hiện') : ('20. Unrealized Revenue') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Doanh thu nhận trước---> chỉ tiêu mới') : ('Revenue received first---> new target') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Khả năng không thực hiện được hợp đồng với khách hàng (chi tiết từng khoản mục, lý do không có khả năng thực hiện)---> chỉ tiêu mới') : ('The possibility of not being able to perform the contract with the customer (details of each item, reasons for not being able to perform)---> new target') }}
                    </p>

                    <h2 style="color: #000000;">
                        {{ language_name == 'vi' ? ('Kế toán Việt Nam – Nơi đào tạo tư duy kế toán chuyên nghiệp!') : ('Accounting Vietnam - A place to train professional accounting thinking!') }}
                    </h2>
                    <h4 class="text-center" style="color: #000000;">
                        {{ language_name == 'vi' ? ('Mọi chi tiết xin liên hệ:') : ('For more details please contact:') }}
                    </h4>
                    <h2>
                        {{ language_name == 'vi' ? ('CÔNG TY TNHH TƯ VẤN GIẢI PHÁP KẾ TOÁN VIỆT NAM') : ('VIETNAM ACCOUNTING SOLUTIONS CONSULTING COMPANY LIMITED') }} 
                    </h2>
                    <div class="phu" style="margin-bottom: 50px">
                        <p class="text-center" style="color: #186398; font-size: 24px;">
                            {{ language_name == 'vi' ? ('Cơ sở Cầu Giấy : P 910 Tòa nhà Sunrise Building số 90 Trần Thái Tông – Quận Cầu Giấy – TP Hà Nội.') : ('Cau Giay Campus : P 910 Sunrise Building No. 90 Tran Thai Tong - Cau Giay District - Hanoi City.') }}
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">{{ 
                            language_name == 'vi' ? ('Điện thoại: 04.32008354/04.32008364') : 
                            ('Phone: 04.32008354/04.32008364') }}
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">{{ 
                            language_name == 'vi' ? ('Hotline:') : 
                            ('Hotline:') }}
                            <span style="color: red">0967 66 1212</span>
                        </p>
                        <p class="text-center" style="color: #186398; font-size: 24px;">
                            Website : ketoanvina.com.vn
                        </p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
</div>

