<img class="banner" src="../../../assets/images/banner/manager-man-checking-finance-working 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div style="width:70%; margin: 0px auto;">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button [class]="selectedTab== 'Specialized_knowledge'? 'active': ''" (click)="selectedTab='Specialized_knowledge'" style="background-color: #FFFFFF; color: #186398;">
                    {{ language_name == 'vi' ? ('Kiến thức chuyên ngành') : ('Specialized knowledge') }}
                </button>
                <button [class]="selectedTab== 'Work_experience'? 'active': ''" (click)="selectedTab='Work_experience'">
                    {{ language_name == 'vi' ? ('Kinh nghiệm làm việc') : ('Work experience') }}
                </button>
                <button [class]="selectedTab== 'download'? 'active': ''" (click)="selectedTab='download'">
                    Download
                </button>
            </div>
        </div>
        <div class="tabPanel" >
            <div class="main-content">
                <h2>
                    {{ language_name == 'vi' ? ('Những điểm mới trong của Bộ luật Lao động') : ('New points in the Labor Code') }}
                </h2>
                <div *ngFor="let item of system_vn">
                    <p>{{item.content_1[language_name] }}</p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Đối với hợp đồng lao động') : ('For employment contract') }}
                        </strong>
                    </p>
                    <p>{{item.content_2[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Với quy định cho thuê lao động sẽ giải quyết được tình trạng vừa thừa, vừa thiếu giữa các doanh nghiệp. Đồng thời giải quyết được vấn đề thất nghiệp cho những người trong độ tuổi lao động.') : ('With the labor leasing regulations, it will solve the situation of both redundancy and shortage between businesses. At the same time, it solves the problem of unemployment for people of working age.') }}
                    </p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Về chính sách tiền lương') : ('About salary policy') }}
                        </strong>
                    </p>
                    <p>{{item.content_3[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Về tiền lương, làm thêm giờ, làm việc vào ban đêm, ngoài những quy định đang hiện hành theo khoản 1 và 2, điều 97, NLĐ còn được trả thêm 20% tiền lương tính theo đơn giá tiền lương hoặc tiền lương theo công việc làm vào ban ngày.” (Khoản 3 Điều 97).') : ('Regarding wages, overtime, and night work, in addition to the current regulations under Clauses 1 and 2, Article 97, employees are also entitled to an additional 20% of their salary calculated according to the wage unit price or salary according to the job. day jobs.” (Clause 3, Article 97).') }}
                    </p>
                    <p>{{item.content_4[language_name] }}</p>
                    <p>{{item.content_5[language_name] }}</p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Thời giờ làm việc, thời giờ nghỉ ngơi') : ('Time to work, time to rest') }}
                        </strong>
                    </p>
                    <p>{{item.content_6[language_name] }}</p>
                    <p>{{item.content_7[language_name] }}</p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Về thời gian nghỉ thai sản dành cho lao động nữ') : ('About maternity leave for female employees') }}
                        </strong>
                    </p>
                    <p>{{item.content_8[language_name] }}</p>
                    <p>{{item.content_9[language_name] }}</p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Độ tuổi nghỉ hưu đối với nhóm lao động cụ thể') : ('Retirement age for specific groups of workers') }}
                        </strong>
                    </p>
                    <p>{{item.content_10[language_name] }}</p>
                    <p>{{item.content_11[language_name] }}</p>
                    <p>{{item.content_12[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương I. Những quy định chung (gồm 8 điều, từ điều 1 đến điều 8)') : ('Chapter I. General provisions (including 8 articles, from 1 to 8)') }}
                    </p>
                    <p>{{item.content_13[language_name] }}</p>
                    <p>{{item.content_14[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương II. Việc làm (6 điều từ Điều 9 đến Điều 14)') : ('Chapter II. Employment (6 articles from Article 9 to Article 14)') }}
                    </p>
                    <p>{{item.content_15[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương III. Hợp đồng lao động') : ('Chapter III. Labor contract') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương III có 5 mục 44 điều (từ điều 15 đến điều 58)') : ('Chapter III has 5 sections and 44 articles (from 15 to 58).') }}
                    </p>
                    <p>{{item.content_16[language_name] }}</p>
                    <p style="white-space: pre-line;">{{item.content_17[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Một điểm mới quan trọng của Chương III là bổ sung 1 mục mới (Mục V) về lao động cho thuê để điều chỉnh hoạt động này đã diễn ra thực tế.') : ('An important new point of Chapter III is the addition of a new item (Section V) on hired labor to adjust this activity that has actually taken place.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương V. Đối thoại tại nơi làm việc, thương lượng tập thể, thoả ước lao động tập thể') : ('Chapter V. Dialogue at work, collective bargaining, collective labor agreement') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương này có 5 mục, 27 điều, từ điều 63 đến điều 89.') : ('This chapter has 5 sections, 27 articles, from articles 63 to 89.') }}
                    </p>
                    <p>{{item.content_18[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Điểm mới đáng quan tâm của Chương V là việc bổ sung một mục riêng về đối thoại tại nơi làm việc. Khoản 2 và khoản 3 Điều 63 quy định về mục đích và hình thức đối thoại tại nơi làm việc như sau:') : ('An interesting new feature of Chapter V is the addition of a separate section on dialogue in the workplace. Clauses 2 and 3 of Article 63 stipulate the purpose and form of dialogue at the workplace as follows:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('“2. Đối thoại tại nơi làm việc được thực hiện thông qua việc trao đổi trực tiếp giữa người lao động và người sử dụng lao động hoặc giữa đại diện tập thể lao động với người sử dụng lao động và bảo đảm việc thực hiện quy chế dân chủ ở sở.') : ('"2. Dialogue at the workplace is carried out through direct exchanges between employees and employers or between representatives of the labor collective and employers and ensures the implementation of democratic regulations. at the office.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('3. Người sử dụng lao động, người lao động có nghĩa vụ thực hiện quy chế dân chủ ở cơ sở trong doanh nghiệp, tại nơi làm việc theo quy định của Chính phủ”.') : ('3. Employers and employees are obliged to comply with the regulations on grassroots democracy in enterprises and workplaces in accordance with the Government`s regulations."') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương V bổ sung một mục riêng về Thương lượng tập thể, trong đó quy định về mục đích, nguyên tắc, nội dung, quy trình thương lượng tập thể; không quy định cứng nhắc về nội dung của thỏa ước lao động tập thể.') : ('Chapter V adds a separate section on Collective Bargaining, which stipulates the purpose, principles, content and process of collective bargaining; There are no rigid regulations on the content of the collective bargaining agreement.') }}
                    </p>
                    <p>
                        {{item.content_19[language_name] }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương VI. Tiền lương (14 điều, từ Điều 90 đến Điều 103)') : ('Chapter VI. Salary (14 articles, from Article 90 to Article 103)') }}
                    </p>
                    <p>
                        {{item.content_20[language_name] }}
                    </p>
                    <p>
                        {{item.content_21[language_name] }}
                    </p>
                    <p style="background-color: yellow;">
                        {{item.content_22[language_name] }}
                    </p>
                    <p>
                        {{item.content_23[language_name] }}
                    </p>
                    <p>
                        {{item.content_24[language_name] }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương VII. Thời giờ làm việc, thời giờ nghỉ ngơi') : ('Chapter VII. Time to work, time to rest') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương này có 4 mục 14 điều, từ Điều 104 đến Điều 117. Một số điểm mới của chương này là qui định thay đổi cách tính thời giờ làm thêm từ  theo năm sang theo tháng và quy định thời gian làm thêm:') : ('This chapter has 4 sections and 14 articles, from Article 104 to Article 117. Some new features of this chapter are the regulation to change the calculation of overtime from year to month and the regulation of overtime:') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('“Điều 106. Làm thêm giờ') : ('“Article 106. Overtime work') }}
                    </p>
                    <ol>
                        <li>
                            {{ language_name == 'vi' ? ('Làm thêm giờ là khoảng thời gian làm việc ngoài thời giờ làm việc bình thường được quy định trong pháp luật, thỏa ước lao động tập thể hoặc theo nội quy lao động.') : ('Overtime is a period of working time outside the normal working hours specified in the law, the collective bargaining agreement or the internal labor regulations.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Người sử dụng lao động được sử dụng người lao động làm thêm giờ khi đáp ứng đủ các điều kiện sau:') : ('Employers may use employees to work overtime when fully meeting the following conditions:') }}
                        </li>
                        <ol style="list-style-type: lower-latin;">
                            <li>
                                {{ language_name == 'vi' ? ('Được sự đồng ý của người lao động;') : ('With the consent of the employee;') }}
                            </li>
                            <li style="background-color: yellow;">
                                {{item.content_25[language_name] }}
                            </li>
                            <li>
                                {{ language_name == 'vi' ? ('Sau mỗi đợt làm thêm giờ nhiều ngày liên tục trong tháng, người sử dụng lao động phải bố trí để người lao động được nghỉ bù cho số thời gian đã không được nghỉ.”') : ('After each round of overtime work for many consecutive days in a month, the employer must arrange for the employee to have a compensatory leave for the time that has not been taken.”') }}
                            </li>
                        </ol>
                    </ol>
                    <p style="background-color: yellow;">
                        {{item.content_26[language_name] }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương VIII. Kỷ luật Lao động, trách nhiệm vật chất') : ('Chapter VIII. Labor discipline, material responsibility') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Những sửa đổi bổ sung của chương này tập trung vào các quy định nâng cao ý thức kỷ luật lao động của người lao động; bảo đảm quyền tự chủ sản xuất, kinh doanh của người sử dụng lao động; quy định rõ trình tự, thủ tục đăng ký nội qui lao động (Điều 120).') : ('The amendments and supplements to this chapter focus on regulations to raise the awareness of labor discipline of employees; ensure the employer`s autonomy in production and business; clearly stipulate the order and procedures for registration of labor regulations (Article 120).') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương VIII bỏ hình thức kỷ luật: chuyển làm công việc khác có mức lương thấp hơn như đánh bạc, cố ý gây thương tích, xâm phạm quyền sở hữu trí tuệ…(Điều 126).') : ('Chapter VIII abolishes disciplinary forms: moves to other jobs with lower wages such as gambling, intentionally causing injury, infringing upon intellectual property rights... (Article 126).') }}
                    </p>
                    <p>
                        {{item.content_27[language_name] }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương XII. Bảo hiểm xã hội') : ('Chapter XII. Social insurance') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương này chỉ có 2 Điều so với 12 Điều của Luật hiện hành; quy định theo hướng dẫn chiếu Luật Bảo hiểm xã hội.') : ('This Chapter has only 2 Articles compared to 12 Articles of the current Law; regulated under the guidance of the Law on Social Insurance.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Điều 187 Qui định về tuổi nghỉ hưu:') : ('Article 187 Regulations on retirement age:') }}
                    </p>
                    <ol>
                        <li>
                            {{ language_name == 'vi' ? ('Người lao động bảo đảm điều kiện về thời gian đóng bảo hiểm xã hội theo quy định của pháp luật về bảo hiểm xã hội được hưởng lương hưu khi nam đủ 60 tuổi, nữ đủ 55 tuổi.') : ('Employees who satisfy the conditions for the period of social insurance payment according to the provisions of the law on social insurance are entitled to a pension when the male is full 60 years old and the female full 55 years old.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Người lao động bị suy giảm khả năng lao động; làm các công việc đặc biệt nặng nhọc, độc hại, nguy hiểm; công việc nặng nhọc, độc hại, nguy hiểm; làm việc ở vùng cao, vùng sâu, vùng xa, biên giới, hải đảo thuộc danh mục do Chính phủ quy định có thể nghỉ hưu ở tuổi thấp hơn so với quy định tại khoản 1 Điều này.') : ('The employee has reduced working capacity; doing particularly heavy, hazardous or dangerous jobs; arduous, hazardous and dangerous work; working in highland, deep-lying, remote, border and island areas on the list prescribed by the Government may retire at a lower age than that specified in Clause 1 of this Article') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Người lao động có trình độ chuyên môn kỹ thuật cao, người lao động làm công tác quản lý và một số trường hợp đặc biệt khác có thể nghỉ hưu ở tuổi cao hơn nhưng không quá 05 năm so với quy định tại khoản 1 Điều này.') : ('Employees with high professional and technical qualifications, employees in charge of management and a number of other special cases may retire at an older age but not exceeding 05 years compared with the provisions in Clause 1 of this Article.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Chính phủ quy định chi tiết khoản 2 và khoản 3 Điều này.') : ('The Government shall detail Clauses 2 and 3 of this Article.') }}
                        </li>
                    </ol>
                    <p>
                        {{ language_name == 'vi' ? ('Chương XIII. Công đoàn (6 Điều, từ điều 188 đến Điều 193)') : ('Chapter XIII. Trade Union (6 Articles, from Article 188 to Article 193)') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương XIII quy định vai trò của Công đoàn trong quan hệ lao động; quyền thành lập, gia nhập và hoạt động công đoàn.') : ('Chapter XIII prescribes the role of trade unions in labor relations; the right to form, join and operate trade unions.') }}
                    </p>
                    <p>
                        {{item.content_28[language_name] }}
                    </p>
                    <p>
                        {{item.content_29[language_name] }}
                    </p>
                    <p>
                        {{item.content_30[language_name] }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương XIV. Giải quyết tranh chấp lao động (41 điều, từ Điều 194 đến Điều 234)') : ('Chapter XIV. Settlement of labor disputes (41 articles, from Article 194 to Article 234)') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Chương XIV có một số điểm sửa đổi, bổ sung cơ bản sau:') : ('Chapter XIV has some basic amendments and supplements as follows:') }}
                    </p>
                    <p>
                        {{item.content_31[language_name] }}
                    </p>
                    <p>
                        {{item.content_32[language_name] }}
                    </p>
                    <p>
                        {{item.content_33[language_name] }}
                    </p>
                    <p>
                        {{item.content_34[language_name] }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Dự kiến, Chính phủ sẽ ban hành 20 Nghị định hướng dẫn thi hành Bộ luật Lao động (sửa đôi) 2012.') : ('It is expected that the Government will issue 20 Decrees guiding the implementation of the Labor Code (revised) 2012.') }}
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
</div>

