<img class="banner" src="../../../assets/images/banner/coins-job-word 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('VIỆC LÀM KẾ TOÁN'| uppercase) : ('ACCOUNTING JOB' | uppercase) }}</h2>
        <div class="list-company" *ngIf="job_list | async as JobList">
            <div class="company" *ngFor="let Job of JobList">
                <img class="job-image" [src]="formhttp(Job.anh)">
                <div class="infor">
                    <span class="name">{{ Job.ten_viec_lam }}</span>
                    <span class="address">{{ Job.dia_chi }}</span>
                    <hr>
                    <span class="vacancies">Tuyển dụng vị trí: {{ Job.mo_ta }}</span>
                    <span class="salary">Mức lương: {{ Job.muc_luong }}</span>
                </div>
                <button>
                    <a (click)="redirectToPage('/detail', Job.ten_viec_lam)">
                        {{ language_name == 'vi' ? ('Chi tiết') : ('Detail') }}
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

