
@media screen and (min-width: 1100px) {
    .banner{
        display: flex;
        width: 100%;
        height: 600px;
    }
    .icon-rotate{
        transform: rotate(-45deg);
        margin-right: 5px;
    }
    h2{
        padding-top: 45px;
        padding-bottom: 20px;
        font-size: 32px ;
        font-weight: 700;
        color: #01338C;
        padding: 30px 0px;
    }
    .list-company{
        padding-bottom: 20px;
        width: 100%;
        .company{
            margin: 20px 0;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            align-items: center;
            background-color: #ffffff;
            .job-image{
                width: 280px;
                height: 187px;
            }
            .infor{
                display: flex;
                flex-direction: column;
                padding-left: 30px;
                .name{
                    color: #01338C;
                    font-size: 24px;
                    font-weight: 700;
                }
                .address{
                    color: #01338C;
                    font-size: 18px;
                    font-weight: 500;
                }
                .vacancies{
                    color: #01338C;
                    font-size: 18px;
                    font-weight: 500;
                }
                .salary{
                    color: #01338C;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            button{
                margin-left: 160px;
                font-size: 24px ;
                font-weight: 700;
                border-radius: 15px;
                padding: 20px;
                color: #01338C;
                background-color: #ffffff;
            }
        }
    }
}
@media screen and (max-width: 700px) {
    h2{
        padding-top: 45px;
        padding-bottom: 20px;
        font-size: 24px ;
        font-weight: 700;
        color: #01338C;
        padding: 30px 0px;
    }
    .list-company{
        padding-bottom: 20px;
        width: 100%;
        
        .company{
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            height: auto;
            margin: 20px 0;
            img{
                width: 90%;
                margin-top: 15px;
                margin-bottom: 20px;
            }
            .infor{
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-left: 30px;
                text-align: justify;
                .name{
                    color: #01338C;
                    font-size: 20px;
                    font-weight: 700;
                }
                .address{
                    color: #01338C;
                    font-size: 18px;
                    font-weight: 500;
                }
                .vacancies{
                    color: #01338C;
                    font-size: 18px;
                    font-weight: 500;
                }
                .salary{
                    color: #01338C;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            button{
                margin-top: 20px;
                font-size: 24px ;
                font-weight: 700;
                border-radius: 15px;
                padding: 20px;
                color: #01338C;
                background-color: #ffffff;
                margin-bottom: 20px;
            }
        }
    }
}