<div class="container-fluid page">
    <div class="page_box">
        <br>
        <p>Dánh sách việc làm</p>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="text-right" style="font-size: medium;">
            <button mat-icon-button color="primary" style="margin-right: 40px;"  (click)="openDialog('Thêm', {})">
                <mat-icon 
                    style="font-size: 45px; 
                    right: 8px; 
                    position: relative; 
                    margin-top: 50px;">add_box
                </mat-icon>
            </button>
        </div>
        <br>
        <div class="list-company" *ngIf="job_list | async as JobList">
            <div class="company" *ngFor="let Job of JobList">
                <img class="job-image" [src]="formhttp(Job.anh)">
                <div class="infor">
                    <span class="name">{{ Job.ten_viec_lam }}</span>
                    <span class="address">{{ Job.dia_chi }}</span>
                    <hr>
                    <span class="vacancies">Tuyển dụng vị trí: {{ Job.mo_ta }}</span>
                    <span class="salary">Mức lương: {{ Job.muc_luong }}</span>
                </div>
                <hr>
                <div class="text-right" style="cursor: pointer;">
                    <mat-icon color="primary" style="margin-right: 5px" (click)="openDialog('Cập Nhật', Job)">edit</mat-icon>
                    <mat-icon color="warn" (click)="deleteJob(Job._id)">delete</mat-icon>
                </div>
            </div>
            
        </div>
        
    </div>
</div>

