.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    
}
.page_box{
    height: 80px;
    background: #091f53; 
    margin: 0 -1rem; 
    p{
        font-size: 36px;
        margin-left: 50px;
    }
}
.page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: 0rem;
    background: white;
    color: black;
}
.list-company{
    width: 96.8%;
    .company{
        margin-left: 40px;
        border: solid 1px;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        background-color: #ffffff;
        margin-bottom: 20px;
        .job-image{
            width: 280px;
            height: 187px;
        }
        .infor{
            display: flex;
            flex-direction: column;
            padding-left: 30px;
            .name{
                color: #01338C;
                font-size: 24px;
                font-weight: 700;
            }
            .address{
                color: #01338C;
                font-size: 18px;
                font-weight: 500;
            }
            .vacancies{
                color: #01338C;
                font-size: 18px;
                font-weight: 500;
            }
            .salary{
                color: #01338C;
                font-size: 18px;
                font-weight: 500;
            }
        }
        button{
            margin-left: 160px;
            font-size: 24px ;
            font-weight: 700;
            border-radius: 15px;
            padding: 20px;
            color: #01338C;
            background-color: #ffffff;
        }
    }
}