<mat-card class="course-card">
    <div id="course-content">
        <div class="image-container">
            <img [src]="'../../../assets/images/courses/' + item.img" />
        </div>
        <div class="course-content-main">
            <h3 style="color: #1C417A;
            font-size: 34px;
            line-height: 48px;
            padding-top: 40px;
            font-weight: bold;">{{ item.title[language_name] }}</h3>
            <p>{{item.content[language_name]}}</p>
            
            <button class="add-button"><a [routerLink]="item.link">{{ language_name == 'vi' ? ('Xem thêm') : ('See more') }}</a></button>
            
        </div>
    </div>
</mat-card>   
