

@media screen and (min-width: 1100px) {
  #course-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    .course-content-main {
      flex-basis: 70%;
      max-width: 100%;
      h3{
        margin-left: 48px;
      }
      p {
        padding: 0 48px 30px 48px; 
        text-align: justify;
        color: #1C4375; 
        font-size: 18px;
        white-space: pre-wrap;
      }
      .add-button{
        font-size: 22px;
        width: 200px;
        height: 70px;
        border-radius: 12px;
        float: right;
        color: #1C417A;
        border: 1px solid #00368A;
        margin-right: 48px;
      }
    }
  }
  .course-card{
    margin-bottom: 25px;
  }
  .image-container {
    flex-basis: 50%;
    width: 100%;
    text-align: left;
    height: auto;
    margin-left: 20px;
    margin-top: 30px;
    img{
      height: 100%;
    }
  }
}

@media screen and (max-width: 700px) {
  #course-content{
    justify-content: space-between;
    margin-bottom: 30px;
    .course-content-main {
      flex-basis: 70%;
      max-width: 100%;
      h3{
        text-align: center;
      }
      p {
        padding: 0 48px 30px 48px; 
        text-align: justify;
        color: #1C4375; 
        font-size: 18px;
        white-space: pre-wrap;
      }
      .add-button{
        font-size: 22px;
        width: 100%;
        align-items: center;
        height: 70px;
        border-radius: 15px;
        color: #1C417A;
        border: 1px solid #00368A;
      }
    }
  }
  .course-card{
    margin-bottom: 25px;
    height: auto;
  }
  .image-container {
    width: 100%;
    height: auto;
    img{
      height: 100%;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .image-container {
    flex-basis: 50%;
    max-width: 30%;
    text-align: left;
    padding: 0 0 14px 28px;
    & > img {
      box-shadow: -28px 14px 0 0 #f37f2833, 20px -14px 0 0 #3c73a780;
    }
  }
  .row-reserve {
    display: flex;
    & > .image-container {
      max-width: 50%;
      width: 20%;
      position: absolute;
      
      & > img {
        text-align: right;
        box-shadow: 28px -14px 0 0 #3c73a780 , -10px 14px 0x 0 #f37f2833;
      }
    }
  }
  #course-content{
    padding: 20px 0;
    .course-content-main{
      max-width: 100%;
      p{
        padding: 30px 28px 28px 28px; 
        text-align: justify;
        color: #1C4375; 
        font-size: 14px;
        white-space: pre-wrap;
      }
      img{
        width: 20%;
        height: auto;
      }
    }
  }
}
