
@media screen and (min-width: 1100px) {
  .product-title {
    font-size: 34px;
    font-weight: bold;
    color: #1c417a;
    width: 70%;
    line-height: 50px;
  }
  .title-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    width: 70%;
  }
  .product-content-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    .content-img {
      flex-basis: 35%;
      width: 35%;
      max-width: 35%;
      & > img {
        width: 100%;
        height: auto;
      }
    }
    .content-html {
      flex-basis: 60%;
      width: 60%;
      max-width: 60%;
    }
  }
  .left > .border {
    border-left: 8px solid #1f2e5c;
    padding-left: 22px;
  }
  .right {
    & > .border {
      border-right: 8px solid #1f2e5c;
      padding-right: 22px;
      display: flex;
      justify-content: end;
      & > .product-title,
      > .title-content {
        text-align: right;
      }
    }
    & > .product-content-container {
      flex-direction: row-reverse;
    }
  }
  ::ng-deep.fa-ul>li{
    font-size: 14px !important;
  }
  h2{
    font-size: 48px ;
    font-weight: 700;
    color:#01338C ;
    width: 70%;
    margin: 0px auto;
    padding:20px 0px;
  }
  .job-content{
    width: 70%;
    background-color: #ffffff;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .infor{
      width: 95%;
      background-color: rgba(196, 196, 196, 0.15);
      border-radius: 15px;
      margin: 30px 0px;
      padding: 20px;
      span{
        padding: 10px;
        font-size: 24px ;
        font-weight: 700;
        color: #01338C;
      }
      .detail{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-start: auto;
      }
    }
    .job-cv{
      width: 95%;
      background-color: rgba(196, 196, 196, 0.15);
      border-radius: 15px;
      height: 500px;
      margin-bottom: 30px;
    }
  }
  button{
    margin: 30px auto;
    font-size: 36px;
    color: #01338C;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 30px;
  }
  button:hover{
    color: #ffffff;
    background-color: #01338C ; 
  }
}

@media screen and (max-width: 700px) {
  h2{
    font-size: 34px ;
    font-weight: 700;
    color:#01338C ;
    width: 80%;
    margin: 0px auto;
    padding:20px 0px;
  }
  .job-content{
    width: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    .infor{
      width: 100%;
      background-color: rgba(196, 196, 196, 0.15);
      border-radius: 15px;
      margin: 30px 0px;
      padding: 20px;
      span{
        padding: 10px;
        font-size: 20px ;
        font-weight: 700;
        color: #01338C;
      }
      .detail{
        display: flex;
        flex-direction: column;
      }
    }
    .job-cv{
      width: 100%;
      background-color: rgba(196, 196, 196, 0.15);
      border-radius: 15px;
      height: 500px;
      margin-bottom: 30px;
    }
  }
  button{
    margin: 30px auto;
    font-size: 36px;
    color: #01338C;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 30px;
  }
  button:hover{
    color: #ffffff;
    background-color: #01338C ; 
  }
  .product-title{
    font-size: 30px;
    font-weight: bold;
    color: #1c417a;
    width: 100%;
    line-height: 40px;
  }
  .title-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
  }
  .product-content-container {
    .content-img {
      flex-basis: 35%;
      width: 100%;
      max-width: 100%;
      & > img { 
        width: 100%;
        height: auto;
      }
    }
    .content-html {
      flex-basis: 60%;
      width: 100%;
      max-width: 100%;
    }
  }
  .left > .border {
    border-left: 8px solid #1f2e5c;
    padding-left: 22px;
  }
  .right {
    & > .border {
      border-right: 8px solid #1f2e5c;
      padding-right: 22px;
      justify-content: end;
      & > .product-title, > .title-content {
        text-align: right;
      }
    }
    & > .product-content-container {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .product-title{
    font-size: 34px;
    font-weight: bold;
    color: #1c417a;
    width: 100%;
    line-height: 40px;
  }
  .title-content {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;
  }
  .product-content-container {
    .content-img {
      flex-basis: 35%;
      width: 100%;
      max-width: 100%;
      & > img {
        width: 100%;
        height: auto;
      }
    }
    .content-html {
      flex-basis: 60%;
      width: 100%;
      max-width: 100%;
    }
  }
  .left > .border {
    border-left: 8px solid #1f2e5c;
    padding-left: 22px;
  }
  .right {
    & > .border {
      border-right: 8px solid #1f2e5c;
      padding-right: 22px;
      justify-content: end;
      & > .product-title, > .title-content {
        text-align: right;
      }
    }
    & > .product-content-container {
      flex-direction: row-reverse;
    }
  }
}