<app-slide [is_right]="true"></app-slide>
<div  *ngIf="job_list | async as JobList"
style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%); height: 100%;" >
    <div *ngFor="let Job of JobList">
        <h2>
            {{ Job.ten_viec_lam }}
        </h2>
        <div class="job-content">
            <div class="infor">
                <span>{{ language_name == 'vi' ? ('Vị trí tuyển dụng:') : ('Vacancies:') }}</span>
                <div class="detail">
                    <span>{{ language_name == 'vi' ? ('Nhân sự chính thức') : ('Official personnel') }}</span>
                    <span>{{ language_name == 'vi' ? ('Mức lương:') : ('Wage:') }}</span>
                    <span>{{ language_name == 'vi' ? ('Hạn nộp:') : ('Deadline for submission:') }}</span>
                    <span>{{ language_name == 'vi' ? ('Số lượng:') : ('Quantily:') }}</span>
                </div>
            </div>
            <div class="job-cv">
    
            </div>
        </div>
    </div>
    <div style="display:flex;justify-content: center; width: 100%;">
        <button (click)="openDialog()">{{ language_name == 'vi' ? ('Nộp CV Online') : ('Submit CV Online') }}</button>
    </div>
</div>
