.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}
.page_box{
    height: 80px;
    background: #091f53; 
    margin: 0 -1rem; 
    p{
        font-size: 36px;
        margin-left: 50px;
    }
}
.page__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: 0rem;
    background: white;
    color: black;
}
.new-item{
    display: flex;
    border: 1px solid;
    margin-top: 50px;
    font-family: Roboto;
    width: 100%;
    color: black;
    padding: 15px 30px 20px 30px;
    text-align: justify;
    margin-left: 20px;
    img{
        width: 300px;
    }
}
h3{
    padding-top: 45px;
    padding-bottom: 20px;
    font-size: 32px ;
    font-weight: 700;
    color: #01338C;
    padding: 30px 0px;
}
.Detail{
    border: 1px solid;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
