<div class="container-fluid page">
    <div class="page_box">
        <br>
        <p>Dánh sách tin tức</p>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="text-right" style="font-size: medium;">
            <button mat-icon-button color="primary" style="margin-right: 40px;"  (click)="openDialog('Thêm', {})">
                <mat-icon 
                    style="font-size: 45px; 
                    right: 8px; 
                    position: relative; 
                    margin-top: 50px;">add_box
                </mat-icon>
            </button>
        </div>
        <br>
        <div class = "table" style="width: 95%;" *ngIf="news_list | async as New_list">
            <div class="new-item" style="position: relative;" *ngFor="let New of New_list">
                <img [src]="formhttp(New.anh)">
                <div style="display: flex; flex-direction: column; margin-left: 20px; width: 60%">
                    <h3 style="width: 98%;">{{ New.tieu_de }}</h3>
                    <h4>{{ New.mo_ta }}</h4>
                </div>
                <div style="position: absolute; top: 5px; right: 5px; display: flex; cursor: pointer">
                    <mat-icon color="primary" style="margin-right: 5px" (click)="openDialog('Cập Nhật', New)">edit</mat-icon>
                    <mat-icon color="warn" (click)="deleteNew(New._id)">delete</mat-icon>
                </div>
                
                <button class="Detail" mat-icon-button (click)="newsDetail('more-detail', New.tieu_de)">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
