<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Giải thể, tạm ngừng hoạt động của doanh nghiệp') : 
            ('Dissolution, suspension of operation of the enterprise') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 5.png">
                    <p>{{ item.content_2[language_name] }}</p>
                    <p>{{ item.content_3[language_name] }}</p>
                    <h4>{{ 
                        language_name == 'vi' ? ('THỦ TỤC TẠM NGỪNG DOANH NGHIỆP') : 
                        ('PROCEDURES FOR TEMPORARILY CLOSING THE BUSINESS') }}
                    </h4>
                    <p>{{
                        language_name == 'vi' ? ('Doanh nghiệp nộp toàn bộ tờ khai thuế, báo cáo thuế lên cơ quan thuế') : 
                        ('Enterprises submit all tax returns, tax reports to tax authorities') }}
                    </p>
                    <p>{{
                        language_name == 'vi' ? ('Sau đó nộp thông báo tạm ngừng lên sở kế hoạch') : 
                        ('Then submit the notice of suspension to the planning department') }}
                    </p>
                    <p>{{
                        language_name == 'vi' ? ('Lưu ý khi tạm ngừng doanh nghiệp:') : 
                        ('Note when suspending business:') }}
                    </p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Trong thời gian tạm ngừng doanh nghiệp không phải nộp tờ khai') : 
                            ('During the temporary suspension, enterprises do not have to submit declarations') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Khi hết thời gian tạm ngừng, doanh nghiệp phải thực hiện nghĩa vụ với nhà nước như bình thường') : 
                            ('When the suspension period ends, the enterprise must perform its obligations to the state as usual') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Nếu tạm ngừng trọn năm dương lịch (từ 1/1-31/12) thì được miễn lệ phí môn bài còn không trọn năm vẫn phải đóng lệ phí môn bài') : 
                            ('If you suspend for the whole calendar year (from January 1 to December 31), you will be exempt from the license fee. If you do not have a full year, you still have to pay the license fee.') }}
                        </li>
                    </ul>
                    <p>{{ item.content_4[language_name] }}</p>
                    <p>{{ item.content_5[language_name] }}</p>
                    <p>{{ item.content_6[language_name] }}</p>
                    <ol>
                        <li>{{ 
                            language_name == 'vi' ? ('Tờ khai thuế GTGT quý 1/2023') : 
                            ('VAT declaration quarter 1/2023') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Lệ phí môn bài năm 2022, 2023, 2024') : 
                            ('License fee in 2022, 2023, 2024') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Báo cáo sử dụng hoá đơn quý 1/2023') : 
                            ('Report on using invoices for the first quarter of 2023') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Báo cáo tài chính và quyết toán năm 2023') : 
                            ('Financial statements and final settlement in 2023') }}
                        </li>
                    </ol>
                    <p>{{ item.content_7[language_name] }}</p>
                    <h4>{{ 
                        language_name == 'vi' ? ('THỦ TỤC GIẢI THỂ DOANH NGHIỆP') : 
                        ('ENTERPRISE DISSOLUTION PROCEDURE') }}
                    </h4>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 1:') : ('Step 1:') }}
                        {{ language_name == 'vi' ? ('Thông báo tình trạng doanh nghiệp đang làm thủ tục giải thể trên Cổng thông tin quốc gia về đăng ký doanh nghiệp') : ('Announce the status of enterprises undergoing dissolution procedures on the National Business Registration Portal') }}
                    </p>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('A. Thành phần hồ sơ:') : 
                        ('A. Profile composition:') }}
                    </p>
                    <ol>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo về giải thể doanh nghiệp;') : 
                            ('Notice of enterprise dissolution;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Nghị quyết, quyết định và bản sao biên bản họp của Đại hội đồng cổ đông đối với công ty cổ phần về việc giải thể doanh nghiệp') : 
                            ('Resolution, decision and copy of meeting minutes of the General Meeting of Shareholders, for joint-stock companies on the dissolution of the enterprise;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Phương án giải quyết nợ (nếu có).') : 
                            ('Debt settlement plan (if any).') }}
                        </li>
                    </ol>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 2:') : ('Step 2:') }}
                        {{ language_name == 'vi' ? ('Làm thủ tục thanh quyết toán với cơ quan thuế') : ('Make payment procedures with tax authorities') }}
                    </p>
                    <p>{{ item.content_8[language_name] }}</p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Nộp toàn bộ tờ khai và báo cáo đến thời điểm giải thể') : 
                            ('Submit all declarations and reports up to the time of dissolution') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Liên hệ với cán bộ thuế để giải trình số liệu') : 
                            ('Contact the tax officer to explain the data') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 3:') : ('Step 3:') }}
                        {{ language_name == 'vi' ? ('Nộp hồ sơ đăng ký giải thể doanh nghiệp') : ('Submit application for business dissolution') }}
                    </p>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('A. Thành phần hồ sơ:') : 
                        ('A. Profile composition:') }}
                    </p>
                    <ol>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo về giải thể doanh nghiệp (theo mẫu quy định);') : 
                            ('Notice of dissolution of the enterprise (according to the prescribed form);') }}
                        </li>
                        <li>
                            {{ item.content_9[language_name] }}
                        </li>
                    </ol>
                    <p>{{ item.content_10[language_name] }}</p>
                    <h2>{{ item.content_11[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
