@media screen and (min-width: 1100px) {
    .banner{
        display: flex;
        width: 100%;
        height: 600px;
    }
    h2{
        padding-top: 45px;
        padding-bottom: 20px;
        font-size: 32px ;
        font-weight: 700;
        color: #01338C;
        padding: 30px 0px;
    }
    .bs-card{
        margin-bottom: 30px;
        #bs-content{
            justify-content: space-between;
            margin-bottom: 30px;
            .bs-content-main{
                font-family: Roboto;
                width: 100%;
                color: #186398;
                padding: 15px 30px 20px 30px;
                text-align: justify;
                .image-container{
                    width: 70%;
                    text-align: center;
                    margin-left: 135px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                h2{
                    text-align: center;
                    padding: 15px 70px 20px 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    h2{
        padding-top: 45px;
        padding-bottom: 20px;
        font-size: 32px ;
        font-weight: 700;
        color: #01338C;
        padding: 30px 0px;
    }
    .bs-card{
        margin-bottom: 30px;
        #bs-content{
            justify-content: space-between;
            margin-bottom: 30px;
            .bs-content-main{
                font-family: Roboto;
                width: 100%;
                color: #186398;
                padding: 15px 10px 20px 10px;
                text-align: justify;
                .image-container{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
                h2{
                    text-align: center;
                }
            }
        }
    }
}