@media screen and (min-width: 1100px) {
    .banner{
        display: flex;
        width: 100%;
        height: 600px;
    }
    
    .tabContainer{
        width: 100%;
        button{
            font-size: 24px;
            color: #FFFFFF;
            width: 32%;
            height: 100%;
            border: none;
            outline:none;
            cursor: pointer;
            padding: 25px;
            font-family: Roboto;
            font-size: 18px;
            background-color: #186398;
           
        }
        .active{
            &:active{
                background-color: #FFFFFF;
                color: #186398;
            }
        }
        
    }
    .tabPanel{
        width: 96%;
        background-color: #ffffff;
        height: auto;
        margin-right: 60px;
        .main-content{
            width: 60%;
            margin: 0px auto;
            text-align: justify;
            color: #000000;
            p{
                text-align: justify;
                
            }
            ol{
                list-style-type: decimal;
               
            }
        }
        h2{
            font-size: 32px ;
            font-weight: 700;
            color: #01338C;
            padding: 10px 0px;
            text-align: center;
        }
        table{
            width: 100%;
        }
        a{
            color: red;
        }
    }  
}

@media screen and (max-width: 700px) {
    .banner{
        display: flex;
        width: 100%;
        height: 600px;
    } 
    .tabContainer{
        width: 100%;
        button{
            font-size: 24px;
            color: #FFFFFF;
            width: 100%;
            height: 100%;
            border: none;
            outline:none;
            cursor: pointer;
            padding: 25px;
            font-family: Roboto;
            font-size: 18px;
            background-color: #186398;
        }
        .active{
            &:active{
                background-color: #FFFFFF;
                color: #186398;
            }
        }
    }
    .tabPanel{
        width: 100%;
        background-color: #ffffff;
        margin-right: 60px;
        height: auto;
        .main-content{
            width: 95%;
            margin: 0px auto;
            text-align: justify;
            color: #000000;
            p{
                text-align: justify;
                
            }
            ol{
                list-style-type: decimal;
               
            }
        }
        a{
            color: red;
        }
    }
    h2{
        font-size: 28px ;
        font-weight: 700;
        color: #01338C;
        padding: 10px 0px;
        text-align: center;
    }
}