<img class="banner" src="../../../assets/images/banner/manager-man-checking-finance-working 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div style="width:70%; margin: 0px auto;">
        <div class="tabContainer">
            <div class="buttonContainer">
                <button [class]="selectedTab== 'Specialized_knowledge'? 'active': ''" (click)="selectedTab='Specialized_knowledge'" style="background-color: #FFFFFF; color: #186398;">
                    {{ language_name == 'vi' ? ('Kiến thức chuyên ngành') : ('Specialized knowledge') }}
                </button>
                <button [class]="selectedTab== 'Work_experience'? 'active': ''" (click)="selectedTab='Work_experience'">
                    {{ language_name == 'vi' ? ('Kinh nghiệm làm việc') : ('Work experience') }}
                </button>
                <button [class]="selectedTab== 'download'? 'active': ''" (click)="selectedTab='download'">
                    Download
                </button>
            </div>
        </div>
        <div class="tabPanel" >
            <div class="main-content">
                <h2>
                    {{ language_name == 'vi' ? ('THÔNG TƯ') : ('CIRCULARS') }}
                </h2>
                <h3 style="text-align: center; font-size: 28px;">
                    {{ language_name == 'vi' ? ('HƯỚNG DẪN CHẾ ĐỘ KẾ TOÁN DOANH NGHIỆP NHỎ VÀ VỪA') : ('GUIDELINES FOR ACCOUNTING MODE OF SMALL AND MEDIUM BUSINESSES') }}
                </h3>
                <hr>
                <div *ngFor="let item of system_vn">
                    <p>
                        {{ language_name == 'vi' ? ('Căn cứ Luật Kế toán số 88/2015/QH13 ngày 20 tháng 11 năm 2015;') : ('Pursuant to the Law on Accounting No. 88/2015/QH13 dated November 20, 2015;') }} 
                    </p>
                    <p>{{item.content_1[language_name] }}</p>
                    <p>
                        {{ language_name == 'vi' ? ('Theo đề nghị của Vụ trưởng Vụ Chế độ kế toán và kiểm toán,') : ('At the proposal of the Director of the Department of Accounting and Auditing Regimes,') }} 
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('Bộ trưởng Bộ Tài chính ban hành Thông tư hướng dẫn Chế độ kế toán doanh nghiệp nhỏ và vừa.') : ('The Minister of Finance promulgates a Circular guiding the accounting regime for small and medium enterprises.') }} 
                    </p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Chương I') : ('Chapter I') }}
                        </strong>
                    </p>
                    <h2>
                        {{ language_name == 'vi' ? ('QUY ĐỊNH CHUNG') : ('GENERAL RULES') }}
                    </h2>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Điều 1. Phạm vi điều chỉnh') : ('Article 1. Scope') }}
                        </strong>
                    </p>
                    <p>{{item.content_2[language_name] }}</p>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Điều 2. Đối tượng áp dụng') : ('Article 2. Subjects of application') }}
                        </strong>
                    </p>
                    <ol>
                        <li>{{item.content_3[language_name] }}</li>
                        <li>{{item.content_4[language_name] }}</li>
                    </ol>
                    <p>
                        <strong>
                        {{ language_name == 'vi' ? ('Điều 3. Nguyên tắc chung') : ('Article 3. General principles') }}
                        </strong>
                    </p>
                    <p>.........................</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    
</div>
