:host{
    mat-icon{
        vertical-align: middle;
        margin-right: 1rem
    }
}
.logo{
    text-align: center;
    img {
        width: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
mat-divider{
    border-top-width: 5px;
    border-color: white;
}
.mat-list-item{
    color: #94a3b8 !important;
    font-size: 20px;
    height: 70px !important;
    margin-top: 15px;
    margin-bottom: 4px;
    &:hover {
        color: #f2f5f7 !important;
    }
    ::ng-deep {
        .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
            &:hover {
                background: #2c3344 !important;
            }
        }
    }
}
.list-item-active {
    color: #f2f5f7 !important;
    ::ng-deep {
        .mat-list-item-content {
            background: #1e397b !important;
            &:hover {
                background: #1e397b !important;
            }
        }
    }
}