<mat-nav-list>
    <div class="logo py-4" style="padding-top: 0px !important">
        <img src="../../../../assets/images/img_avatar.png">
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let item of List">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="{{item.path}}">
            <mat-icon>{{item.icon}}</mat-icon> {{item.title}}
        </a>
    </div>
</mat-nav-list>
