
<app-slide [is_right]="true"></app-slide>
<div class="letter">
  <div class="letter-content" *ngFor="let ct of data_letter">
    <p>
      {{ct.let_open[language_name]}}<br />
      {{ct.main_content[language_name]}}<br />

      {{ct.sincerely[language_name]}}, <br />

      {{ct.manager[language_name]}}<br />
      {{ct.name[language_name]}}
    </p>
  </div>
</div>
<div
  style="display: flex; flex-direction: column;
    background: linear-gradient(
      89.61deg,
      #ecc440 0.53%,
      #fffa8a 28.46%,
      #ddac17 63.64%,
      #ffff95 99.85%
    );
  "
>
  <div
    class="carousel-content"
    [ngStyle]="{ transform: 'translateX(' + '-' + slide + ')' }"
  >
    <div class="border" *ngFor="let item of data_translate">
      <div class="border-1">
        <div class="border-2">
          <div class="border-3">
            <img
              [src]="'../../../assets/images/home/icon/icon-parter/' + item.img"
              class="carousel-parter"
            />
            <span>
              {{ item.text[language_name] }}
            </span>
          </div>
        </div>
      </div>
      <div class="hover-box">
        <img [src]="'../../../assets/images/home/' + item.hover_img"/>
      </div>
    </div>
  </div>
  <div class="home" *ngFor="let ct of data_title">
    <h2>{{ct.title_1[language_name]}}</h2>
    <!-- <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let item of data_slide" class="slide2" [ngStyle]="{'background-image': 'url(' + item.img + ')'}">
        <a [routerLink]="item.link">
          <span>{{item.text}}</span>
        </a>
      </div>
    </ngx-slick-carousel> -->
    <div class="service-content">
      <mat-card class="service-card" *ngFor="let item of data_slide">
        <img [src]="item.img">
        <h3>{{item.text}}</h3>
        <mat-card-content>
          <p>
            {{item.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <a [routerLink]="item.link">Xem thêm</a>
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="service-content2">
      <mat-card class="service2-card" *ngFor="let item of data_service2">
        <img [src]="item.img">
        <h3>{{item.text}}</h3>
        <mat-card-content>
          <p>
            {{item.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>
            <a [routerLink]="item.link">Xem thêm</a>
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <h2>{{ct.title_2[language_name]}}</h2>
    <!-- <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
    >
      <div class="partner" ngxSlickItem *ngFor="let item of data_slide3">
        <img class="image-partner" src="{{item.img}}" alt="" />
        <div class="partner-content">
          <p>{{item.main_content[language_name]}} <br />
            <b>{{item.mr[language_name]}}</b> - {{item.job[language_name]}}</p
          >
        </div>
      </div>
    </ngx-slick-carousel> -->

    <!-- <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig2"
      style="margin-bottom: 30px"
    >
      <div ngxSlickItem *ngFor="let item of data_partner" class="slide">
        <img [src]="'../../../assets/images/home/' + item.img" />
      </div>
    </ngx-slick-carousel> -->
  </div>
  <div class="home" style="width: 95%;">
    <ngx-slick-carousel
       [config]="slideConfig1"
      #slickModal="slick-carousel"
    >
      <div class="partner-Content" ngxSlickItem *ngFor="let item of data_parner2">
        <mat-card class="partner-card">
          <div class="partner-header">
            <img [src]="item.img">
            <div class="infor">
              <h3>{{item.title}}</h3>
              <span style="color: #001D4A; font-weight: 400;">{{item.subtitle}}</span>
            </div>
          </div>
          <mat-card-content>
            <p>
              {{item.content}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </ngx-slick-carousel>
  </div>


  <div class="news">
    <h2 *ngFor="let ct of data_title">{{ct.title_3[language_name]}}</h2>
    <div class="list-news" *ngIf="news_list | async as New_list">
      <div class="new" *ngFor="let New of New_list">
        <img [src]="formathttps(New.anh)" />
        <div class="text">
          <a (click)="redirectToPage('/tin-tuc-detail', New.tieu_de)">
            <span>{{ New.tieu_de }}</span>
          </a>
          <p style="font-size: 12px;">
            {{ (showMore) ? New.mo_ta : New.mo_ta | slice:0:40 }}
            <span style="cursor: pointer;" *ngIf="!showMore" (click)="showMore = !showMore">...</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="home">
    <h2 *ngFor="let ct of data_title">{{ct.title_4[language_name]}}</h2>
    <div class="list-partner">
      <div *ngFor="let item of img" style="padding-bottom: 20px">
        <img
          [src]="'../../../assets/images/home/' + item"
        />
      </div>
    </div>
  </div>
</div>
