/* .section-empty{
    background-image: url(../../../assets/images/bg-24.png);
    background-repeat: no-repeat;
} */


@media screen and (min-width: 1100px) {
  .letter {
    background-color: #beb29c;
    height: 677px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .letter-content {
      background-image: url("../../../assets/images/home/wall-blank-paper-frame-with-acorn-decoration 2.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 150px 150px 150px 150px;
      p {
        font-family: chidiep;
        font-style: italic;
        font-weight: normal;
        text-align: justify;
        color: #001d4a;
        font-size: 18px;
        line-height: 19px;
        margin: 0px 250px;
      }
    }
  }
  @font-face {
    font-family: 'chidiep';
    src: url('../../../assets/fonts/UVN\ Mau\ Tim\ 1.ttf');
  }


  .text-xl {
    font-weight: 500;
  }
  .text-center {
    font-weight: 500;
    font-size: 36px;
  }

  .card {
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px 1px #888888;
  }

  .carousel-caption {
    padding: 30px;
    margin-bottom: 2%;
    transform: translateY(-5%);
    transform: translateX(-5%);
    img {
      width: 80%;
    }
  }
  .carousel-img {
    width: 100%;
    height: auto;
    height: 600px;
  }
  .card-body {
    padding: 20px;
    .card-title {
      padding: 0px;
    }
    img {
      width: auto;
      height: auto;
      padding: 5px;
      margin-bottom: 20px;
    }
  }
  ::ng-deep.carousel-caption {
    position: absolute;
    /* right: 150
  px
  ; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  ::ng-deep {
    .carousel-indicators li {
      border: 1px solid #ffffff;
      width: 12px;
      height: 12px;
      margin: 0 4px;
    }
    .carousel-indicators .active {
      margin: 0 4px;
    }
  }

  .carousel-inner {
    overflow: visible;
  }

  .carousel-caption-custom {
    float: left;
    height: 380px;
    width: 666px;
    margin: auto auto auto 235px;
    .carousel-caption-cus {
      display: flex;
      flex-basis: 50%;
      justify-content: center;
      margin: 0;
      height: 100%;
      width: 100%;
      transform: none;
      & > div {
        & > h3 {
          color: white;
          font-size: 34px;
          font-weight: bold;
        }
        & > p {
          font-size: 14px;
        }
      }
      .img-banner {
        float: left;
        width: 330px;
        height: 220px;
      }
    }
  }

  .reverse-content {
    flex-direction: row;
    align-items: center;
  }
  #blog-body {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    .blog-body-image {
      flex-basis: 70%;
      width: 100%;
      max-width: 100%;
      & > img {
        width: 100%;
        height: auto;
      }
    }
    .blog-body-title {
      flex-basis: 50%;
      width: 50%;
      max-width: 50%;
      font-size: 34px;
      font-weight: bold;
      line-height: 50px;
      padding: 40px;
      text-align: center;
      margin: auto;
      color: #1c417a;
    }
  }

  .carousel-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 100px;
    width: 58%;
    margin: 80px auto;
    .border {
      background: linear-gradient(
        89.61deg,
        #ecc440 0.53%,
        #fffa8a 28.46%,
        #ddac17 63.64%,
        #ffff95 99.85%
      );
      padding: 5px;
      border-radius: 30px;
      .border-1 {
        border-radius: 30px;
        padding: 5px;
        background-color: #1c417a;
        .border-2 {
          border-radius: 30px;
          padding: 5px;
          background: linear-gradient(
            89.61deg,
            #ecc440 0.53%,
            #fffa8a 28.46%,
            #ddac17 63.64%,
            #ffff95 99.85%
          );
          .border-3 {
            border-radius: 30px;
            background-color: #001d4a;
            display: flex;
            flex-direction: column;
            padding: 10px;
            justify-content: center;
            align-items: center;
            .carousel-parter {
              align-items: center;
              background-color: #001d4a;
              width: 221px;
              height: 221px;
              border-bottom: 4px solid #fbf17e ;
            }
            span {
              text-align: center;
              color: #fbf17e;
              font-weight: 700;
              font-size: 24px;
              padding: 20px 0px 10px 0px;

            }
          }
        }
      }
    }
  }
  .home{
    width: 70%;
    margin: 0px auto;
    h2{
      font-weight: 700;
      font-size: 30px;
      margin-top: 20px;
    }
    .partner{
      width: 100%;
      margin: 0px auto;
      display: flex;
      margin-bottom: 20px;
      .image-partner{
        width: 28%;
      }
      .partner-content{
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 24px;
          padding: 10px 10px 10px 20px;
          color: #001D4A ;
          line-height: 28px;
          text-align: justify;
          letter-spacing: 0.055em;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
        }
      }
    }
    .partner2{
      flex-direction: row-reverse;
      width: 100%;
      margin: 0px auto;
      display: flex;
      margin-bottom: 20px;
      .image-partner{
        width: 28%;
      }
      .partner-content2{
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          font-size: 24px;
          padding: 10px 10px 10px 20px;
          color: #001d4a ;
          line-height: 28px;
          text-align: justify;
          letter-spacing: 0.055em;
          line-height: 28px;
          text-align: justify;
          letter-spacing: 0.055em;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
        }
      }
    }
    .service-content{
      display: grid;
      grid-template-columns: auto auto;

      .service-card{
        width: 98%;
        padding: auto;
        margin: 10px 0;
        h3{
          font-size: 24px;
          color: #1D3D6C;
          font-weight: 700;
          text-align: justify;
          line-height: 70px;
        }
        img {
          width: 100%;
          border-radius: none;
        }
        p{
          font-size: 16px;
          font-weight: 700;
          color: #1D3D6C;
          text-align: justify;
        }
        button, .mat-button{
          font-size: 16px;
          color: #A4A4A4;
          display: flex;
          mat-icon{
            width: 40px;
          }
        }
      }
    }

    .service-content2{
      display: grid;
      grid-template-columns: auto auto auto;
      .service2-card{
        width: 98%;
        padding: auto;
        margin: 10px 0;
        h3{
          font-size: 24px;
          color: #1D3D6C;
          font-weight: 700;
          text-align: justify;
          line-height: 70px;
        }
        img {
          width: 100%;
          border-radius: none;
        }
        p{
          font-size: 16px;
          font-weight: 700;
          color: #1D3D6C;
          text-align: justify;
        }
        button, .mat-button{
          font-size: 16px;
          color: #A4A4A4;
          display: flex;
          mat-icon{
            width: 40px;
          }
        }
      }
    }

    .partner-Content{
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      margin: 50px 0;
      .partner-card{
        width: 98%;
        padding: auto;
        margin: 10px 0;
        min-height: 900px;
        .partner-header{
          display: flex;
          margin: 20px 0;
          .infor{
            margin: 0 30px;
          }
          h3{
            font-size: 24px;
            color: #1D3D6C;
            font-weight: 700;
          }
          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
        }

        p{
          font-size: 16px;
          font-weight: 700;
          color: #186398;
          text-align: justify;
        }
      }
    }

    .slide{
      width: 310px;
      height: 248px;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px;
    }
    .slide2{
      width: 419px;
      height: 347px;
      display: flex;
      margin: 15px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 30px;
      align-items: flex-end;

     a, span{
       font-style: normal;
       font-family: Roboto;
       color: #fff;
       font-size: 20px;
       font-weight: bold;
       line-height: 22px;
       text-align: justify;
       padding: 35px 35px 35px 15px;
     }
    }
    .list-partner{
      display: grid;
      grid-template-columns: auto auto auto auto;
      width: 100%;
      margin: 0px auto;

    }
    .support{
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin: auto;
    }
  }
  .news{
    h2{
      font-weight: 700;
      font-size: 30px;
      width: 70%;
      margin: 0px auto;
      padding-top: 25px;
    }
    width: 100%;
    background-color: #FFFFFF;
    .list-news{
      display: grid;
      grid-template-columns: auto auto;
      width: 70%;
      margin: 0px auto;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding-top: 20px;
      padding-bottom: 40px;
      .new{
        img{
          width: 200px;
          height: 100px;

          object-fit: cover;
        }


        display: flex;
        .text{
          margin-left: 10px;
          span{
            font-size: 18px;
            color: #001d4a;
            font-weight: 700;
            vertical-align: middle;
          }
          p{
            color: #001d4a;
            text-align: justify;
          }
        }
      }
    }
  }

  ::ng-deep.slick-slider{
    margin: 0px auto;
    width: 100%;
  }
  ::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    font-size: 40px;
  }
  ::ng-deep.slick-prev:before {
    margin: -7px !important;
  }
  ::ng-deep.slick-next::before{
    margin: -7px !important;
  }

  .carousel-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
  }


  .hover-box{
    display: none;
    position: absolute;
    top:0px;
    img:last-child{
      width: 330px;
      height: 330px;
    }
  }
  .border:hover .hover-box{
    display: block;
  }
  .border:hover{
    cursor: pointer;
  }
}

@media screen and (max-width: 700px){
  .letter{
    background-color: #beb29c;
    height: 700px;
    width: 100%;
    justify-content: center;
    .letter-content {
      background-image: url("../../../assets/images/home/wall-blank-paper-frame-with-acorn-decoration\ 1.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      justify-content: center;
      p {
        font-family: chidiep;
        font-style: italic;
        text-align: justify;
        color: #001d4a;
        margin: 0px auto;
        margin-bottom: 100px;
        padding: 100px 30px;
        font-size: 9px;
      }
    }
  }
  .carousel-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    .border {
      background: linear-gradient(
        89.61deg,
        #ecc440 0.53%,
        #fffa8a 28.46%,
        #ddac17 63.64%,
        #ffff95 99.85%
      );
      padding: 5px;
      border-radius: 30px;
      .border-1 {
        border-radius: 30px;
        padding: 5px;
        background-color: #1c417a;
        .border-2 {
          border-radius: 30px;
          padding: 5px;
          background: linear-gradient(
            89.61deg,
            #ecc440 0.53%,
            #fffa8a 28.46%,
            #ddac17 63.64%,
            #ffff95 99.85%
          );
          .border-3 {
            border-radius: 30px;
            background-color: #001d4a;
            display: flex;
            flex-direction: column;
            padding: 40px;
            justify-content: center;
            align-items: center;
            .carousel-parter {
              align-items: center;
              background-color: #001d4a;
              width: 70%;
              border-bottom: 4px solid #fbf17e ;
            }
            span {
              text-align: center;
              color: #fbf17e;
              font-weight: 700;
              font-size: 24px;
              padding: 20px 0px 10px 0px;

            }
          }
        }
      }
    }
  }

  .service-content{
    .service-card{
      margin: 10px 0;
      h3{
        font-size: 24px;
        color: #1D3D6C;
        font-weight: 700;
        text-align: justify;
        line-height: 70px;
      }
      p{
        font-size: 16px;
        font-weight: 700;
        color: #1D3D6C;
        text-align: justify;
      }
      button, .mat-button{
        font-size: 16px;
        color: #A4A4A4;
        display: flex;
        mat-icon{
          width: 40px;
        }
      }
    }
  }

  .service-content2{
    .service2-card{
      margin: 10px 0;
      h3{
        font-size: 24px;
        color: #1D3D6C;
        font-weight: 700;
        text-align: justify;
        line-height: 70px;
      }
      p{
        font-size: 16px;
        font-weight: 700;
        color: #1D3D6C;
        text-align: justify;
      }
      button, .mat-button{
        font-size: 16px;
        color: #A4A4A4;
        display: flex;
        mat-icon{
          width: 40px;
        }
      }
    }
  }
  .partner-Content{
    margin-bottom: 20px;
    .partner-card{
      width: 70%;
      height: 700px;
      padding: auto;
      margin: auto;
      .partner-header{
        display: flex;
        margin: 20px 0;
        .infor{
          margin: 0 30px;
        }
        h3{
          font-size: 18px;
          color: #1D3D6C;
          font-weight: 700;
        }
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }

      p{
        font-size: 16px;
        font-weight: 700;
        color: #186398;
        text-align: justify;
      }
    }
  }


  .hover-box{
    display: none;
    position: relative;
    img:last-child{
      max-width: 100%;
    }
  }
  .border:hover .hover-box{
    display: flex;
    flex-direction: row;
  }
  .border:hover{
    cursor: pointer;
  }
  .home{
    width: 80%;
    margin: 0 auto;
    h2{
      font-weight: 700;
      font-size: 30px;
      margin-top: 20px;
      text-align: center;
    }
    .partner{
      display: block;
      width: 100%;
      margin-bottom: 20px;
      .image-partner{
        width: 100%;
      }
      .partner-content{
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-bottom: 10px;
        margin-top: 5px;
        align-items: center;
        justify-content: center;
        p{
         font-size: 14px;
         padding: 10px 10px 10px 20px;
         color: #001D4A ;
         line-height: 28px;
         text-align: justify;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
        }
      }
    }
    .partner2{
      display: block;
      width: 100%;
      margin-bottom: 20px;
      .image-partner{
        width: 100%;
      }
      .partner-content2{
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        p{
         font-size: 14px;
         padding: 10px 10px 10px 20px;
         color: #001D4A ;
         line-height: 28px;
         text-align: justify;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
        }
      }
    }
    .list-partner{
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
      margin: 0px auto;
    }
  }
  .news{
    h2{
      font-weight: 700;
      font-size: 30px;
      width: 80%;
      margin: 0px auto;
      padding-top: 25px;
      text-align: center;
    }
    width: 100%;
    background-color: #FFFFFF;
    .list-news{
      width: 60%;
      margin: 0px auto;
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 40px;
      .new{

        img{
          width: 100%;
          margin-top: 50px;
          margin: 0px auto;
        }
        .text{
          margin-top: 10px;
          margin-left: 10px;
          text-align: center;
          span{
            font-size: 18px;
            color: #001d4a;
            font-weight: 700;

          }
          p{
            color: #001d4a;
            text-align: justify;
          }
        }
      }
    }
  }
  .slide2{
    width: 419px;
    height: 347px;
    display: flex;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 30px;
    align-items: flex-end;
    a, span{
      font-style: normal;
      font-family: Roboto;
      color: rgba(255, 255, 255, 1);
      font-size: 20px;
      font-weight: bold;
      line-height: 22px;
      text-align: justify;
      padding: 35px 35px 35px 15px;
    }
  }
  .slide{
    width: 310px;
    height: 248px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
  }
  ::ng-deep.slick-slider{
    margin: 0px auto;
    width: 100%;
  }
  ::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    font-size: 40px;
  }
  ::ng-deep.slick-prev:before {
    margin: -7px !important;

  }
  ::ng-deep.slick-next::before{
    margin: -7px !important;
  }
}
