<app-slide [is_right]="true"></app-slide>
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div *ngIf="news_list | async as New_list">
        <div class="container"  *ngFor="let New of New_list">
            <h2>{{ New.mo_ta }}</h2>
            <mat-card class="bs-card">
                <div id="bs-content">
                    <div class="bs-content-main">
                        <p [innerHTML]="New.noi_dung"></p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    
</div>
