<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button  (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
        <hr>
        <div>
            <ul>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="user text-right">
                        <img class = "user-image mr-1 p-2" src="../../../../assets/images/img_avatar.png">
                        <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>logout</mat-icon>
                            Đăng xuất
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
