mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #4675d4;
}
ul{
    li{
        list-style: none;
        
    }
}
button{
    outline: none;
    border: 0;
    background: transparent;
    margin-top: 7px;
}
.user{
    font-size: 15px;
    vertical-align: right;
    margin-bottom: 7px;
}
li{
    float: right;
}
.user-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    &-icon{
        height: 18px;
        font-size: 18px;
    }
}

  