<div class="back-ground-slide"
  [style.background-image]="bg_url"
>
  <div class="slide-container">
    <div class="slide-content-container">
      <img
        class="slide-caption-image"
        src="../../../assets/images/logo white-01-01 1.png"
      />
      <!-- <h2 class="slide-title">{{ data_translate.title[this.language_name] | uppercase}}</h2>
            <p class="slide-content">
                {{ data_translate.content[this.language_name] }}
            </p> -->
    </div>
    <div
      class="slide-caption"
      *ngFor="let ct of translate_data.Caption[this.language_name]"
    >
      <img [src]="'../../../assets/images/' + ct.image" />
      <p style="color: #ffff; font-size: 22px">{{ ct.title }}</p>
    </div>
  </div>
  <section id="Slider">
    <input type="radio" name="slider" id="s1" />
    <input type="radio" name="slider" id="s2" checked />
    <input type="radio" name="slider" id="s3" />
    <label for="s1" id="slide1"></label>
    <label for="s2" id="slide2"></label>
    <label for="s3" id="slide3"></label>
  </section>
</div>

  
    