@media screen and (min-width: 1100px) {
.back-ground-slide{
  height: 650px;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slide-container {
    height: 380px;
    width: 666px;
    margin: auto auto auto 208px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slide-content-container {
      object-fit: cover;
      overflow: hidden;
      .slide-caption-image{
        margin-bottom: 250px;
        float: left;
      }
      .slide-title {
        font-size: 34px;
        font-weight: bold;
        color: #fff;
        width: 100%;
        padding: 0 100px 20px 100px;
        text-align: center;
      }
      .slide-content {
        margin: 0;
        padding: 0 100px;
        color: #fff;
        text-align: justify;
        font-size: 14px;
      }
    }
    .slide-caption{
      float: left;
      display: flex;
      align-items: center;
      img{
        width: 45px;
        height: 45px;
      }
      p{
        text-align: center;
        padding: 0 10px;
      }
    }
  }
  /* .slide-right {
    margin: auto 204px auto auto;
    box-shadow: -123px 0px 0px 40px #ffffff3b;
  }
  .slide-container {
    margin: auto auto auto 487px;
  }
  .slide-right {
    margin: auto 480px auto auto;
  } */
  [type=radio] {
    display: none;
  }
  // 3d slider 
  #Slider {
    height: 300px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 1600px;
  }
  
  #Slider label {
    margin: auto;
    width: 464px;
    height: 348px;
    position: absolute;
    left: 0; right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide1 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(50%,0,-200px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-50%,0,-200px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
    box-shadow: 0px 0px 0px 10px rgb(255, 255, 255, .8);
    transform: translate3d(0,0,0);
  }
  #slide1 { 
    background-image: url('../../../assets/images/banner/HALH5.png'); 
    background-position: center;
    background-size: cover;
  }
  #slide2 { 
    background-image: url('../../../assets/images/banner/HALH7.jpg');
    background-position: center;
    background-size: cover; 
  }
  #slide3 { 
    background-image: url('../../../assets/images/banner/HINH\ ANH\ LOP\ HOC\ 1.png');
    background-position: center; 
    background-size: cover; 
  }
}

@media screen and (max-width: 700px){
  .back-ground-slide{
    height: 1000px;
    background-size: cover;
    display: flex;
    align-items: center;
  }
  .slide-container{
    margin: 0 auto;
    margin-bottom: 550px;
    .slide-caption-image{
      text-align: center;
      width: 100%;
    }
    .slide-caption{
      display: flex;
      align-items: center;
      margin-top: 10px;
      font-size: 24px;
    }
  }
  [type=radio] {
    display: none;
  }
  #slider {
    height: 22vw;
    transform-style: preserve-3d;
    width: 80%;
    position: absolute;
    align-items: center;
    margin: 0 55px;
  }
  
  #slider label {
    width: 500px;
    height: 348px;
    position: absolute;
    cursor: pointer;
    transition: transform 0.4s ease;
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide1 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);

  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3 {
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);;
    
    
  }
  #slide1 { 
    background-image: url('../../../assets/images/banner/HALH5.png'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
  }
  #slide2 { 
    background-image: url('../../../assets/images/banner/HALH7.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  #slide3 { 
    background-image: url('../../../assets/images/banner/HINH\ ANH\ LOP\ HOC\ 1.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .slide-container {
    height: 380px;
    width: 666px;
    margin: auto auto auto 208px;
    background-color: #1f3361cc;
    box-shadow: 123px 0px 0px 40px #ffffff3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .slide-content-container {
      object-fit: cover;
      overflow: hidden;
      .slide-title {
        font-size: 28px;
        font-weight: bold;
        color: #fff;
        width: 100%;
        padding: 0 100px 20px 100px;
        text-align: center;
      }
      .slide-content {
        margin: 0;
        padding: 0 20px;
        color: #fff;
        font-size: 14px;
        text-align: justify;
      }
    }
  }
  .slide-right {
    margin: auto 204px auto auto;
    box-shadow: -123px 0px 0px 40px #ffffff3b;
  }
  .slide-container {
    margin: auto 50px auto 487px;
  }
  .slide-right {
    margin: auto 480px auto 150px;
  } 
}

