<img class="banner" src="../../../assets/images/banner/14718639_852161524919073_849231402605319931_n 1.png">

<div
  style="
    background: linear-gradient(
      90deg,
      #ecc440 0%,
      #fffa8a 31.77%,
      #ddac17 67.71%,
      #ffff95 100%
    );
  "
>
  <div class="content custom-container">
    <div *ngFor="let item of data_translate.content_1" class="viewmore-title">
      <div class="viewmore-body-title">
        {{ item.title_1[language_name] }}
      </div>
    </div>
    <div class="viewmore-body-image">
      <div *ngFor="let item of data_translate.content_1">
        <img
          class="viewmore-image"
          [src]="'../../../assets/images/viewmore/' + item.image_1"
        />
      </div>
    </div>
    <div>
      <div
        id="viewmore-content"
        [class]="index % 2 == 0 ? 'border-left' : 'border-right'"
      >
        <div id="viewmore-head">
          <mat-card
            class="viewmore-card"
            *ngFor="let item of data_translate.sub_content_1"
          >
            <div class="viewmore-icon">
              <i class="fas fa-check-square" style="margin-left: 20px"></i>
              <p>{{ item.sub_title_1[language_name] }}</p>
            </div>
            <ul class="viewmore-subcontent">
              <li>{{ item.sub_main_content_1[language_name] }}</li>
              <li>{{ item.sub_main_content_1_2[language_name] }}</li>
            </ul>
          </mat-card>

          <mat-card
            class="viewmore-right"
            *ngFor="let item of data_translate.sub_content_2"
          >
            <div class="viewmore-icon">
              <i class="fas fa-check-square"></i>
              <p>{{ item.sub_title_2[language_name] }}</p>
            </div>
            <ul class="viewmore-subcontent">
              <li>{{ item.sub_main_content_2[language_name] }}</li>
            </ul>
          </mat-card>
        </div>

        <div id="viewmore-head">
          <mat-card
            class="viewmore-card"
            *ngFor="let item of data_translate.sub_content_3"
          >
            <div class="viewmore-icon">
              <i class="fas fa-check-square"></i>
              <p>{{ item.sub_title_3[language_name] }}</p>
            </div>
            <ul class="viewmore-subcontent">
              <li>{{ item.sub_main_content_3[language_name] }}</li>
            </ul>
          </mat-card>

          <mat-card
            class="viewmore-right"
            *ngFor="let item of data_translate.sub_content_4"
          >
            <div class="viewmore-icon">
              <i class="fas fa-check-square"></i>
              <p>{{ item.sub_title_4[language_name] }}</p>
            </div>
            <ul class="viewmore-subcontent">
              <li>{{ item.sub_main_content_4[language_name] }}</li>
              <li>{{ item.sub_main_content_4_2[language_name] }}</li>
              <li>{{ item.sub_main_content_4_3[language_name] }}</li>
            </ul>
          </mat-card>
        </div>

        <div id="viewmore-head">
          <mat-card
            class="viewmore-card"
            *ngFor="let item of data_translate.sub_content_5"
          >
            <div class="viewmore-icon">
              <i class="fas fa-check-square"></i>
              <p>{{ item.sub_title_5[language_name] }}</p>
            </div>
          </mat-card>

          <mat-card
            class="viewmore-right"
            *ngFor="let item of data_translate.sub_content_6"
          >
            <div class="viewmore-icon">
              <i class="fas fa-check-square"></i>
              <p>{{ item.sub_title_6[language_name] }}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <hr class="space" />
  <div style="width: 70%; margin: auto; display: flex; justify-content: center">
    <button class="register" (click)="openDialog()">
      {{ data_translate.button[language_name] }}
    </button>
  </div>
  <div *ngFor="let item of data_translate.content_1" class="viewmore-title">
    <div class="viewmore-body-title-2">
      {{ item.title_2[language_name] }}
    </div>
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig2"
    >
      <div ngxSlickItem *ngFor="let item of data_translate.parter" class="slide">
        <a [routerLink]="item.link">
            <!-- <div class="overlay">
                <div class="text">{{item.title}}</div>
            </div> -->
          <img [src]="item.img" />
        </a>
      </div>
    </ngx-slick-carousel>
  </div>
  
</div>
