<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Dịch vụ hoàn thuế') : 
            ('Tax refund service') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <p>{{ item.content_2[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 9.png">
                    <p style="font-weight: bold; color: red; font-size: 20px;">
                        {{ 
                            language_name == 'vi' ? ('Kế toán Việt Nam là một lựa chọn tốt nhất để làm dịch vụ hoàn thuế') : 
                            ('Vietnamese accountant is the best choice for tax refund service') 
                        }}
                    </p>
                    <h4>{{ 
                            language_name == 'vi' ? ('CÁC TRƯỜNG HỢP ĐƯỢC HOÀN THUẾ GTGT') : 
                            ('CASE OF VAT REFUND') 
                        }}
                    </h4>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(1). Cơ sở kinh doanh mới thành lập từ dự án đầu tư:') : 
                            ('(1). New business establishments established from investment projects:') 
                        }}
                    </p>
                    <p>{{ item.content_3[language_name] }}</p>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(2). Hoàn thuế GTGT đối với dự án đầu tư theo các trường hợp sau:') : 
                            ('(2). VAT refund for investment projects in the following cases:') 
                        }}
                    </p>
                    <p>(a)
                        <span style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Cơ sở kinh doanh đang hoạt động thuộc đối tượng nộp thuế GTGT theo phương pháp khấu trừ có dự án đầu tư cùng tỉnh, thành phố, ') : 
                                ('Operating business establishments subject to VAT by the deduction method have investment projects in the same province, city,') 
                            }}
                        </span>
                        <span>{{ item.content_4[language_name] }}</span>
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Sau khi bù trừ nếu số thuế GTGT đầu vào của dự án đầu tư chưa được khấu trừ hết từ 300 triệu đồng trở lên thì được hoàn thuế GTGT cho dự án đầu tư.') : 
                            ('After clearing, if the input VAT amount of the investment project that has not been fully deducted is 300 million VND or more, the VAT will be refunded to the investment project.') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Sau khi bù trừ nếu số thuế GTGT đầu vào của dự án đầu tư mà chưa được khấu trừ hết nhỏ hơn 300 triệu đồng thì kết chuyển vào số thuế GTGT đầu vào của dự án đầu tư của kỳ kê khai tiếp theo.') : 
                            ('After clearing, if the input VAT amount of the investment project that has not been fully deducted is less than VND 300 million, it will be transferred to the input VAT amount of the investment project of the next declaration period.') 
                        }}
                    </p>
                    <p style="color: red; font-style: italic;">{{ item.content_5[language_name] }}</p>
                    <p>(b)
                        <span style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Trường hợp cơ sở kinh doanh đang hoạt động thuộc đối tượng nộp thuế GTGT theo phương pháp khấu trừ có dự án đầu tư mới ') : 
                                ('In case an operating business establishment that is subject to VAT by the deduction method has a new investment project') 
                            }}
                        </span>
                        <span>
                            {{ 
                                language_name == 'vi' ? ('tại địa bàn tỉnh, thành phố trực thuộc Trung ương ') : 
                                ('in provinces and centrally run cities') 
                            }}
                        </span>
                        <span style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('khác với tỉnh, thành phố ') : 
                                ('different from province, city') 
                            }}
                        </span>
                        <span>{{ item.content_6[language_name] }}</span>
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Sau khi bù trừ nếu số thuế GTGT đầu vào của dự án đầu tư mới chưa được khấu trừ hết từ 300 triệu đồng trở lên thì được hoàn thuế GTGT cho dự án đầu tư.') : 
                            ('After clearing, if the input VAT amount of the new investment project that has not been fully deducted is 300 million VND or more, the VAT will be refunded to the investment project.') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Sau khi bù trừ nếu số thuế GTGT đầu vào của dự án đầu tư mới chưa được khấu trừ hết nhỏ hơn 300 triệu đồng thì kết chuyển vào số thuế GTGT đầu vào của dự án đầu tư của kỳ kê khai tiếp theo.') : 
                            ('After clearing, if the input VAT amount of the new investment project that has not yet been fully deducted is less than VND 300 million, it will be transferred to the input VAT amount of the investment project of the next declaration period.') 
                        }}
                    </p>
                    <p style="color: red; font-style: italic;">{{ item.content_7[language_name] }}</p>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(3). Hoàn thuế đối với hàng hóa, dịch vụ xuất khẩu') : 
                            ('(3). Tax refund for exported goods and services') 
                        }}
                    </p>
                    <p>{{ item.content_8[language_name] }}</p>
                    <p>{{ item.content_9[language_name] }}</p>
                    <p>{{ item.content_10[language_name] }}</p>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(4). Hoàn thuế GTGT đối với các chương trình, dự án sử dụng nguồn vốn hỗ trợ phát triển chính thức (ODA) không hoàn lại hoặc viện trợ không hoàn lại, viện trợ nhân đạo.') : 
                            ('(4). VAT refund for programs and projects using non-refundable official development assistance (ODA) capital or non-refundable aid, humanitarian aid.') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Việc hoàn thuế GTGT đã trả đối với các chương trình, dự án sử dụng nguồn vốn hỗ trợ phát triển chính thức (ODA) không hoàn lại thực hiện theo hướng dẫn của Bộ Tài chính. ') : 
                            ('The refund of VAT already paid for programs and projects funded by official development assistance (ODA) funds shall comply with the guidance of the Ministry of Finance.') 
                        }}
                    </p>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(5). Đối tượng được hưởng quyền ưu đãi miễn trừ ngoại giao') : 
                            ('(5). Subjects entitled to diplomatic privileges and immunities') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('theo quy định của pháp luật về ưu đãi miễn trừ ngoại giao mua hàng hóa, dịch vụ tại Việt Nam để sử dụng được hoàn số thuế GTGT đã trả ghi trên hoá đơn giá trị gia tăng hoặc trên chứng từ thanh toán ghi giá thanh toán đã có thuế GTGT.') : 
                            ('according to the provisions of law on diplomatic privileges and immunities, when purchasing goods and services in Vietnam for use, the paid VAT amount stated on the value-added invoice or on the payment voucher shall indicate the payment price. VAT included.') 
                        }}
                    </p>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(6). Người nước ngoài, người Việt Nam định cư ở nước ngoài mang hộ chiếu hoặc giấy tờ nhập cảnh do cơ quan có thẩm quyền nước ngoài cấp') : 
                            ('(6). Foreigners, Vietnamese residing abroad holding passports or entry papers issued by foreign competent authorities') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('được hoàn thuế đối với hàng hoá mua tại Việt Nam mang theo người khi xuất cảnh. Việc hoàn thuế GTGT thực hiện theo hướng dẫn của Bộ Tài chính về hoàn thuế GTGT đối với hàng hoá của người nước ngoài, người Việt Nam định cư ở nước ngoài mua tại Việt Nam mang theo khi xuất cảnh.') : 
                            ('be entitled to tax refund for goods purchased in Vietnam and brought with them when leaving the country. The VAT refund shall comply with the guidance of the Ministry of Finance on VAT refund for goods purchased by foreigners and Vietnamese residing abroad in Vietnam and brought with them when leaving the country.') 
                        }}
                    </p>
                    <p style="font-weight: bold; text-decoration: underline;">
                        {{ 
                            language_name == 'vi' ? ('(7). Cơ sở kinh doanh có quyết định xử lý hoàn thuế') : 
                            ('(7). The business establishment has a decision to process tax refund') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('của cơ quan có thẩm quyền theo quy định của pháp luật và trường hợp hoàn thuế GTGT theo Điều ước quốc tế mà Cộng hòa xã hội chủ nghĩa Việt Nam là thành viên') : 
                            ('of the competent authority according to the provisions of law and the case of VAT refund under the international treaties to which the Socialist Republic of Vietnam is a signatory.') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('THỦ TỤC HOÀN THUẾ GTGT') : 
                            ('PROCEDURES FOR VAT REFUND') 
                        }}
                    </p>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Bước 1 : Chuẩn bị hồ sơ để hoàn thuế') : 
                            ('Step 1: Prepare documents for tax refund') 
                        }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Rà soát lại đối tượng theo quy định ở trên để xem mình thuộc trường hợp nào. Nếu là có dự án đầu tư phải nộp tờ khai 02/GTGT(tờ khai dành cho dự án đầu tư)') : 
                                ('Review the subjects according to the above provisions to see which case you belong to. If there is an investment project, you must submit declaration 02/GTGT (the declaration for investment projects).') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Rà soát lại toàn bộ hoá đơn chứng từ, hợp đồng đầy đủ. Sắp xếp đầu ra – đầu vào theo thứ tự. Ví dụ đối với xuất khẩu phải sắp xếp hoá đơn mua vào – bán ra tương ứng, lô nào vào lô ấy') : 
                                ('Review all invoices, documents and complete contracts. Sort output – input in order. For example, for export, it is necessary to arrange the corresponding purchase and sale invoices, which batch is in that lot') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập hồ sơ đề nghị hoàn') : 
                                ('Make a request for refund') 
                            }}
                        </li>
                    </ul>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Bước 2 : Gửi hồ sơ hoàn thuế') : 
                            ('Step 2: Submit tax refund file') 
                        }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Sau khi đã lập đủ hồ sơ thì gửi hồ sơ này cho cơ quan thuế qua hình thức điện tử hoặc trực tiếp hoặc bưu điện') : 
                                ('After making a complete dossier, send this dossier to the tax office by electronic form or in person or by post') 
                            }}
                        </li>
                    </ul>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Bước 3 : Xử lý yêu cầu hoàn thuế') : 
                            ('Step 3: Processing tax refund requests') 
                        }}
                    </p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Khi cơ quan thuế tiếp nhận hồ sơ hoàn thuế sẽ yêu cầu doanh nghiệp mang hồ sơ lên giải trình') : 
                                ('When the tax office receives the tax refund file, it will ask the business to bring the file to explain') 
                            }}
                        </li>
                    </ul>
                    <h4>
                        {{ 
                            language_name == 'vi' ? ('THỜI GIAN HOÀN THUẾ') : 
                            ('TAX REFUND TIME') 
                        }}
                    </h4>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Thời gian hoàn thuế được chia làm 2 trường hợp : hoàn thuế trước kiểm tra sau và kiểm tra trước hoàn sau') : 
                            ('Tax refund time is divided into 2 cases: tax refund first, check later and check first, refund later') 
                        }}
                    </p>
                    <ol>
                        <li style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Đối với hồ sơ thuộc diện hoàn trước – kiểm tra sau:') : 
                                ('For dossiers eligible for refund first - check the following:') 
                            }}
                            <ul style="font-weight: normal;">
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Nếu hồ sơ không hợp lệ hoặc không đúng đối tượng được hoàn, cơ quan thuế sẽ trả lời trong vòng 3 ngày kể từ ngày nhận hồ sơ') : 
                                        ('If the dossier is invalid or not the right subject to be refunded, the tax office will reply within 3 days from the date of receipt of the dossier.') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Nếu đủ điều kiện được hoàn thì thời hạn là 6 ngày kể từ ngày nhận được hồ sơ') : 
                                        ('If eligible for refund, the time limit is 6 days from the date of receiving the application') 
                                    }}
                                </li>
                            </ul>
                        </li>
                        <li style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Đối với hồ sơ thuộc diện kiểm tra trước – hoàn thuế sau:') : 
                                ('For the following dossiers subject to pre-check - tax refund:') 
                            }}
                            <ul style="font-weight: normal;">
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Cơ quan thuế tiến hành kiểm tra tại trụ sở của doanh nghiệp và ban hành quyết định hoàn thuế trong thời hạn 40 ngày') : 
                                        ('The tax authority conducts an inspection at the enterprise`s headquarters and issues a tax refund decision within 40 days') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Kho bạc nhà nước chi tiền trong vòng 3 ngày kể từ ngày nhận được Lệnh hoàn trả khoản thu ngân sách nhà nước.') : 
                                        ('The State Treasury shall pay the money within 3 days from the date of receipt of the Order on refund of state budget revenues.') 
                                    }}
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <h2>{{ item.content_11[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
