<div class="section-empty">
    <div class="content">
        <h2>{{translate_data.register_now[language_name]}}</h2>
        <hr class="space s" />
        <div class="register-main">
            <div class="register-content">
                <form action="#" class="form-box form-ajax" method="post">
                    <div class="row">
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="name" name="name" placeholder="{{translate_data.name[language_name]}}" type="text" class="form-control form-value input-style" required />
                        </div>
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="email" name="email" placeholder="{{translate_data.email[language_name]}}" type="email" class="form-control form-value input-style" required />
                        </div>
                        <div class="col-md-12" style="padding: 20px;">
                            <input id="phone" name="phone" placeholder="{{translate_data.phone[language_name]}}" type="text" class="form-control form-value input-style" required />
                        </div>
                        <form class="col-md-12 form-control input-style" style="padding: 10px;">
                            <label for="course_register">{{translate_data.course_register[language_name]}}</label>
                            <select id="course_register" name="course_register">
                                <option>{{translate_data.option_1[language_name]}}</option>
                                <option>{{translate_data.option_2[language_name]}}</option>
                                <option>{{translate_data.option_3[language_name]}}</option>
                                <option>{{translate_data.option_4[language_name]}}</option>
                                <option>{{translate_data.option_5[language_name]}}</option>
                                <option>{{translate_data.option_6[language_name]}}</option>
                            </select>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr class="space" />
    <div>
        <button class="register">{{translate_data.register[language_name]}}</button>
    </div>
</div>

