h2 {
    font-size: 36px;
    font-weight: 500;
    color: #1C417A; 
    font-weight: bold; 
    text-align: center;
}

.input-style {
    height: 55px;
    line-height: 34px;
    border-radius: 20px;
    background: rgba(28, 65, 122, 0.1);
    background-color: #EEEEEE;
    padding-left: 40px;
}

select{
    margin-left: 10px;
    width: 80%;
    height: 32px;
}

.register{
    background-color: #349CD9;
    font-size: 22px;
    width: 200px;
    height: 70px;
    border-radius: 40px;
    color: #FFFFFF;
    border: 1px solid #349CD9;
    margin-bottom: 70px;
    position: relative;
    left: 40%;
  }