<app-slide [is_right]="true"></app-slide>
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('TÌNH HUỐNG HỎI ĐÁP LIÊN QUAN KÊ KHAI THUẾ THU NHẬP CÁ NHÂN THEO TT80/2021/TT-BTC') : ('RELATED Q&A Scenarios OF PERSONAL INCOME TAX DECLARATION BY TT80/2021/TT-BTC') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of ThueGTGT_TNCN">
                    <img class="image-container" src="../../../../assets/images/home/3.png">
                    <p><strong>{{ item.content_1[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_2[language_name] }}
                        </span>
                    </p>
                    <p><strong>{{ item.content_3[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                    </p>
                    <ol style="list-style-type: decimal;">
                        <li>
                            {{ item.content_4[language_name] }}
                        </li>
                        <li>
                            {{ item.content_5[language_name] }}
                        </li>
                    </ol>
                    <p><strong>{{ item.content_6[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_7[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Công ty có một số nhân viên bán hàng tại đại lý (rải rác tại nhiều tỉnh thành) có thu nhập vãng lai (trích đóng thuế TNCN 10%), vậy số thuế này có cần phải trích phân bổ về cho địa phương hay không?') : ('Question: The company has a number of sales staff at agents (scattered in many provinces) with current income (withholding 10% PIT), so does this tax need to be allocated to the local area side or not?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_8[language_name] }}
                        </span>
                    </p>
                    <p><strong>{{ item.content_9[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_10[language_name] }}
                        </span>
                    </p>
                    <p><strong>{{ item.content_11[language_name] }}</strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_12[language_name] }}
                        </span>
                    </p>
                    <p>{{ item.content_13[language_name] }}</p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Bảng kê 05-1BK thuộc Mẫu 05/QTT-TNCN, chỉ tiêu [21] = [12] - [14] - [15] - [17] Chỉ tiêu [21] không trừ chỉ tiêu [18] Từ thiện nhân đạo, không trừ chỉ tiêu [19] Bảo hiểm được trừ, không trừ chỉ tiêu [20] Quĩ hưu trí tự nguyện được trừ. Xin hỏi có thay đổi về nguyên tắc tính thuế ở đây không?') : ('Question: List 05-1BK on Form 05/QTT-TNCN, indicator [21] = [12] - [14] - [15] - [17] Target [21] without deduction of target [18] From philanthropy, not subtracting the target [19] Insurance is deducted, not subtracting the target [20] Voluntary retirement fund is deducted. Is there any change in tax calculation principles here?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ language_name == 'vi' ? ('Chỉ tiêu [17] trên bảng kê 05-1/BK-QTT-TNCN bằng chỉ tiêu [18] Từ thiện, nhân đạo, khuyến học cộng (+) [19] Bảo hiểm được trừ cộng (+) [20] Quĩ hưu trí tự nguyện được trừ. Do đó, đã trừ các chỉ tiêu nêu trên trong công thức.') : ('The indicator [17] on the list 05-1/BK-QTT-TNCN is equal to the indicator [18] Charity, humanitarian, study promotion plus (+) [19] Insurance minus plus (+) [ 20] Voluntary retirement fund is deducted. Therefore, the above criteria have been subtracted in the formula.') }}
                        </span>
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('3. Giải đáp vướng mắc liên quan đến khai thuế TNDN') : ('3. Solve problems related to CIT declaration') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Doanh nghiệp của tôi có phát sinh thu nhập từ hoạt động chuyển nhượng bất động sản thực hiện khai thuế, nộp thuế thu nhập doanh nghiệp như thế nào?') : ('Question: Does my business generate income from real estate transfer, how to declare and pay corporate income tax?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ language_name == 'vi' ? ('Căn cứ quy định tại điểm e khoản 4 ,điểm b khoản 6 Điều 8, điểm a khoản 6 Điều 11 Nghị định số 126/2020/NĐ-CP và điểm b khoản 1,2,3 Điều 17 Thông tư số 80/2021/TT-BTC:') : ('Pursuant to the provisions of Point e, Clause 4, Point b, Clause 6, Article 8, Point a, Clause 6, Article 11 of Decree No. 126/2020/ND-CP and Point b Clauses 1,2,3 Article 17 of Circular No. 80/2021/TT-BTC:') }}
                        </span>
                    </p>
                    <p>{{ item.content_14[language_name] }}</p>
                    <p>{{ item.content_15[language_name] }}</p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Công ty của tôi có đơn vị phụ thuộc, địa điểm kinh doanh khác tỉnh, thành phố nơi có trụ sở chính có thu nhập được hưởng ưu đãi thuế thu nhập doanh nghiệp thì thực hiện khai thuế, nộp thuế thu nhập doanh nghiệp như thế nào?') : ('Question: My company has a dependent unit, a business location other than the province or city where it is headquartered, and has income that is eligible for corporate income tax incentives. career like?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_16[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Doanh nghiệp có phát sinh doanh thu của dịch vụ thực hiện ngoài Việt Nam thì thực hiện kê khai thuế, nộp thuế TNDN như thế nào?') : ('Question: Businesses that generate revenue from services performed outside of Vietnam, how do they declare and pay CIT?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_17[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_18[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_19[language_name] }}
                        </span>
                    </p>
                    <p> {{ item.content_20[language_name] }}</p>
                    <p><strong>
                        {{ item.content_21[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_22[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_23[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_24[language_name] }}
                        </span>
                    </p>
                    <ul>
                        <li>{{ item.content_25[language_name] }}</li>
                        <li>{{ item.content_26[language_name] }}</li>
                    </ul>
                    <p><strong>
                        {{ item.content_27[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_28[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_29[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ language_name == 'vi' ? ('Căn cứ quy định tại điểm h khoản 1, điểm d khoản 2 Nghị định số 126/2020/NĐ-CP của Chính phủ và Điều 17 Thông tư số 80/2021/TT-BTC: Trường hợp người nộp thuế có đơn vị phụ thuộc, địa điểm kinh doanh khác tỉnh có thu nhập được hưởng ưu đãi thuế TNDN thì:') : ('Pursuant to the provisions of Point h, Clause 1, Point d, Clause 2 of Decree No. 126/2020/ND-CP of the Government and Article 17 of Circular No. 80/2021/TT-BTC: In case the taxpayer has Dependent units, business locations other than the province with incomes eligible for CIT incentives shall:') }}
                        </span>
                    </p>
                    <ul>
                        <li>{{ item.content_30[language_name] }}</li>
                        <li>{{ item.content_31[language_name] }}</li>
                    </ul>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Câu hỏi : Công ty muốn điều chỉnh báo cáo các năm trước: Báo cáo tài chính và quyết toán thì áp dụng theo thông tư cũ hay Thông tư 80?') : ('Question : The company wants to adjust the reports of previous years: Should the financial statements and final settlements be according to the old circular or the 80th circular?') }}
                        </strong>
                    </p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_32[language_name] }}
                        </span>
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('+ Tờ khai bổ sung mẫu số 01/KHBS và Bản giải trình khai bổ sung mẫu số 01-1/KHBS ban hành kèm theo phụ lục II Thông tư số 80/2021/TT-BTC.') : ('+ An additional declaration form No. 01/KHBS and an explanation of the additional declaration form No. 01-1/KHBS issued together with Appendix II of Circular No. 80/2021/TT-BTC.') }}
                    </p>
                    <p>
                        {{ language_name == 'vi' ? ('+ Hồ sơ khai thuế của kỳ tính thuế có sai sót đã được bổ sung thực hiện theo mẫu biểu gần nhất của kỳ tính thuế mà người nộp thuế đã nộp cho cơ quan thuế.') : ('+ Tax declaration dossiers of tax period with errors which have been supplemented shall be made according to the most recent form of the tax period that the taxpayer has submitted to the tax office.') }}
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('4. Giải đáp vướng mắc liên quan đến sử dụng ứng dụng để kê khai thuế') : ('4. Solve problems related to using the application to declare tax') }}
                    </strong></p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: Doanh nghiệp được giảm 30% thuế TNDN thì sử dụng ứng dụng HTKK để kê khai phần giảm này trên mẫu biểu nào?') : ('Question: On which form should an enterprise receive a 30% CIT reduction using the HTKK application to declare this reduction?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ language_name == 'vi' ? ('Hiện nay Tổng cục Thuế đang trong quá trình nâng cấp Tờ khai quyết toán thuế TNDN năm 2021, khi hoàn thành bản nâng cấp sẽ có phụ lục kê khai số thuế TNDN được giảm.') : ('Currently, the General Department of Taxation is in the process of upgrading the CIT finalization declaration for 2021, when the upgrade is completed, there will be an appendix declaring the reduced CIT amount.') }}
                        </span>
                    </p>
                    <p><strong>
                        {{ item.content_33[language_name] }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_34[language_name] }}
                        </span>
                    </p>
                    <p><strong>
                        {{ language_name == 'vi' ? ('Câu hỏi: DN thực hiện khai GTGT tháng 1/2022, quyết toán thuế TNDN và TNCN năm 2021 nhưng không vào HTKK được để nhập số liệu báo cáo. Xin hỏi có phải DN đã cài đặt ứng dụng không đúng không?') : ('Question: Enterprises make VAT declaration in January 2022, finalize CIT and PIT in 2021 but cannot enter the HTKK to enter reported data. I wonder if DN has installed the wrong application?') }}
                    </strong></p>
                    <p>
                        <strong>
                            {{ language_name == 'vi' ? ('Trả lời:') : ('Answer') }}
                        </strong>
                        <span>
                            {{ item.content_35[language_name] }}
                        </span>
                    </p>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>

