<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Thay đổi giấy phép đăng ký kinh doanh') : 
            ('Change of business registration license') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 4.png">
                    <h3 style="color: rgb(33, 19, 165);">{{ item.content_2[language_name] }}</h3>
                    <h4>{{ item.content_3[language_name] }}</h4>
                    <p>{{ item.content_4[language_name] }}</p>
                    <ol>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo thay đổi nội dung đăng ký doanh nghiệp;') : 
                            ('Notice of change of business registration contents;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo thay đổi người đại diện theo pháp luật;') : 
                            ('Notice of change of legal representative;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo thay đổi chủ doanh nghiệp tư nhân;') : 
                            ('Notice of change of private business owner;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo thay đổi chủ sở hữu công ty TNHH một thành viên;') : 
                            ('Notice of change of owner of one member limited liability company;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thông báo về việc bổ sung, cập nhật thông tin đăng ký doanh nghiệp;') : 
                            ('Notice of addition and update of business registration information;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Danh sách thành viên công ty TNHH hai thành viên trở lên khi thay đổi vốn của thành viên trong công ty TNHH hai thành viên trở lên;') : 
                            ('List of members in a limited liability company with two or more members upon change of capital of a member in a limited liability company with two or more members;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Danh sách người đại diện theo ủy quyền đối với thay đổi cổ đông/ thành viên là tổ chức vốn đầu tư nước ngoài;') : 
                            ('List of authorized representatives for change of shareholders/members being foreign-invested organizations;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Biên bản họp Đại hội đồng cổ đông đối với công ty cổ phần hoặc Biên bản họp Hội đồng thành viên đối với công ty TNHH hai thành viên trở lên;') : 
                            ('Minutes of the General Meeting of Shareholders for joint-stock companies or Minutes of the Members` Council meeting for limited liability companies with two or more members;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Quyết định của Đại hội đồng cổ đông đối với công ty cổ phần hoặc Hội đồng thành viên đối với công ty TNHH hai thành viên trở lên, chủ sở hữu đối với công ty một thành viên;') : 
                            ('Decision of the General Meeting of Shareholders, for joint-stock companies, or the Members` Council, for limited liability companies with two or more members, the owner, for one-member companies;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Điều lệ trong trường hợp thay đổi chủ sở hữu công ty TNHH một thành viên;') : 
                            ('Charter in case of change of owner of one member limited liability company;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Giấy tờ chứng thực cá nhân công chứng đối với thành viên mới, cổ đông nước ngoài, thay đổi người đại diện theo pháp luật;') : 
                            ('Notarized personal identification papers for new members, foreign shareholders, change of legal representatives;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Báo cáo tài chính nếu doanh nghiệp đăng ký giảm vốn điều lệ.') : 
                            ('Financial statements if the enterprise registers to reduce charter capital.') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Giấy ủy quyền nếu người nộp hồ sơ không phải người đại diện theo pháp luật.') : 
                            ('Power of attorney if the applicant is not the legal representative.') }}
                        </li>
                    </ol>
                    <p style="font-weight: bold;">{{ item.content_5[language_name] }}</p>
                    <h4 style="color: #01338C;">{{ item.content_6[language_name] }}</h4>
                    <p>{{ item.content_7[language_name] }}</p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi tên công ty (bao gồm: thay đổi tên bằng tiếng Việt, thay đổi tên tiếng nước ngoài, thay đổi tên viết tắt);') : 
                            ('Change of company name (including: change of name in Vietnamese, change of foreign language name, change of initials);') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi loại hình doanh nghiệp của công ty (bao gồm: Thay đổi từ TNHH một thành viên sang TNHH hai thành viên trở lên; thay đổi từ công ty TNHH sang công ty cổ phần, thay đổi từ công ty cổ phần thành công ty TNHH, thay đổi doanh nghiệp tư nhân thành công ty).') : 
                            ('Change of business type of the company (including: Change from a one-member limited liability company to a two-member limited liability company; change from a limited company to a joint stock company, change from a joint stock company to a company) limited liability company, changing sole proprietorship to corporation).') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi trụ sở chính của công ty;') : 
                            ('Change the company`s head office;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi cơ cấu vốn của các thành viên công ty;') : 
                            ('Change of capital structure of company members;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi thông tin số điện thoại, số fax; email, website công ty;') : 
                            ('Change information phone number, fax number; email, company website;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi ngành, nghề kinh doanh của công ty;') : 
                            ('Change the company`s line of business;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi thông tin cổ đông là người nước ngoài: Thay đổi cổ đông là người nước ngoài; thay đổi tỷ lệ góp vốn của cổ đông nước ngoài; thay đổi thông tin về Hộ chiếu, Hộ khẩu của cổ đông là người nước ngoài;') : 
                            ('Change of information of foreign shareholders: Change of foreign shareholders; change the capital contribution ratio of foreign shareholders; change information on passports, family registers of shareholders being foreigners;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi vốn điều lệ công ty (bao gồm thay đổi tăng vốn điều lệ công ty hoặc thay đổi giảm vốn điều lệ công ty);') : 
                            ('Change of the company`s charter capital (including change to increase the company`s charter capital or change to decrease the company`s charter capital);') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi người đại diện theo pháp luật công ty; Thay đổi thông tin người đại diện theo pháp luật của công ty (bao gồm: thay đổi chức danh của người đại diện theo pháp luật; thay đổi chứng minh thư/thẻ căn cước/số hộ chiếu; thay đổi hộ khẩu, chỗ ở hiện tại của người đại diện theo pháp luật);') : 
                            ('Change of legal representative of the company; Change of information of the legal representative of the company (including: change of title of legal representative; change of identity card/identification card/passport number; change of household registration, residence current legal representative);') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi thông tin đăng ký thuế: người phụ trách kế toán; thông tin địa chỉ nhận thông báo thuế; tài khoản ngân hàng, phương pháp tính thuế,…') : 
                            ('Change of tax registration information: person in charge of accounting; address information to receive tax notices; Bank accounts, tax calculation methods, etc.') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi thông tin của chủ sở hữu công ty TNHH một thành viên: bao gồm chuyển nhượng chủ sở hữu, thay đổi giấy phép kinh doanh của chủ sở hữu (nếu là pháp nhân), thay đổi thông tin cá nhân của chủ sở hữu (nếu là cá nhân).') : 
                            ('Change of information of the owner of a one-member limited liability company: including transferring the owner, changing the business license of the owner (if it is a legal entity), changing the personal information of the owner (if individual).') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ item.content_8[language_name] }}</p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi thông tin cổ đông sáng lập;') : 
                            ('Change of founding shareholder information;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thay đổi cổ đông sáng lập (Trừ trường hợp thay đổi cổ đông sáng lập do chưa thanh toán hoặc chỉ thanh toán một phần số cổ phần đã đăng ký mua theo quy định).') : 
                            ('Change of founding shareholders (Except for change of founding shareholders due to unpaid or only partial payment of shares registered to buy as prescribed).') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ item.content_9[language_name] }}</p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Đã bị Phòng Đăng ký kinh doanh ra Thông báo về việc vi phạm của doanh nghiệp thuộc trường hợp thu hồi Giấy chứng nhận đăng ký doanh nghiệp hoặc đã bị ra Quyết định thu hồi Giấy chứng nhận đăng ký doanh nghiệp;') : 
                            ('Having been notified by the Business Registration Office of the violation of the enterprise in the case of revocation of the Certificate of Business Registration or the Decision on revocation of the Certificate of Business Registration has been issued;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Đang trong quá trình giải thể theo quyết định giải thể của doanh nghiệp;') : 
                            ('Being in the process of dissolution according to the dissolution decision of the enterprise;') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Theo yêu cầu của Tòa án hoặc Cơ quan thi hành án hoặc cơ quan công an.') : 
                            ('At the request of the Court or the Judgment Enforcement Agency or the police agency.') }}
                        </li>
                    </ul>
                    <h4 style="color: #01338C;">{{ item.content_10[language_name] }}</h4>
                    <p>{{ item.content_11[language_name] }}</p>
                    <p>{{ item.content_12[language_name] }}</p>
                    <h4 style="color: #01338C;">{{ item.content_13[language_name] }}</h4>
                    <p>{{ item.content_14[language_name] }}</p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Quá hạn thông báo từ 1 – 30 ngày, bị xử phạt hành chính từ 500.000 – 1.000.000 đồng.') : 
                            ('If the notice is overdue from 1 to 30 days, an administrative fine of between VND 500,000 and 1,000,000 will be imposed.') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Quá hạn thông báo từ 31 – 90 ngày, bị xử phạt hành chính 1.000.000 – 2.000.000 đồng.') : 
                            ('If the notice is overdue from 31 to 90 days, an administrative fine of between VND 1,000,000 and 2,000,000 will be imposed.') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Quá hạn thông báo từ 91 ngày trở lên, bị xử phạt hành chính từ 2.000.000 – 5.000.000 đồng.') : 
                            ('If the notice is overdue for 91 days or more, an administrative fine of between VND 2,000,000 and 5,000,000 will be imposed.') }}
                        </li>
                    </ul>
                    <h2>{{ item.content_15[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
