<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png" >
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ language_name == 'vi' ? ('Thủ tục mở mã số thuế công ty') : ('Procedures for opening a company tax code') }}</h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 3.png">
                    <p style="font-weight: bold;">{{ item.content_2[language_name] }}</p>
                    <p style="font-weight: bold;">{{ item.content_2_1[language_name] }}</p>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 1:') : ('Step 1:') }}
                        <span style="font-weight: normal;">{{ language_name == 'vi' ? ('Nộp hồ sơ đề nghị khôi phục MST') : ('Submit application to restore MST') }}</span>
                    </p>
                    <ul>
                        <li>
                            {{ item.content_3[language_name] }}
                        </li>
                        <li>
                            {{ item.content_4[language_name] }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 2:') : ('Step 2:') }}
                        <span style="font-weight: normal;">{{ language_name == 'vi' ? ('Nhận kết quả') : ('Get results') }}</span>
                    </p>
                    <p>{{ item.content_5[language_name] }}</p>
                    <ul>
                        <li>
                            {{ item.content_6[language_name] }}
                        </li>
                        <li>
                            {{ item.content_7[language_name] }}
                        </li>
                    </ul>
                    <p>{{ item.content_8[language_name] }}</p>
                    <p style="font-weight: bold;">{{ item.content_9[language_name] }}</p>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 1:') : ('Step 1:') }}
                        <span style="font-weight: normal;">{{ language_name == 'vi' ? ('Nộp hồ sơ khôi phục MST') : ('Submit application to restore MST') }}</span>
                    </p>
                    <p>{{ item.content_10[language_name] }}</p>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 2:') : ('Step 2:') }}
                        <span style="font-weight: normal;">{{ language_name == 'vi' ? ('Nộp các hồ sơ kê khai còn thiếu, số tiền còn nợ (nếu có), cơ quan thuế xác minh trụ sở.') : ('Submit the missing declaration dossiers, the amount owed (if any), the tax agency verify the headquarters.') }}</span>
                    </p>
                    <ul>
                        <li>
                            {{ item.content_11[language_name] }}
                        </li>
                        <li>
                            {{ item.content_12[language_name] }}
                        </li>
                        <li>
                            {{ item.content_13[language_name] }}
                        </li>
                        <li>
                            {{ item.content_14[language_name] }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 3:') : ('Step 3:') }}
                        <span style="font-weight: normal;">{{ language_name == 'vi' ? ('Lấy kết quả:') : ('Get results:') }}</span>
                    </p>
                    <p>{{ item.content_15[language_name] }}</p>
                    <ul>
                        <li>{{ item.content_16[language_name] }}</li>
                        <li>{{ item.content_17[language_name] }}</li>
                    </ul>
                    <p style="font-weight: bold;">{{ item.content_18[language_name] }}</p>
                    <p>{{ item.content_19[language_name] }}</p>
                    <h2>{{ language_name == 'vi' ? ('Trên đây là thủ tục mở mã số thuế khi doanh nghiệp bị đóng, nếu cần một đơn vị uy tín giải quyết nhanh chóng hãy liên hệ với chúng tôi.') : ('Above is the procedure to open a tax code when the business is closed, if you need a reputable unit to solve it quickly, please contact us.') }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>

