<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('TẠI SAO DOANH NGHIỆP CẦN THỰC HIỆN DỊCH VỤ QUYẾT TOÁN THUẾ?') : 
            ('WHY DO ENTERPRISE NEED TAX PAYMENT SERVICES?') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 8.png">
                    <p style="font-size: 20px; color: #20ad73; font-weight: bold; text-align: center;">{{ 
                        language_name == 'vi' ? ('Hồ sơ cần chuẩn bị khi quyết toán thuế') : 
                        ('Documents to prepare when finalizing tax') }}
                    </p>
                    <p>{{ item.content_2[language_name] }}</p>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Hồ sơ pháp lý của doanh nghiệp') : 
                        ('Legal profile of the business') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Đăng ký kinh doanh, giấy chứng nhận đầu tư (nếu có);') : 
                            ('Business registration, investment certificate (if any);') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Chứng minh thư, hộ chiếu người đại diện pháp luật') : 
                            ('ID card, passport of legal representative') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Điều lệ công ty;') : 
                            ('Company rules;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Quy chế tài chính, quy chế lương thưởng của công ty;') : 
                            ('Financial regulations, salary and bonus regulations of the company;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Đăng ký phương pháp khấu hao TSCĐ với cơ quan thuế;') : 
                            ('Register the method of depreciation of fixed assets with tax authorities;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Kết quả đăng ký tài khoản ngân hàng.') : 
                            ('Bank account registration results.') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Hồ sơ khai thuế') : 
                        ('Tax return file') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Tờ khai thuế giá trị gia tăng;') : 
                            ('Value added tax declaration;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Tờ khai thuế vãng lai, thuế nhà thầu…;') : 
                            ('Current tax return, contractor tax...;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng kê hóa đơn hàng hóa, dịch vụ mua vào bán ra;') : 
                            ('List of invoices for goods and services purchased and sold;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Thông báo phát hành hóa đơn, Hợp đồng đặt in hóa đơn;') : 
                            ('Invoice issuance notice, Invoice order printing contract;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Báo cáo tình hình sử dụng hóa đơn;') : 
                            ('Report on the use of invoices;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Quyết toán thuế thu nhập doanh nghiệp;') : 
                            ('Financial report;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Kết quả đăng ký tài khoản ngân hàng.') : 
                            ('Finalization of corporate income tax;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Quyết toán thuế thu nhập cá nhân.') : 
                            ('Finalization of personal income tax.') }}
                        </li> 
                    </ul>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Hồ sơ lương, thưởng, phép') : 
                        ('Salary, bonus and permission records') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Hồ sơ của người lao động;') : 
                            ('Employee`s profile;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Hợp đồng lao động;') : 
                            ('Labor contract;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Các quyết định bổ nhiệm, quyết định tăng lương,…') : 
                            ('Appointment decisions, salary increase decisions, etc.') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng chấm công;') : 
                            ('Timesheets;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng thanh toán tiền lương;') : 
                            ('Table pay wages;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Đăng ký giảm trừ gia cảnh;') : 
                            ('Register of family allowances;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng cam kết 02/CK-TNCN nếu có') : 
                            ('FCommitment table 02/CK-TNCN if any') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Giấy ủy quyền quyết toán thuế TNCN;') : 
                            ('Power of attorney for PIT finalization;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng đăng ký mã số thuế cá nhân cho người lao động;') : 
                            ('Personal tax identification number registration sheet for employees;') }}
                        </li> 
                        <li>
                            {{ language_name == 'vi' ? ('Bảng thông báo bảo hiểm và chứng từ nộp tiền bảo hiểm') : 
                            ('Insurance notice board and insurance payment voucher') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Hồ sơ công nợ') : 
                        ('Debt records') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Hợp đồng kinh tế đầu vào, đầu ra;') : 
                            ('Economic contracts for input and output;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Phụ lục hợp đồng kinh tế;') : 
                            ('Appendix economic contracts;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Biên bản đối chiếu công nợ.') : 
                            ('Debt reconciliation record.') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Hồ sơ vay nợ') : 
                        ('Loan profile') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Hợp đồng vay;') : 
                            ('Loan contract;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Chứng từ thanh toán nợ gốc, lãi vay…') : 
                            ('Proof of payment of principal, interest...') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Chứng từ kế toán') : 
                        ('Financial paper') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Hóa đơn mua vào, bán ra;') : 
                            ('Purchase and sale invoices;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Tờ khai hải quan, giấy nộp tiền vào ngân sách nhà nước;') : 
                            ('Customs declarations, payment slips into the state budget;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Phiếu thu, Phiếu chi;') : 
                            ('Receipts, Payment slips;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Phiếu nhập kho;') : 
                            ('Receipt;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Phiếu xuất kho;') : 
                            ('Delivery bill;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Phiếu kế toán khác;') : 
                            ('Other accounting vouchers;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng kê thu mua hàng hóa không có hóa đơn 01/TNDN;') : 
                            ('List of goods purchase without invoice 01/TNDN;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ phụ tài khoản ngân hàng.') : 
                            ('Bank account sub-book.') }}
                        </li> 
                    </ul>
                    <p style="font-weight: bold;">{{ 
                        language_name == 'vi' ? ('Hồ sơ sổ sách kế toán') : 
                        ('Accounting records') }}
                    </p>
                    <ul>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ nhật ký chung;') : 
                            ('Public diary;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ quỹ tiền mặt;') : 
                            ('Cash book money;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ nhật ký mua hàng;') : 
                            ('Purchase diary;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ nhật ký bán hàng;') : 
                            ('Sales diary') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ cái tài khoản: Tất cả các tài khoản phát sinh;') : 
                            ('Ledger of accounts: All arising accounts;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ chi tiết tài khoản;') : 
                            ('Account details book;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ quỹ tiền mặt;') : 
                            ('Cash book money;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ tiền gửi ngân hàng (Chi tiết từng ngân hàng);') : 
                            ('Bank deposit book (Details of each bank);') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng trích khấu hao tài sản cố định;') : 
                            ('Table of depreciation of fixed assets;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng phân bổ CCDC; chi phí trả trước;') : 
                            ('CCDC allocation table; prepaid expenses;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng định mức nguyên vật liệu;') : 
                            ('Standard table of raw materials;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng dự toán quyết toán công trình;') : 
                            ('Work settlement cost estimate table;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Bảng chi tiết nhập xuất tồn hàng hóa;') : 
                            ('Detailed table of goods import and export;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ tổng hợp, chi tiết công nợ phải thu;') : 
                            ('General book, details of receivables;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ tổng hợp, chi tiết công nợ phải trả;') : 
                            ('General book, details of payables;') }}
                        </li>
                        <li>
                            {{ language_name == 'vi' ? ('Sổ chi tiết tiền vay.') : 
                            ('Loan details book.') }}
                        </li>
                    </ul>
                    <p>{{ item.content_3[language_name] }}</p>
                    <h2>{{ item.content_4[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
