<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Chốt thuế chuyển quận') : 
            ('Closing the district transfer tax') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 4.png">
                    <h3 style="color: rgb(33, 19, 165);">{{ item.content_2[language_name] }}</h3>
                    <h4>{{ item.content_3[language_name] }}</h4>
                    <p>{{ item.content_4[language_name] }}</p>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 1:') : ('Step 1:') }}
                        {{ language_name == 'vi' ? ('Làm việc với cơ quan thuế cũ') : ('Working with the old tax authority') }}
                    </p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Làm hồ sơ gửi lên cơ quan thuế quản lý trực tiếp mẫu 08-MST và nhận giấy hẹn') : 
                            ('Make a dossier and send it to the tax office directly managing form 08-MST and receive an appointment letter') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Nộp các hồ sơ liên quan để cơ quan thuế đối chiếu') : 
                            ('Submit relevant documents to tax authorities for comparison') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Nộp phạt các loại thuế, phí (nếu có)') : 
                            ('Pay fines for taxes and fees (if any)') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thời gian: 8-10 ngày làm việc') : 
                            ('Time: 8-10 working days') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 2:') : ('Step 2:') }}
                        {{ language_name == 'vi' ? ('Làm việc với sở kế hoạch') : ('Working with the planning department') }}
                    </p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Soạn và gửi hồ sơ gửi lên sở kế hoạch') : 
                            ('Compose and send documents to the planning department') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thời gian: 5-7 ngày') : 
                            ('Time: 5-7 days') }}
                        </li>
                    </ul>
                    <p style="font-weight: bold;">{{ language_name == 'vi' ? ('Bước 3:') : ('Step 3:') }}
                        {{ language_name == 'vi' ? ('Làm việc với cơ quan thuế mới') : ('Working with the new tax authority') }}
                    </p>
                    <ul>
                        <li>{{ 
                            language_name == 'vi' ? ('Nộp báo cáo thuế, báo cáo sử dụng hoá đơn và bảng kê kèm theo') : 
                            ('Submit tax report, invoice usage report and attached statement') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Làm thủ tục thay đổi thông tin về hoá đơn') : 
                            ('Procedures for changing invoice information') }}
                        </li>
                        <li>{{ 
                            language_name == 'vi' ? ('Thời gian: 2 ngày') : 
                            ('Time: 2 days') }}
                        </li>
                    </ul>
                    <h2>{{ item.content_5[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
