<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('Dịch vụ làm bảo hiểm cho Doanh nghiệp tại Hà Nội') : 
            ('Insurance services for businesses in Hanoi') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <img class="image-container" src="../../../../assets/images/research/image 11.png">
                    <p style="font-weight: bold; color: red; font-size: 20px;">
                        {{ 
                            language_name == 'vi' ? ('Lý do bạn nên sử dụng dịch vụ bảo hiểm tại công ty Kế toán Việt Nam ?') : 
                            ('Why should you use insurance services at Vietnam Accounting Company?') 
                        }}
                    </p>
                    <ul>
                        <li>{{ item.content_1[language_name] }}</li>
                        <li>{{ item.content_2[language_name] }}</li>
                        <li>{{ item.content_3[language_name] }}</li>
                    </ul>
                    <p style="font-weight: bold; color: red; font-size: 20px;">
                        {{ 
                            language_name == 'vi' ? ('Nội dung công việc dịch vụ bảo hiểm tại Kế toán Việt Nam') : 
                            ('Contents of insurance service work at Accounting Vietnam') 
                        }}
                    </p>
                    <ol>
                        <li style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Tư vấn thủ tục pháp lý liên quan đến bảo hiểm') : 
                                ('Consulting legal procedures related to insurance') 
                            }}
                            <ul style="font-weight: normal;">
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Tư vấn các thủ tục, văn bản pháp luật hiện hành liên quan đến bảo hiểm') : 
                                        ('Advice on procedures and current legal documents related to insurance') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Tư vấn mức đóng bảo hiểm phù hợp với luật thuế và nhu cầu của Doanh nghiệp') : 
                                        ('Consulting the level of insurance premium in accordance with the tax law and the needs of the Enterprise') 
                                    }}
                                </li>
                            </ul>
                        </li>
                        <li style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Làm thủ tục ban đầu để đóng bảo hiểm') : 
                                ('Do the initial procedures to pay insurance') 
                            }}
                            <ul style="font-weight: normal;">
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Soạn thảo hồ sơ để nộp bảo hiểm ( như tờ khai, hợp đồng lao động, quyết định…)') : 
                                        ('Prepare documents to submit insurance (such as declarations, labor contracts, decisions, etc.)') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Giao dịch trực tiếp với cơ quan bảo hiểm để làm thủ tục đóng bảo hiểm.') : 
                                        ('Deal directly with insurance agencies to carry out insurance payment procedures.') 
                                    }}
                                </li>
                            </ul>
                        </li>
                        <li style="font-weight: bold;">
                            {{ 
                                language_name == 'vi' ? ('Dịch vụ theo dõi bảo hiểm hàng tháng') : 
                                ('Monthly insurance tracking service') 
                            }}
                            <ul style="font-weight: normal;">
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Thực hiện việc báo tăng, giảm bảo hiểm, chốt sổ bảo hiểm') : 
                                        ('Perform insurance increase, decrease, close the insurance book') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Cấp, gia hạn thẻ bảo hiểm, làm thủ tục cấp sổ bảo hiểm') : 
                                        ('Issuance and renewal of insurance cards, procedures for issuance of insurance books') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Thực hiện việc thay đổi mức lương, thông tin người nộp') : 
                                        ('Make changes to salary, payer information') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Đối chiếu và thông báo tiền bảo hiểm nộp hàng tháng') : 
                                        ('Compare and notify monthly insurance payment') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Làm thủ tục hưởng chế độ: ốm đau, thai sản..') : 
                                        ('Procedures for enjoying benefits: sickness, maternity..') 
                                    }}
                                </li>
                                <li>
                                    {{ 
                                        language_name == 'vi' ? ('Một số công việc có liên quan đến bảo hiểm xã hội') : 
                                        ('Some jobs are related to social insurance') 
                                    }}
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <h4>
                        {{ 
                            language_name == 'vi' ? ('Đăng ký bảo hiểm lần đầu tiên trong doanh nghiệp quy định như thế nào?') : 
                            ('How to apply for insurance for the first time in an enterprise?') 
                        }}
                    </h4>
                    <p>{{ item.content_4[language_name] }}</p>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Người lao động có hợp đồng lao động thời hạn từ đủ một tháng đến dưới ba tháng.') : 
                                ('The employee has a labor contract with a term of from full one month to less than three months.') 
                            }}
                        </li>
                        <li>{{ item.content_5[language_name] }}</li>
                    </ul>
                    <h4 style="font-style: italic;">
                        {{ 
                            language_name == 'vi' ? ('Trình tự đăng ký BHXH cho doanh nghiệp') : 
                            ('Procedure for registration of social insurance for businesses') 
                        }}
                    </h4>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tư vấn các quy định của pháp luật về BHXH, BHYT, BHTN,…') : 
                                ('Consulting on legal provisions on social insurance, health insurance, unemployment insurance, ...') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Đăng ký khai trình sử dụng lao động tại Phòng Lao Động.') : 
                                ('Register the declaration of employment at the Labor Department.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Đăng ký thành lập Công đoàn (nếu đủ điều kiện) hoặc xin không tham gia Công đoàn (chưa đủ điều kiện).') : 
                                ('Register to establish a Trade Union (if eligible) or apply not to join a Trade Union (not yet eligible).') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Đăng ký hệ thống tháng lương, bảng lương trên Phòng Lao Động.') : 
                                ('Register the monthly salary system, payroll on the Labor Department.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Đăng ký tham gia BHXH, BHYT, BHTN,….') : 
                                ('Register to participate in social insurance, health insurance, unemployment insurance, ....') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Hồ sơ Quý khách hàng cần cung cấp:') : 
                                ('Profile that customer need to provide:') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Giấy phép đăng ký kinh doanh Sao y công chứng)') : 
                                ('Business registration license Notarized copy)') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Danh sách đăng ký tham gia BHXH') : 
                                ('List of registrations to participate in social insurance') 
                            }}
                        </li>
                    </ul>
                    <h4>
                        {{ 
                            language_name == 'vi' ? ('Dịch vụ theo dõi bảo hiểm xã hội BHXH hàng tháng') : 
                            ('Monthly social insurance monitoring service') 
                        }}
                    </h4>
                    <h4>
                        {{ 
                            language_name == 'vi' ? ('Các thủ tục, hồ sơ khi thực hiện theo dõi BHXH hằng tháng:') : 
                            ('Procedures and documents when monitoring monthly social insurance:') 
                        }}
                    </h4>
                    <ul>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập các biểu mẫu báo cáo tăng, giảm lao động trong tháng.') : 
                                ('Prepare reports for increase and decrease in labor in the month.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Hồ sơ điều chỉnh lương, điều chỉnh thông tin cá nhân, ghi và chốt sổ đối với các lao động thôi việc.') : 
                                ('Dossier of salary adjustment, personal information adjustment, recording and closing for employees who quit their jobs.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Giải quyết các chế độ bảo hiểm: ốm đau, thai sản…') : 
                                ('Settlement of insurance regimes: sickness, maternity...') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Đối chiếu, thông báo số tiền phải nộp hàng tháng.') : 
                                ('Compare and notify the amount to be paid monthly.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tính toán quá trình tham gia bảo hiểm của từng lao động.') : 
                                ('Calculating the insurance participation process of each employee.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Gia hạn thẻ BHYT cho người lao động.') : 
                                ('Extension of health insurance cards for employees.') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Bàn giao các số liệu khi doanh nghiệp yêu cầu.') : 
                                ('Hand over the data when required by the business.') 
                            }}
                        </li>
                    </ul>
                    <p>{{ item.content_6[language_name] }}</p>
                    <h2>
                        {{ 
                            language_name == 'vi' ? ('Nếu có nhu cầu về dịch vụ bảo hiểm, hãy gọi ngay cho chúng tôi.') : 
                            ('If you have a need for insurance services, give us a call right away.') 
                        }}
                    </h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
