

<img class="banner" src="../../../assets/images/banner/14718639_852161524919073_849231402605319931_n 1.png">
<div style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
  <div class="container tab">
    <div class="tab-container">
      <div class="tab-item" [class]="selectedTab== 'base'? 'active': ''" (click)="selectedTab='base'">{{ language_name ==
        'vi' ? ('KHÓA CƠ BẢN'| uppercase) : ('basic courses' | uppercase) }}</div>
      <div class="tab-item" [class]="selectedTab== 'advance'? 'active': ''" (click)="selectedTab='advance'">{{
        language_name == 'vi' ? ('KHÓA Nâng cao'| uppercase) : ('advanced courses' | uppercase) }}</div>
    </div>
  </div>
  <div class="section section-item" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="content-courses" style="display: flex; flex-direction: column;">
      <div *ngFor="let item of listContent[selectedTab]; index as i">
        <app-content [index]="i" [item]="item"></app-content>
      </div>
    </div>
  </div>
  
</div>

<script type="text/javascript">
  $(document).ready(function () {
    var height_left1 = $("#left-1").height();
    var height_right2 = $("#right-2").height();

    $("#right-1").height(height_left1);
    $("#left-2").height(height_right2);
  });
</script>
