@media screen and (min-width: 1100px) {
  .banner{
    display: flex;
    width: 100%;
    height: 600px;
  }
  .tab-container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 15px;
    .tab-item {
      width: 70%;
      height: 100px;
      background: #FFFFFF;
      text-align: center;
      flex-basis: 32%;
      color: #1c417a;
      border-radius: 12px;
      box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 20px;
      padding: 38px 30px;
      font-weight: 600;
      margin-bottom: 10px;
      &:hover {
        cursor: pointer;
        background-color: #e3e6ec;
      }
    }
  }
  .tab {
    padding: 20px 0 10px 0;
  }
  .content-courses{
    width: 70%;
    margin: 0px auto;
  }
}

@media screen and (max-width: 700px) {
  .tab-container {
    text-align: center;
    display: flex;
    .tab-item {
      background: #FFFFFF;
      text-align: center;
      color: #1c417a;
      border-radius: 30px;
      box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 36px;
      padding: 38px;
      font-weight: 600;
      &:hover {
        cursor: pointer;
        background-color: #e3e6ec;
      }
    }
  }
  .tab-container {
    flex-direction: column;
    padding: 0 20px;
    align-items: center;
    .tab-item {
      flex-basis: 48% !important;
      max-width: 90% !important;
      width: 100% !important;
      max-height: 100% !important;
      height: 100%;
      margin: 20px;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .tab-container {
    flex-direction: row;
    padding: 0 20px;
    .tab-item {
      text-align: center;
      flex-basis: 60% !important;
      max-width: 100% !important;
      width: 100% !important;
      margin: 20px 0;
    }
  }
}
