<img class="banner" src="../../../assets/images/banner/z2542135508524_76483c89c4d1db496eca357eaa35e4f5 1.png">
<div class="section-empty" style="background: linear-gradient(89.61deg, #ECC440 0.53%, #FFFA8A 28.46%, #DDAC17 63.64%, #FFFF95 99.85%);">
    <div class="container">
        <h2>{{ 
            language_name == 'vi' ? ('TẠI SAO DOANH NGHIỆP CẦN THỰC HIỆN DỊCH VỤ SOÁT XÉT BCTC?') : 
            ('WHY DO ENTERPRISE NEED A FINANCIAL REVIEW SERVICE?') }}
        </h2>
        <mat-card class="bs-card">
            <div id="bs-content">
                <div class="bs-content-main" *ngFor = "let item of business_services">
                    <p>{{ item.content_1[language_name] }}</p>
                    <img class="image-container" src="../../../../assets/images/research/image 10.png">
                    <h4>
                        {{ 
                            language_name == 'vi' ? ('KẾ TOÁN VIỆT NAM CUNG CẤP DỊCH VỤ SOÁT XÉT BÁO CÁO TÀI CHÍNH.') : 
                            ('VIETNAM ACCOUNTANT PROVIDES FINANCIAL STATEMENT REVIEW SERVICES.') 
                        }}
                    </h4>
                    <p>
                        {{ 
                            language_name == 'vi' ? ('Nội dung công việc mà chúng tôi sẽ thực hiện , bao gồm:') : 
                            ('Content of work that we will perform, including:') 
                        }}
                    </p>
                    <ul>
                        <li>{{ item.content_2[language_name] }}</li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Kiểm tra việc định khoản, hạch toán các nghiệp vụ kinh tế phát sinh;') : 
                                ('Checking the accounting, accounting of arising economic operations;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Kiểm tra việc lập và kê khai báo cáo thuế VAT hàng tháng, quý;') : 
                                ('Check the preparation and declaration of monthly and quarterly VAT reports;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Kiểm tra lập Báo cáo thuế thu nhập doanh nghiệp tạm tính quý và Báo cáo quyết toán thuế thu nhập doanh nghiệp năm;') : 
                                ('Checking and making quarterly provisional corporate income tax reports and annual corporate income tax finalization reports;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Kiểm tra Báo cáo thuế thu nhập cá nhân tạm tính quý và Báo cáo quyết toán thuế thu nhập cá nhân năm; ') : 
                                ('Check the quarterly personal income tax report and the annual personal income tax finalization report;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Kiểm tra việc tính nộp và kê khai các loại thuế khác: thuế môn bài, thuế XNK…') : 
                                ('Check the calculation, payment and declaration of other taxes: license tax, import and export tax...') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Kiểm tra việc lập Báo cáo tài chính theo quy định;') : 
                                ('Check the preparation of financial statements according to regulations;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Tư vấn tổng thể về thuế, kế toán và các vấn đề xử phạt khi làm sai để doanh nghiệp nắm bắt được;') : 
                                ('General advice on tax, accounting and sanctioning issues when doing wrong for businesses to grasp;') 
                            }}
                        </li>
                        <li>
                            {{ 
                                language_name == 'vi' ? ('Lập Báo cáo kết quả soát xét gửi cho Quý Công ty, nội dung thể hiện rõ những vấn đề tồn tại, sai sót và đề xuất phương án điều chỉnh, sửa chữa, bổ sung.') : 
                                ('Prepare a report on review results and send it to your company, the content clearly shows the existing problems, errors and proposes adjustment, correction and supplement plans.') 
                            }}
                        </li>
                        <li>{{ item.content_3[language_name] }}</li>
                    </ul>
                    <h2>{{ item.content_4[language_name] }}</h2>
                </div>
            </div>
        </mat-card>
    </div>
    
</div>
