<div class="wrapper">
    <form class="form" [formGroup]="fg">
        <div class="text-center" style="font-size: 20px; font-weight: bold">{{action}} Tin Tức</div>
        <br>
        <mat-form-field class="full-width">
            <mat-label>Tiêu đề</mat-label>
            <input required matInput formControlName="tieu_de">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Mô tả</mat-label>
            <textarea required matInput formControlName="mo_ta"></textarea>
        </mat-form-field>
        <h4>Ảnh</h4>
        <input required type="file" (change)="uploadFile($event)">
        <img [src]="newformdata.anh">
        <!-- <h4>Mô tả</h4>
        <angular-editor formControlName="mo_ta" [config]="config"></angular-editor> -->
        <h4>Nội dung</h4>
        <angular-editor formControlName="noi_dung" [config]="config"></angular-editor>
    </form>
</div>
<div class="text-center">
    <button mat-button (click)="doAction()" mat-flat-button color="primary" [disabled]="!fg.valid">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Hủy Bỏ</button>
</div>
