

@media screen and (min-width: 1100px) {
  .media-title-1{
    .media-body-title{
      flex-basis: 20%;
      width: 70%;
      max-width: 100%;
      font-size: 34px;
      font-weight: bold;
      line-height: 50px;
      color: #1C417A;
      padding-top: 30px;
      margin: 0px auto;
      padding-left: 17px;
    }
  }
  .carousel-container {
    overflow: hidden;
    width: 100%;
    .carousel-content {
      display: flex;
      margin: 40px 0;
      flex-wrap: nowrap;
      padding: 10px 0;
      transition: transform 1s;
      .carousel-parter{
        width: 100%;
        flex-basis: 10%;
        height: 300px;
        border-radius: 10px;
        margin: 0 0.5%;
        box-shadow: 3px 4px 7px 0 #838383;
      }
    }
  }
  .media-title-2{
    height: 700px;
    .media-body-title{
      flex-basis: 20%;
      width: 70%;
      max-width: 100%;
      font-size: 34px;
      font-weight: bold;
      line-height: 50px;
      color: #1C417A;
      margin: 0px auto;
      padding-left: 17px;
    }
  }
  .slide{
    width: 420px;
    height: 347px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .slick-container{
    width: 70%;
    margin: auto;
  }
  ::ng-deep.slick-slider{
    margin: 0px auto;
    width: 100%;
  }
  ::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    font-size: 40px;
   }
   ::ng-deep.slick-prev:before {
    margin: -15px !important;
    
   }
   ::ng-deep.slick-next::before{
    margin: -7px !important;
   }
}

@media screen and (max-width: 700px) {
  .slide{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  .slick-container{
    width: 90%;
    margin: auto;
  }
  ::ng-deep.slick-slider{
    margin: 0px auto;
    width: 90%;
  }
  ::ng-deep.slick-prev::before ,::ng-deep.slick-next::before
  {
    color: rgba($color: gray, $alpha: 0.6) !important;
    font-size: 30px;
   }
   ::ng-deep.slick-prev:before {
    margin: -15px !important;
    
   }
   ::ng-deep.slick-next::before{
    margin: -7px !important;
   }

  .media-title-1{
    .media-body-title{
      flex-basis: 20%;
      width: 100%;
      max-width: 100%;
      font-size: 24px;
      font-weight: bold;
      line-height: 50px;
      color: #1C417A;
      padding-top: 30px;
      margin: 0px auto;
      padding-left: 17px;
    }
  }
  .carousel-container {
    overflow: hidden;
    width: 100%;
    .carousel-content {
      display: flex;
      margin: 40px 0;
      padding: 10px 0;
      transition: transform 1s;
      .carousel-parter {
        width: 50%;
        height: auto;
        border-radius: 10px;
        margin: 0 0.5%;
        box-shadow: 3px 4px 7px 0 #838383;
      }
    }
  }
  .media-title-2{
    height: 700px;
    .media-body-title{
      flex-basis: 20%;
      width: 100%;
      max-width: 100%;
      font-size: 24px;
      font-weight: bold;
      line-height: 50px;
      color: #1C417A;
      margin: 0px auto;
      padding-left: 17px;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  .carousel-container {
    overflow: hidden;
    width: 100%;
    .carousel-content {
      display: flex;
      margin: 40px 0;
      flex-wrap: nowrap;
      padding: 10px 0;
      transition: transform 1s;
      .carousel-parter {
        width: 50%;
        height: auto;
        border-radius: 10px;
        margin: 0 0.5%;
        box-shadow: 3px 4px 7px 0 #838383;
      }
    }
  }
  #blog-body{
    .blog-body-image{
      flex-basis: 50%;
      max-width: 100%;
      width: 100%;
    }
    .blog-body-title{
      width: 100%;
      max-width: 100%;
      font-size: 34px;
      font-weight: bold;
      line-height: 100px;
      padding: 5px;
      text-align: center;
      margin: auto;
      color: #1C417A
    }
  }
}
