<app-slide [is_right]="false"></app-slide>

<div
  style="
    background: linear-gradient(
      90deg,
      #ecc440 0%,
      #fffa8a 31.77%,
      #ddac17 67.71%,
      #ffff95 100%
    );
  "
>
  <div class="content custom-container">
    <div *ngFor="let item of data_translate.content" class="media-title-1">
      <div class="media-body-title">
        {{ item.title[language_name] }}
      </div>
    </div>

  <div class="slick-container">
    <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let item of data_translate.parter"
      class="slide"
    >
      <img [src]="'../../../assets/images/blogs/parters/' + item" />
    </div>
  </ngx-slick-carousel>
  </div>
    <div *ngFor="let item of data_translate.content" class="media-title-2">
      <div class="media-body-title">
        {{ item.title_2[language_name] }}
      </div>
    </div>
  </div>
</div>
